= semantic_form_for [:admin, @page], :html => {:class => "custom", :multipart => true} do |f|
  .row
    %label Which site:
    .small-6.columns= f.input :subsite,  :as => :select, :collection => Subsite.accessible_by(current_ability),  :include_blank => false
  .row
    %dl.tabs{"data-tab" => ""}
      - I18n.available_locales.each_with_index do |locale, i|
        %dd{:class => (i == 0 ? :active : false)}
          = link_to t(:locale_name, :locale => locale), "##{locale}"
    .tabs-content
      - I18n.available_locales.each_with_index do |locale, i|
        .content{:class => (i == 0 ? :active : false), :id => "#{locale}"}
          = f.globalize_fields_for locale do |en|
            .row
              .small-12.columns
                %b= "Name of page in #{t :locale_name, :locale => locale}"
                = en.text_field :name  
            .row
              .small-12.columns
                %b= "Page content in #{t :locale_name, :locale => locale}"
                = en.cktext_area :body
  .row
    .small-3.columns= f.input :published
  .row
    .small-2.columns= f.submit 'Save', :class => [:button, :round]