%tr
  %td= page.name
  %td= page.subsite.name
  %td.actions
    - if can? :edit, Page
      = link_to 'Edit', edit_admin_subsite_page_path(page.subsite, page)
    - if can? :destroy, Page
      |
      = link_to 'Destroy', "/admin/subsites/#{page.subsite.id}/pages/#{page.slug.to_s}", :method => :delete, :data => {:confirm => "Are you sure?"}