%tr{:class => classpassed.nil? ? false : classpassed + " child"}
  %td
    - page.depth.times do
      = "--"
    = page.name
    - unless page.children.empty?
      %span.small= link_to '+ expand '  + pluralize(page.children.size, 'subpage'), "javascript:$('.child.children_#{page.id.to_s}').toggle();"
  %td= l page.updated_at.to_date, :format => :long
  %td= page.published == true ? 'yes' : 'no'
  %td= page.subsite.name
  %td.actions
    - if can? :edit, Page
      = link_to 'Edit', edit_admin_subsite_page_path(page.subsite, page)
    - if can? :destroy, Page
      |
      = link_to 'Destroy', "/admin/subsites/#{page.subsite.id}/pages/#{page.slug.to_s}", :method => :delete, :data => {:confirm => "Are you sure?"}
- unless page.children.empty?
  - page.children.each do |child|
    = render :partial => 'page', :locals => {:page => child, :classpassed => "children_#{page.id.to_s}" }
    