.row
  .small-10.columns
    %h2 Pages
    
    = paginate @pages
    %table.table.table-condensed.pages
      %thead
        %tr
          %th= sortable_column "Name"
          %th= sortable_column "When"
          %th= sortable_column "Published"
          %th= sortable_column "Site"
          %th{:colspan => 2}
      %tbody
        - @pages.each do |page|
          = render :partial => 'page', :locals => {:page => page, :classpassed => nil}
    = paginate @pages
    %p= link_to 'Enter new page', new_admin_page_path
    