.row.expanded
  .small-10.columns
    %h2 Pages
.row.expanded
  .small-9.columns
    %p= page_entries_info(@pages)
      
    %p= link_to 'Create new page', new_admin_page_path, :class => [:round, :button, :tiny]
.filter_box.row.expanded
  .large-2.columns
    .filter_title Filter by site:
    %select#by_subsite
      %option{:value => ""} &nbsp;
      - Subsite.all.each do |subsite|
        %option{:value => subsite.id, :selected => (params[:by_subsite] == subsite.id.to_s ? :selected : false)}= subsite.name
  .large-2.columns
    .filter_title Show:
    %select#type_filter
      %option{:value => "all", :selected => (params[:all] == "true" ? :selected : false)} All pages
      
      %option{:value => "festivals", :selected => (params[:festivals] == "true" ? :selected : false)} Festival pages
      %option{:value => "projects", :selected => (params[:projects] == "true" ? :selected : false) } Project pages
      %option{:value => "unlinked", :selected => (params[:unlinked] == "true" ? :selected : false) } Stand alone pages
  .large-6.columns
    .filter_title Find by text:
    = form_tag '/admin/pages', :method => :get do
      = autocomplete_field_tag 'by_name', params[:by_name], autocomplete_page_name_admin_pages_path


  :javascript
    $('.filter_box select#type_filter').change(function() {
      var parts = "#{request.url}".split(/\?/, 2);
      if (parts[1]) {
        window.location.href=parts[0] + "?" + $(this).val() + "=true"; 
        //+ parts[1].replace(new RegExp("\\&*" + $(this).attr('id') + "\=\\w+", "g"), '');
      } else {
        window.location.href=parts[0] + "?" + $(this).val() + "=true";
      }
    });
    $('.filter_box select#by_subsite').change(function() {
      var parts = "#{request.url}".split(/\?/, 2);
      if (parts[1]) {
        if ($(this).val() == '') {
          window.location.href=parts[0] + "?" + parts[1].replace(new RegExp("\\&*" + $(this).attr('id') + "\=\\d+", "g"), '');
        } else {
          window.location.href=parts[0] + "?" + parts[1].replace(new RegExp("\\&*" + $(this).attr('id') + "\=\\d+", "g"), '') + "&" + $(this).attr('id') + "=" + $(this).val();
        }
      } else {
        window.location.href=parts[0] + "?" + $(this).attr('id') + "=" + $(this).val();
      }
    });
.row.expanded
  .columns
    = paginate @pages
    %table.table.table-condensed.pages
      %thead
        %tr
          %th= sortable_column "ID"
          %th= sortable_column "Name"
          %th= sortable_column "Created"
          %th= sortable_column "Updated"
          %th= sortable_column "Published"
          %th= sortable_column "Site"
          %th{:colspan => 2}
      %tbody
        - @pages.each do |page|
          = render :partial => 'page', :locals => {:page => page, :classpassed => nil}
    = paginate @pages
    %p= link_to 'Create new page', new_admin_page_path, :class => [:round, :button, :tiny]
    