.row 
  .small-12.columns
    %h2 Front modules
.row
  .small-10.columns
    %p Edit the names of templates and example images for the front items.
    

%table
  %thead
    %th= t :name
    %th &nbsp;
  %tbody
    - @frontmodules.each do |fm|
      %tr
        %td
          - if fm.exampleimage?
            = image_tag fm.exampleimage.url(:thumb)
          %b= fm.name
        %td
          = link_to 'Edit', edit_admin_frontmodule_path(fm), :class => [:button, :round, :tiny]

= link_to 'New front module', new_admin_frontmodule_path,        :class => [:button, :round, :tiny]
    