- if current_user
  = "Logged in as #{current_user.username}"
  |
  = link_to 'Edit your profile', edit_user_registration_path(current_user)
  |
  = link_to 'Sign out', '/signout'
- else
  = link_to 'Login', 'http://auth.pixelache.ac/users/sign_in'

- if can? :manage, Node
  |
  = link_to "Nodes", admin_nodes_path
- if can? :manage, Festival
  |
  = link_to "Festivals", admin_festivals_path  
    
- if can? :manage, Event
  |
  = link_to 'Events', admin_events_path
- if can? :manage, Page
  |
  = link_to 'Pages', admin_pages_path
- if can? :manage, Project
  |
  = link_to 'Projects', admin_projects_path
- if can? :manage, Post
  |
  = link_to 'Posts', admin_posts_path
    
    