!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Open Learning Steps and Open-sourcing Festivals"
      %meta{:content => content_for?(:description) ? yield(:description) : "OLSOF project", :name => "description"}
      = stylesheet_link_tag "application", :media => "all"
      %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,500,700,300", :rel => "stylesheet", :type => "text/css"}/
      = stylesheet_link_tag 'olsof/stylesheets/application', :media => :screen
      = csrf_meta_tags
      
      = yield(:head)
      
  %body{:class => "#{controller_name} #{action_name}"}
    = javascript_include_tag "application"
    = javascript_include_tag "vendor/modernizr"
    - if user_signed_in?
      %header
        .contain-to-grid.sticky= render 'admin/layouts/navigation'
    .row
      .large-4.medium-12.small-10.small-offset-1.columns.push.large-offset-0#sidebar
        .row
          .logo_container.medium-4.large-12.large-offset-0.columns
            .logo
              .first= link_to 'Open', '/'
            .logo
              .second= link_to raw("&#8594;Sourcing"), '/'
            .logo
              .third= link_to 'Festivals', '/'
            %select#mobile_menu.show-for-small-only
              %option= t :choose
              %option{:selected => (controller.controller_name == 'pages' ? :selected : false), :value => page_path('about')}= t :about
              %option{:selected => (controller.controller_name == 'nodes' ? :selected : false), :value => nodes_path}= t :partners
              %option{:selected => (controller.controller_name == 'publications' ? :selected : false), :value => publications_path}= t :publications
              %option{select: controller.controller_name == 'steps' ? :selected : false, value: steps_path}= t :steps
          
              %option{:selected =>  controller.controller_name == 'events' ? :selected : false, :value => events_path}= t :events
              - @calendar.sort_by(&:start_at).each do |cal|
                %option{value: url_for(cal)}= " -- #{cal.name} ({#{cal.start_at.strftime("%d %B")})"
              %option{:selected => (controller.controller_name == 'home'  || controller.controller_name == 'posts' ? :selected : false), :value => '/'}= t :news
              :javascript 
                $('#mobile_menu').change(function() {
                  window.location = $(this).find("option:selected").val();
                });
        
          .nav_lines.medium-6.columns.medium-offset-2.hide-for-small-only.large-10.large-offset-3
            = image_tag current_theme_image_path('nav_lines.png'), :class => :navbg
            .item.publications= link_to t(:publications), publications_path
            .item.about= link_to t(:about), page_path('about')
            .item.partners= link_to t(:partners), nodes_path
            .item.steps= link_to t(:steps), steps_path
            .item.events= link_to t(:events), events_path
            .item.news= link_to t(:news), '/'
        .row
          - unless @calendar.empty?
            .calendar.show-for-large-only.medium-4.large-10.columns.large-offset-1
            
              .heading
                = image_tag current_theme_image_path('littlesquare.jpg')
                = t(:calendar)
              %ul.calendar_events
                - @calendar.sort_by(&:start_at).each do |cal|
                  %li
                    .date= "#{date_range(cal.start_at, cal.end_at, format: :long)}"
                    .name= link_to cal.name, cal
            .calendar-dd.show-for-medium-only.medium-4.medium-offset-0.columns
              %select
                %option{value: nil}= t :calendar

          .search.medium-4.medium-offset-2.large-10.columns.large-offset-1
            .square= image_tag current_theme_image_path('littlesquare.jpg')
            = form_tag '/search/' do
              = text_field :search, :term
              = submit_tag 'Search'
          = yield :sidebar

      .large-8.medium-10.small-12.pull.columns#middle.medium-offset-1.large-offset-0
        = yield :middle

        .right_wrap.row.show-for-large-only
          .small-12.columns
            .language
              .default
                .active= image_tag(current_theme_image_path('black_circle.png'))
                .current= I18n.locale.to_s
              .choices
                - [:en, :fi, :fr]. each do |lang|
                  - next if lang == I18n.locale
                  .choice
                    = link_to(:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => lang.to_s) do
                      .choice_circle= image_tag(current_theme_image_path('black_circle.png'))
                      .choice_text= lang.to_s
            .bar_menu
              #menutext
                - case controller.controller_name
                  - when 'steps'
                    = t :steps
                    :javascript
                      var onPage = "#{t(:steps)}";
                  - when 'publications'
                    = t :publications
                    :javascript
                      var onPage = "#{t(:publications)}";
                  - when 'nodes'
                    = t :partners
                    :javascript
                      var onPage = "#{t(:partners)}";
                  - when 'pages'
                    = t :about
                    :javascript
                      var onPage = "#{t(:about)}";
                  - when 'posts'
                    = t :news
                    :javascript
                      var onPage = "#{t(:news)}";
                  - when 'home'
                    = t :news
                    :javascript
                      var onPage = "#{t(:news)}";
                  - when 'events'
                    = t :events
                    :javascript
                      var onPage = "#{t(:events)}";
                  - when 'steps'
                    = t :events
                    :javascript
                      var onPage = "#{t(:events)}";
              .bar{:class => (controller.controller_name == 'pages' ? :active : false)}= link_to image_tag(theme_image_path('vert_bar.png')), '/pages/about', :rel => t(:about)
              
              .bar{:class => (controller.controller_name == 'steps' ? :active : false)}= link_to image_tag(theme_image_path('vert_bar.png')), '/steps', :rel => t(:steps)
              
              .bar{:class => (controller.controller_name == 'publications' ? :active : false)}= link_to image_tag(theme_image_path('vert_bar.png')), '/publications', :rel => t(:publications)           
              .bar{:class => (controller.controller_name == 'nodes' ? :active : false)}= link_to image_tag(theme_image_path('vert_bar.png')), nodes_path, :rel => t(:partners)
              .bar{:class => (controller.controller_name == 'posts' || controller.controller_name == 'home' ? :active : false)}= link_to image_tag(theme_image_path('vert_bar.png')), '/', :rel => t(:news)
              .bar{:class => (controller.controller_name == 'events' ? :active : false)}= link_to image_tag(theme_image_path('vert_bar.png')), events_path, :rel => t(:events)
              :javascript
                $('.bar').mouseover(function() {
                  $('#menutext').text($(this).find('a').attr('rel'));
                }).mouseout(function() {
                  $('#menutext').text(onPage);
                });
                $('.language .default').mouseover(function() {
                  $('.language .active img').attr('src', '/assets/olsof/images/blue_circle.png');
                  $('.language .current').css('color', '#4a97c7');
                }).mouseout(function() {
                  $('.language .active img').attr('src', '/assets/olsof/images/black_circle.png');
                  $('.language .current').css('color', '#000');
                }).click(function() {
                  $('.language .choices').slideDown();
                });
                $('.language .choices .choice').mouseover(function() {
                  $(this).find('img').attr('src', '/assets/olsof/images/blue_circle.png');
                  $(this).find('a').css('color', '#4a97c7');
                }).mouseout(function() {
                  $(this).find('img').attr('src', '/assets/olsof/images/black_circle.png');
                  $(this).find('a').css('color', '#000');
                })

        .row
          .small-12.columns#main= yield
    %footer.olsof-footer
      .row  
        .small-12.columns.text-center.info_line
          = link_to 'Contact', 'mailto:grundvig@pixelache.ac'
          |
          2013-2015
          |
          = link_to 'GitHub', 'https://github.com/pixelache/pixelinfra'
      .row 
        .small-12.columns
          - @site.nodes.uniq.each do |node|
            .small-2.columns= link_to image_tag(node.logo.url(:logo), :width => 130), node.website
          .small-2.columns= theme_image_tag 'grundtvig_logo_english.png'
    :javascript
      $(document).ready(function() {
        #{yield :jquery}
      });
