!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "OLSOF"
      %meta{:content => content_for?(:description) ? yield(:description) : "OLSOF project", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = stylesheet_link_tag 'olsof/stylesheets/application', :media => :screen
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #container.container
      %header
        = render 'layouts/navigation'
        = render 'layouts/messages'
      #main{:role => "main"}
        .large-9.push-3.columns= yield
        .large-3.pull-9.columns
          .section-container.accordion{"data-section" => "accordion", "data-section-small-style" => true}
            %section
              %p.title Pages
              .content      
                %ul.side-nav
                  - Page.by_site(@site.id).published.each do |page|
                    %li= link_to page.name, page
            %section
              %p.title Events
              .content
                %ul.side-nav
                  - Event.by_site(@site.id).published.each do |event|
                    %li
                      .title= link_to event.name, event
                      .metadata
                        = l event.start_at, :format => :long
        
      %footer
    / ! end of #container
