!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Open Learning Steps and Open-sourcing Festivals"
      %meta{:content => content_for?(:description) ? yield(:description) : "OLSOF project", :name => "description"}
      = stylesheet_link_tag "application", :media => "all"
     
      = stylesheet_link_tag 'olsof/stylesheets/application', :media => :screen
      = csrf_meta_tags
      
      = yield(:head)
      
  %body{:class => "#{controller_name} #{action_name}"}
    = javascript_include_tag "application"
    = javascript_include_tag "vendor/modernizr"
    .row
      .large-3.medium-4.small-12.columns.push.large-offset-1#sidebar
        .logo
          .first= link_to 'Open', '/'
        .logo
          .second= link_to raw("&#8594;Sourcing"), '/'
        .logo
          .third= link_to 'Festivals', '/'
        %select#mobile_menu
          %option= t :choose
          %option{:selected => (controller.controller_name == 'pages' ? :selected : false), :value => page_path('about')}= t :about
          %option{:selected => (controller.controller_name == 'nodes' ? :selected : false), :value => nodes_path}= t :partners
          %option{:selected => (controller.controller_name == 'publications' ? :selected : false), :value => publications_path}= t :publications
          %option{:selected => (controller.controller_name == 'steps' || controller.controller_name == 'events' ? :selected : false), :value => events_path}= t :events
          %option{:selected => (controller.controller_name == 'home'  || controller.controller_name == 'posts' ? :selected : false), :value => '/'}= t :news
          :javascript 
            $('#mobile_menu').change(function() {
              window.location = $(this).find("option:selected").val();
            });
        
        .nav_lines
          = image_tag current_theme_image_path('nav_lines.png'), :class => :navbg
          .item.publications= link_to t(:publications), publications_path
          .item.about= link_to t(:about), page_path('about')
          .item.partners= link_to t(:partners), nodes_path
          .item.events= link_to t(:events), events_path
          .item.news= link_to t(:news), '/'
          
        .calendar
          %h5= t(:calendar) + ":"
          %ul.calendar_events
            - @calendar.each do |cal|
              %li
                = "#{date_range(cal.start_at, cal.end_at)}"
                %br/
                = link_to cal.name, cal
                
        = yield :sidebar
      
      .large-8.medium-8.small-12.pull.columns#middle
        = yield :middle

        .right_wrap.row
          .small-12.columns
            .language
              .default
                .active= image_tag(current_theme_image_path('black_circle.png'))
                .current= I18n.locale.to_s
              .choices
                - [:en, :fi, :fr]. each do |lang|
                  - next if lang == I18n.locale
                  .choice
                    = link_to(:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => lang.to_s) do
                      .choice_circle= image_tag(current_theme_image_path('black_circle.png'))
                      .choice_text= lang.to_s
            .bar_menu
              #menutext
                - case controller.controller_name
                  - when 'publications'
                    = t :publications
                  - when 'nodes'
                    = t :partners
                  - when 'pages'
                    = t :about
                  - when 'posts'
                    = t :news
                  - when 'home'
                    = t :news
                  - when 'events'
                    = t :events
                  - when 'steps'
                    = t :events
              .bar{:class => (controller.controller_name == 'pages' ? :active : false)}= link_to image_tag(theme_image_path('vert_bar.png')), '/pages/about', :rel => t(:about)
              .bar{:class => (controller.controller_name == 'publications' ? :active : false)}= link_to image_tag(theme_image_path('vert_bar.png')), '/ppublications', :rel => t(:publications)           
              .bar{:class => (controller.controller_name == 'nodes' ? :active : false)}= link_to image_tag(theme_image_path('vert_bar.png')), nodes_path, :rel => t(:partners)
              .bar{:class => (controller.controller_name == 'posts' || controller.controller_name == 'home' ? :active : false)}= link_to image_tag(theme_image_path('vert_bar.png')), '/', :rel => t(:news)
              .bar{:class => (controller.controller_name == 'events' ? :active : false)}= link_to image_tag(theme_image_path('vert_bar.png')), events_path, :rel => t(:events)
              :javascript
                $('.bar').mouseover(function() {
                  $('#menutext').text($(this).find('a').attr('rel'));
                }).mouseout(function() {
                  $('#menutext').text('');
                });
                $('.language .default').mouseover(function() {
                  $('.language .active img').attr('src', '/assets/olsof/images/blue_circle.png');
                  $('.language .current').css('color', '#4a97c7');
                }).mouseout(function() {
                  $('.language .active img').attr('src', '/assets/olsof/images/black_circle.png');
                  $('.language .current').css('color', '#000');
                }).click(function() {
                  $('.language .choices').slideDown();
                });
                $('.language .choices .choice').mouseover(function() {
                  $(this).find('img').attr('src', '/assets/olsof/images/blue_circle.png');
                  $(this).find('a').css('color', '#4a97c7');
                }).mouseout(function() {
                  $(this).find('img').attr('src', '/assets/olsof/images/black_circle.png');
                  $(this).find('a').css('color', '#000');
                })

        .row
          .small-12.columns#main= yield
    %footer
      .olsof-footer
        .row
          - @site.nodes.uniq.each do |node|
            .small-2.columns= link_to image_tag(node.logo.url(:logo), :width => 130), node.website
          .small-2.columns= theme_image_tag 'grundtvig_logo_english.png'
    / ! end of #container
