!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = display_meta_tags :site => 'Pixelache Festival 2016' 
    
    %meta{:content => content_for?(:description) ? yield(:description) : "Pixelache Festival 2016", :name => "description"}
    %link{:href => "http://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/feed", :rel => "alternate", :title => "RSS", :type => "application/rss+xml"}/
    
    = render partial: 'layouts/favicons'
    -#= stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag 'empathy/stylesheets/application', :media => :screen
    = stylesheet_link_tag 'print', media: :print
    = javascript_include_tag "empathy/javascripts/application"
    = javascript_include_tag "vendor/modernizr"


    - if controller.controller_name == 'events' || (controller.action_name == 'page' || params[:id] == 'locations') || (controller.controller_name == 'experiences')
      %script{:src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}", :type => "text/javascript"}
    = csrf_meta_tags
    = yield(:head)
  %body{class: [controller.controller_name, controller.action_name, @page.nil? ? false : @page.slug]}
    - unless current_user
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-40681531-3', 'auto');
        ga('send', 'pageview');
    %header
      %section
            
        .fixed
          %nav.top-bar{:"data-topbar" => '', :"data-options" => "scrolltop:false", role: :navigation, class: [@page.nil? ? false : @page.slug]}
            .languages_mobile.show-for-medium-down
              = link_to_unless(session[:locale].to_s == 'en', 'ENG', {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'en'}) 
              %span.divider= " | "
              = link_to_unless(session[:locale].to_s == 'fi', 'FIN', { :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'fi'} )
            .title-area
              %li.name
                = link_to image_tag(theme_image_path('logo_basic.png')), '/'
              %li.toggle-topbar.menu-icon
                %a{href: '#'}
                  %span= t :menu
              .menu_wrapper
                .menu_bar
                  = link_to t(:info), '#', :"data-dropdown-init" => '', :"data-dropdown" => 'info', :"aria-controls" => 'info', :"aria-expanded" => false, :"data-options" => "align:bottom;ignore_repositioning:true;is_hover:true; hover_timeout:5000", class: :"hide-for-small-only"
                  %ul#info{:class => "f-dropdown", :"data-dropdown-content" => '', :"aria-hidden" => "true", tabindex: -1}
                    %li= link_to t("empathy.about"), festival_page_festival_path('festival-2016', 'about')
                    %li= link_to t("empathy.contact"), festival_page_festival_path('festival-2016', 'contact')
                    %li= link_to t("empathy.media"), festival_page_festival_path('festival-2016', 'media')
                    %li= link_to t("empathy.locations"), festival_page_festival_path('festival-2016', 'locations')
                  = link_to t("empathy.programme"), '/programme', :"data-dropdown" => 'programme', :"aria-controls" => 'programme', :"aria-expanded" => false, :"data-options" => "align:bottom;ignore_repositioning:true;is_hover:true; hover_timeout:5000",  :"data-follow-click" => '', id: "programme_link"
                  %ul#programme.f-dropdown{:"data-dropdown-content" => '', :"aria-hidden" => "true", tabindex: -1}
                    %li= link_to t("empathy.schedule"),  festival_page_festival_path('festival-2016', 'schedule')
                  %li.show-for-small-only= link_to t("empathy.about"), festival_page_festival_path('festival-2016', 'about')
                  %li.show-for-small-only= link_to t("empathy.schedule"),  festival_page_festival_path('festival-2016', 'schedule')
                  %li.show-for-small-only= link_to t("empathy.contact"), festival_page_festival_path('festival-2016', 'contact')
                  %li.show-for-small-only= link_to t("empathy.media"), festival_page_festival_path('festival-2016', 'media')
                  %li.show-for-small-only= link_to t("empathy.locations"), festival_page_festival_path('festival-2016', 'locations')

                  = link_to t("empathy.news"), festival_posts_path('festival-2016')
                .languages.show-for-large-up
                  = link_to_unless(session[:locale].to_s == 'en', 'ENG', {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'en'}) 
                  %span.divider= " | "
                  = link_to_unless(session[:locale].to_s == 'fi', 'FIN', { :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'fi'} )

                


    - if flash
      - flash.each do |key, value|
        .alert.text-center{ :class => "alert-#{key}" }
          %strong= value
            
    %section.empathy_container{class: [controller.controller_name, controller.action_name, @page.nil? ? false : @page.slug]}
      %article= yield

    %footer{class: [controller.controller_name, controller.action_name, @page.nil? ? false : @page.slug]}
      .logo= link_to image_tag(theme_image_path('footer/logo.png'), :alt => "Pixelache"), 'http://pixelache.ac'
      .dates.hide-for-small-only= date_range(@festival.start_at, @festival.end_at)
      -#.text.hide-for-small-only= link_to 'www.pixelache.ac', 'http://pixelache.ac'
      .social
        = link_to image_tag(theme_image_path('footer/facebook.png'), width: 25), 'https://www.facebook.com/events/1019391098151871'
        = link_to image_tag(theme_image_path('footer/flickr.png'), width: 25), 'https://www.flickr.com/photos/pixelache/'        
        = link_to image_tag(theme_image_path('footer/twitter.png'), width: 25), 'https://twitter.com/pixelache'
        = link_to image_tag(theme_image_path('footer/vimeo.png'), width: 25), 'https://vimeo.com/pixelache'
        = link_to image_tag(theme_image_path('footer/instagram.png'), width: 25), 'https://www.instagram.com/pixelache/'        
        = link_to image_tag(theme_image_path('footer/bamboozer.png'), width: 25), 'http://bambuser.com/channel/pixelversity'



      
    :javascript
      $(document).ready(function() {
        $('[data-follow-click]').on('click', function() {
          location.href = this.href;
        });
        $('select.main_nav_select').change(function() {
          window.location = $(this).find("option:selected").val();
        });

          
        #{yield :jquery}
        
      });    