!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = display_meta_tags :site => 'Pixelache Festival 2016' 
    
    %meta{:content => content_for?(:description) ? yield(:description) : "Pixelache Festival 2016", :name => "description"}
    %link{:href => "http://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/feed", :rel => "alternate", :title => "RSS", :type => "application/rss+xml"}/
    = favicon_link_tag theme_image_path('favicon.ico')
    -#= stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag 'empathy/stylesheets/application', :media => :screen
    = stylesheet_link_tag 'print', media: :print
    = javascript_include_tag "empathy/javascripts/application"
    = javascript_include_tag "vendor/modernizr"


    - if controller.controller_name == 'events' || (controller.action_name == 'page' || params[:id] == 'locations') || (controller.controller_name == 'experiences')
      %script{:src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}", :type => "text/javascript"}
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40681531-2', 'auto');
      ga('send', 'pageview');
    %header
      %section
            
        .fixed
          %nav.top-bar{:"data-topbar" => '', role: :navigation, class: [@page.nil? ? false : @page.slug]}
            %ul.title-area
              %li.name
                = link_to image_tag(theme_image_path('logo_basic.png')), '/'
            .menu_wrapper
              %ul.left.hide-for-small-only
                %li= link_to t("empathy.about"), festival_page_festival_path('festival-2016', 'about')
                %li= link_to t("empathy.preliminary_programme"), festival_page_festival_path('festival-2016', 'preliminary-programme')
                %li= link_to t("empathy.news"), festival_posts_path('festival-2016')
                %li= link_to t("empathy.locations"), festival_page_festival_path('festival-2016', 'locations')
                %li= link_to t("empathy.contact"), festival_page_festival_path('festival-2016', 'contact')

          .row.show-for-small-only.mobile_holder{class: [controller.controller_name, controller.action_name, @page.nil? ? false : @page.slug]}
            .small-8.small-offset-2
              %nav.mobile-menu
                %select.main_nav_select{class: [controller.controller_name, controller.action_name, @page.nil? ? false : @page.slug]}
                  %option{value: ''}  Go to ...
                  %option{:value => festival_page_festival_path('festival-2016', 'about'), :selected => (request.path =~ /about$/ ? 'selected' : false)}= t("empathy.about")
                  %option{:value => festival_page_festival_path('festival-2016', 'preliminary-programme'), :selected => (request.path =~ /preliminary-programme$/  ? 'selected' : false)}= t("empathy.preliminary_programme")
                  %option{:value => festival_posts_path('festival-2016'), :selected => (controller.controller_name == :posts ? 'selected' : false)}= t("empathy.news")
                  %option{:value => festival_page_festival_path('festival-2016', 'locations'), :selected => (request.path =~ /locations$/  ? 'selected' : false)}= t("empathy.locations")
                  %option{:value => festival_page_festival_path('festival-2016', 'contact'), :selected => (request.path =~ /contact$/  ? 'selected' : false)}= t("empathy.contact")
    - if flash
      - flash.each do |key, value|
        .alert.text-center{ :class => "alert-#{key}" }
          %strong= value
            
    %section.empathy_container{class: [controller.controller_name, controller.action_name, @page.nil? ? false : @page.slug]}
      %article= yield

    %footer{class: [controller.controller_name, controller.action_name, @page.nil? ? false : @page.slug]}
      .logo= link_to image_tag(theme_image_path('footer/logo.png'), :alt => "Pixelache"), 'http://pixelache.ac'
      .text.hide-for-small-only= link_to 'www.pixelache.ac', 'http://pixelache.ac'
      .social
        = link_to image_tag(theme_image_path('footer/facebook.png'), width: 25), 'https://www.facebook.com/pixelache'
        = link_to image_tag(theme_image_path('footer/flickr.png'), width: 25), 'https://www.flickr.com/photos/pixelache/'        
        = link_to image_tag(theme_image_path('footer/twitter.png'), width: 25), 'https://twitter.com/pixelache'
        = link_to image_tag(theme_image_path('footer/vimeo.png'), width: 25), 'https://vimeo.com/pixelache'
        = link_to image_tag(theme_image_path('footer/instagram.png'), width: 25), 'https://www.instagram.com/pixelache/'        
        = link_to image_tag(theme_image_path('footer/bamboozer.png'), width: 25), 'http://bambuser.com/channel/pixelversity'



      
    :javascript
      $(document).ready(function() {
        $('select.main_nav_select').change(function() {
          window.location = $(this).find("option:selected").val();
        });

          
        #{yield :jquery}
        
      });    