
= semantic_form_for [:admin, @membership], html: {:"data-abide" => true } do |f|
  .row
    .small-6.columns
      = f.input :user, :collection => User.order("lower(name)"), input_html: {:required => ''}
  .row
    .small-6.columns
      = f.input :year, :as => :select, :collection => Time.now.to_date.year.to_s.downto(2003).to_a, :include_blank => false, input_html: {:required => ''}
  .row
    .small-6.columns
      = f.input :paid
  .row
    .small-6.columns
      = f.input :hallitus
  .row
    .small-6.columns
      = f.input :hallitus_alternate
  .row
    .small-6.columns= f.input :notes
  .row
    .small-6.columns= f.submit t(:save), class: [:button, :round, :small]