%tr
  %td
    = link_to etherpad.name, 'http://pad.pixelache.ac/p/' + etherpad.name, :target => :_blank
    %div= link_to 'Categorise', edit_admin_etherpad_path(etherpad)
    - if etherpad.private_pad == true
      %small
        %b PRIVATE!
  %td
    = etherpad.subsites.map(&:name).join(', ')
    
  %td= etherpad.festivals.map(&:name).join(', ')
  %td= raw etherpad.projects.map(&:name).join('<br />')
  
  %td.actions
    
    - if can? :destroy, etherpad
      = link_to 'Delete', [:admin, etherpad], :method => :delete, :data => {:confirm => 'Are you sure? This will delete the pad forever.' }, :class => [:button, :round, :alert, :tiny]