#etherpad_form
  = semantic_nested_form_for [:admin, @etherpad], :html => {:class => "custom" } do |f|
    .row
      .small-9.columns
        %h2
          Etherpad: 
          = @etherpad.name
    .row
      .small-10.columns= f.input :subsites, :as => :check_boxes, :label => "Which website?"
    .row
      .small-6.columns
        = f.input :meetings, collection: Meeting.all.order(start_at: :desc)
    .row
      .small-3.columns= f.input :festivals, collection: Festival.all.order(:start_at)
      .small-3.columns.small-offset-2= f.input :projects, :collection => Project.active_menu
    .row
      .small-6.columns
      
        = f.input :event_ids, :as => :select, :collection => Event.all.order('start_at desc').map{ |a| [ a.event_with_date, a.id ] }, :label => raw("<h5>Connected to events?</h5>"), :multiple => true

    .row
      .small-6.columns
        = f.input :documenttype, :as => :select, :collection => recurse_options_from_tree_collection_for_select(Documenttype.roots, :id, :name), label:'Document type:'
    .row
      .small-3.columns= f.input :private_pad, :label => "Make private?", :hint => "Tick this to remove this pad from the public list of pads"
  
    .row
      .small-10.columns
        = f.submit 'Save', :class => [:button, :small, :round]
  
  = content_for :jquery do
    :plain
      $('#etherpad_event_ids').chosen();
      $('select#etherpad_project_ids').chosen();
      $('select#etherpad_meeting_ids').chosen();
      $('select#etherpad_festival_ids').chosen();