.row
  .small-12.columns
    %h2 Pixelache Etherpads
    
    %p Note: Etherpads are synchronised every 20 minutes. If you create a new pad it may take up to 20 minutes to appear in this list
    
    .filter_box.row
      .large-4.columns
        .filter_title Filter by site:
        %select#by_subsite
          %option{:value => ""} &nbsp;
          - Subsite.all.each do |subsite|
            %option{:value => subsite.id, :selected => (params[:by_subsite] == subsite.id.to_s ? :selected : false)}= subsite.name
      .large-4.columns
        .filter_title Filter by festival
        %select#by_festival
          %option{:value => ""} &nbsp;
          - Festival.all.each do |festival|
            %option{:value => festival.id, :selected => (params[:by_festival] == festival.id.to_s ? :selected : false)}= festival.name
      .large-4.columns
        .filter_title Filter by project:
        %select#by_project
          %option{:value => ""} &nbsp;
          - Project.all.each do |project|
            %option{:value => project.id, :selected => (params[:by_project] == project.id.to_s ? :selected : false)}= project.name
      :javascript
        $('.filter_box select').change(function() {
          var parts = "#{request.url}".split(/\?/, 2);
          if (parts[1]) {
            window.location.href=parts[0] + "?" + parts[1].replace(new RegExp("\\&*" + $(this).attr('id') + "\=\\d+", "g"), '') + "&" + $(this).attr('id') + "=" + $(this).val();
          } else {
            window.location.href=parts[0] + "?" + $(this).attr('id') + "=" + $(this).val();
          }
        });
        
    %table.table.table-condensed
      %thead
        %tr
          %th Name
          %th Festivals
          %th Projects
          %th{:colspan => 2}
      %tbody
        - @etherpads.each do |pad|
          = render :partial => 'etherpad', :locals => {:etherpad => pad}
    %p= link_to 'Create new Etherpad', 'http://pad.pixelache.ac/'