.row
  .small-12.columns
    %h2 Pixelache Etherpads
    
    %p Note: Etherpads are synchronised every 20 minutes. If you create a new pad it may take up to 20 minutes to appear in this list.
.row
  .small-8.columns    
    %strong Search across all etherpads:
    :plain
      <form name="search_form" method="get" action="/" onsubmit="return search_call()">
      <input value="" style="width: 65%; margin-right: 15px; float:left;" type="text" id="search_text_input"><button style="height: 2.4rem; padding: 0.4rem;" disabled="disabled" type="submit" id="search_text_button">Search</button>
      </form>
.row
  .small-12.columns         
    .filter_box.row
      .small-12.columns
        %b Filter by:
      .small-1.columns
        .filter_title Site:
        %select#by_subsite
          %option{:value => ""} &nbsp;
          - Subsite.all.each do |subsite|
            %option{:value => subsite.id, :selected => (params[:by_subsite] == subsite.id.to_s ? :selected : false)}= subsite.name
      .small-2.columns 
        .filter_title Document type:
        %select#by_documenttype
          %option{:value => ""} &nbsp;
          = options_from_tree_collection_for_select(Documenttype.roots, :id, :name)            
      .small-3.columns
        .filter_title Event
        %select#by_event
          %option{:value => ""} &nbsp;
          - @etherpad_events.each do |e|
            %option{:value => e.id, :selected => (params[:by_event] == e.id.to_s ? :selected : false)}= e.event_with_date            
      .small-3.columns
        .filter_title Festival
        %select#by_festival
          %option{:value => ""} &nbsp;
          - Festival.all.each do |festival|
            %option{:value => festival.id, :selected => (params[:by_festival] == festival.id.to_s ? :selected : false)}= festival.name
      .small-3.columns
        .filter_title Project:
        %select#by_project
          %option{:value => ""} &nbsp;
          = options_from_tree_collection_for_select(Project.roots.order(:name), :id, :name, params[:by_project] )
          -#- Project.all.each do |project|
          -#  %option{:value => project.id, :selected => (params[:by_project] == project.id.to_s ? :selected : false)}= project.name
      :javascript
        $('.filter_box select').change(function() {
          var parts = "#{request.url}".split(/\?/, 2);
          if (parts[1]) {
            if ($(this).val() == '') {
              window.location.href=parts[0] + "?" + parts[1].replace(new RegExp("\\&*" + $(this).attr('id') + "\=\\d+", "g"), '');
            } else {
              window.location.href=parts[0] + "?" + parts[1].replace(new RegExp("\\&*" + $(this).attr('id') + "\=\\d+", "g"), '') + "&" + $(this).attr('id') + "=" + $(this).val();
            }
          } else {
            window.location.href=parts[0] + "?" + $(this).attr('id') + "=" + $(this).val();
          }
        });

.row
  .small-12.columns           
    %table.etherpads
      %thead
        %tr
          %th= sortable_column "Name", :column => "name"
          %th Related activities
          %th= sortable_column "Last edited", :column => "last_edited"
          - if user_signed_in?
            %th{:colspan => 2}
      %tbody
        - @etherpads.each do |pad|
          = render :partial => 'etherpad', :locals => {:etherpad => pad}
    %p= link_to 'Create new Etherpad', 'http://pad.pixelache.ac/', class: [:button, :small, :round]
    
.row
  .small-12.columns= paginate @etherpads