.thin_strip{:style => "background-color: ##{front.background_colour}"}
  .row
    .small-1.columns= image_tag theme_image_path('megaphone.png')
    .small-8.columns{:style => "color: ##{front.text_colour}"}
      = front.custom_title.blank? ? front.item.name : front.custom_title
      
    .small-3.columns= link_to front.custom_follow_text.blank? ? t(:read_more) : front.custom_follow_text + " >>", front.item, :style => "color: ##{front.text_colour}"