.three_posts
  .row
    .small-12.medium-10.columns.medium-offset-1 
      .top_post
        .title= link_to @stream.first.item.title, @stream.first.item
        .metadata
          = "#{date_range(@stream.first.item.stream_date, @stream.first.item.endstream_date)}#{@stream.first.item.class == Event ? (', ' + @stream.first.item.place.name) : ' '}"
          - if @stream.first.item.class == Event
            %p.place_address
              = @stream.first.item.place.address
              - unless @stream.first.item.place.latitude.blank?
                = link_to t(:map), "http://maps.google.com/?q=#{@stream.first.item.place.latitude},#{@stream.first.item.place.longitude}", :target => :_blank
        .body= truncate_html(@stream.first.item.body, :length => 600)
        -# = raw image_tag(@stream.first.item.image.url(:box)).gsub('production', 'development')
        .read_more= link_to 'Read More', @stream.first.item
  
      .smaller_posts.row
        - @stream.map(&:item)[1..2].each do |post|
          .post.small-12.medium-6.columns
            .title= link_to post.title, post
            .metadata
              = date_range(post.stream_date, post.endstream_date)
              - if post.class == Event
                = ", " +  post.place.name
                %p.place_address
                  = post.place.address
                  - unless post.place.latitude.blank?
                    = link_to t(:map), "http://maps.google.com/?q=#{post.place.latitude},#{post.place.longitude}", :target => :_blank                
            .body= truncate_html post.body, :length => 300
            -# = image_tag post.image.url(:standard)
            .read_more= link_to 'Read More', post
            