%tr
  %td
    - if event.image?
      = image_tag event.image.url(:thumb), :width => 60
    = event.name

    - unless event.project.blank?
      %p.metadata
        Project:
        = link_to event.project.name, [:admin, event.project], :target => :_blank
    - unless event.festival.blank?
      %p.metadata
        Festival:
        = link_to event.festival.name, [:admin, event.festival], :target => :_blank
    - unless event.photos.empty?
      %p.metadata
        Photos:
        = pluralize(event.photos.count, t(:photo))
    - unless event.posts.empty?
      %p.metadata
        Posts:
        = pluralize(event.posts.count, "post")
    - unless event.flickrsets.empty?
      %p.metadata
        Flickr sets:
        - event.flickrsets.each do |fs|
          = link_to fs.title, "http://www.flickr.com/photos/pixelache/sets/#{fs.flickr_id}/", :target => :_blank
  %td= event.subsite.name
  %td= event.start_at.strftime('%d %B %Y')
  %td= event.published == true ? 'yes' : 'no'
  %td.actions
    = link_to t(:view), event, :target => :_blank, :class => [:button, :tiny, :round]
    - if can? :edit, event
      = link_to t(:edit), edit_admin_event_path(event), :class => [:button, :tiny, :round]
    - if can? :destroy, event
      = link_to t(:delete), [:admin, event], :method => :delete, :data => {:confirm => "Are you sure?"}, :class => [:button, :tiny, :round, :alert]