%tr
  %td
    - if event.image?
      = image_tag event.image.url(:thumb), :width => 60
    = event.name
    .small
      - unless event.project.blank?
        &sdot;
        = link_to event.project.name, [:admin, event.project], :target => :_blank
      - unless event.festival.blank?
        &sdot;
        = link_to event.festival.name, [:admin, event.festival], :target => :_blank
      - unless event.photos.empty?
        %sdot;
        = pluralize(event.photos.count, t(:photo))
  %td= event.subsite.name
  %td= event.start_at.strftime('%d %B %Y')
  %td= event.published == true ? 'yes' : 'no'
  %td.actions
    = link_to t(:view), event, :target => :_blank, :class => [:button, :tiny, :round]
    - if can? :edit, event
      = link_to t(:edit), edit_admin_event_path(event), :class => [:button, :tiny, :round]
    - if can? :destroy, event
      = link_to t(:delete), [:admin, event], :method => :delete, :data => {:confirm => "Are you sure?"}, :class => [:button, :tiny, :round, :alert]