%h1 An event!
= semantic_nested_form_for [:admin, @event], :html => {:class => "custom", :"data-abide" => '', :multipart => true} do |f|
  .row
    %label Which website should this appear on?
    .small-3.columns
      = f.input :subsite,  :as => :select, :collection => Subsite.accessible_by(current_ability),  :include_blank => false
  .row
    %label Part of a festival?
    .small-4.columns= f.input :festival
    %label Part of a project?
    .small-4.columns= f.input :project
    .small-6.columns
      = f.input :place_name, :as => :autocomplete, :url =>  autocomplete_place_name_admin_events_path, :input_html => { :required => '', :id_element => '#event_place_id', :data => {:no_matches_label => 'Not in database yet'}}, :label => "Where does this take place?", :hint => raw("(If it's a place not already the database, <a href=\"/admin/places/new\" target=\"_blank\">create it first.</a>)")
      %small.error You must select a place for this event.
    .small-6.columns
      = f.input :place_id, :as => :hidden      
  .row
    %label When?
    .small-6.columns
      .row
        .small-6.columns
          = f.input :start_at, :as => :string, :input_html => {:required => '', :class => "datetime_picker"}
          %small.error You must enter a start date and time.
        .small-6.columns= f.input :end_at, :as => :string, :input_html => {:class => "datetime_picker"}

  .row
    %dl.tabs{"data-tab" => ""}
      - I18n.available_locales.each_with_index do |locale, i|
        %dd{:class => (i == 0 ? :active : false)}
          = link_to t(:locale_name, :locale => locale), "##{locale}"
    .tabs-content
      - I18n.available_locales.each_with_index do |locale, i|
        .content{:class => (i == 0 ? :active : false), :id => "#{locale}"}
          = f.globalize_fields_for locale do |en|
            .row
              .small-12.columns
                %b= "Name of event in #{t :locale_name, :locale => locale}"
                = en.text_field :name, :required => (locale == :en ? '' : false)
                - if locale == :en
                  %small.error You must enter an English name for the event.
            .row
              .small-12.columns
                %b= "Description of event in #{t :locale_name, :locale => locale}"
                = en.cktext_area :description
            .row
              .small-6.columns
                %b= "Notes or other metadata in #{t :locale_name, :locale => locale}"
                = en.text_area :notes
  .row
    .small-9.columns
      %label Who is responsibile?
      .row
        .small-6.columns= f.input :facilitator_name
        .small-6.columns= f.input :facilitator_url
      .row
        .small-6.columns= f.input :facilitator_organisation
        .small-6.columns= f.input :facilitator_organisation_url
  .row
    .small-6.columns
      - if f.object.image?
        = image_tag f.object.image.url(:thumb)
      = f.input :image, :hint => 'An image/icon to represent this event.'
    .small-6.columns= f.input :facebook_link, :hint => 'URL to the Facebook Event page'
  .row
    .small-2.columns= f.input :cost
  .row
    .small-2.columns= f.input :cost_alternate, :hint => 'Second (discount) cost?'
    .small-6.columns= f.input :cost_alternate_reason, :hint => 'Reason for discount (example: student price, unemployed, etc.)'
  .row
    .small-4.columns= f.input :published, :hint => 'Tick this box to publish this on the site'
    
    
  .row
    .small-7.columns= f.submit "Save", :class => [:button, :small, :round]