.row
  .small-9.columns
    %h3 Events
.row
  .small-9.columns= link_to 'Create new event', new_admin_event_path, :class => [:button, :small, :round]
.filter_box.row
  .large-3.columns
    .filter_title Filter by site:
    %select#by_subsite
      %option{:value => ""} &nbsp;
      - Subsite.all.each do |subsite|
        %option{:value => subsite.id, :selected => (params[:by_subsite] == subsite.id.to_s ? :selected : false)}= subsite.name
  .large-3.columns
    .filter_title Filter by festival
    %select#by_festival
      %option{:value => ""} &nbsp;
      - Festival.all.each do |festival|
        %option{:value => festival.id, :selected => (params[:by_festival] == festival.id.to_s ? :selected : false)}= festival.name
  .large-3.columns
    .filter_title Filter by project:
    %select#by_project
      %option{:value => ""} &nbsp;
      - Project.all.each do |project|
        %option{:value => project.id, :selected => (params[:by_project] == project.id.to_s ? :selected : false)}= project.name
  .large-3.columns
    .filter_title Filter by year:
    %select#by_year
      %option{value: ""} &nbsp;
      - Time.now.year.downto(2002).each do |year|
        %option{:value => year, :selected => (params[:by_year] == year.to_s ? :selected : false)}= year.to_s
.row
  .small-8.columns
    .filter_title Find by text:
    = form_tag '/admin/events', :method => :get do
      = autocomplete_field_tag 'by_name', params[:by_name], autocomplete_event_name_admin_events_path
    
  :javascript
    $('.filter_box select').change(function() {
      var parts = "#{request.url}".split(/\?/, 2);
      if (parts[1]) {
        window.location.href=parts[0] + "?" + parts[1].replace(new RegExp("\\&*" + $(this).attr('id') + "\=\\d+", "g"), '') + "&" + $(this).attr('id') + "=" + $(this).val();
      } else {
        window.location.href=parts[0] + "?" + $(this).attr('id') + "=" + $(this).val();
      }
    });    
.row
  .columns= paginate @events
.row
  %table.table.table-condensed
    %thead
      %tr
        %th= sortable_column "Name"
        %th Site
        %th= sortable_column "When"
        %th= sortable_column "Published"
        %th{:colspan => 2}
    %tbody
      - @events.each do |event|
        = render :partial => 'event', :locals => {:event => event}
.row
  .columns= paginate @events
.row
  .small-9.columns
    %p= link_to 'Create new event', new_admin_event_path, :class => [:button, :small, :round]