= semantic_nested_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put , :class => "custom",  :multipart => true}) do |f|
  = devise_error_messages!
  .row
    .small-6.columns= f.input :name
  .row
    .small-6.columns= f.input :username
  .row
    .small-6.columns= f.input :email
  = f.fields_for :authentications do |ff|
    .row
      .small-6.columns= ff.input :provider, :as => :select, :collection => [ ['Facebook', 'facebook'], ['Google', 'google_oauth2'], ['Twitter', 'twitter']]
    .row
      .small-6.columns= ff.input :username
    :javascript
      $(document).foundation();
  .row
    .small-6.columns= f.link_to_add 'Add another authentication method', :authentications
   
  = f.submit "Save", :class => [:button]
