.top_banner
  .text-center= image_tag theme_image_path('pattern-main-page-1540px.png')

  .row.front_blurb_row
    .medium-5.medium-push-7.small-12.columns= image_tag(theme_image_path('title_nologo.png'))
    .medium-6.small-12.medium-pull-6.columns
      .dotted_blurb.text-center
        = t "empathy.front_blurb"
        
        
.news_front
  .centered_title
    = link_to image_tag(theme_image_path('news_title.png')), festival_posts_path('festival-2016')
  .row.post_row.small-up-1.medium-up-2.large-up-4.xlarge-up-5{:"data-equalizer" => ''}
    - @posts.each_with_index do |news, index|
      
      .post.column{class: @posts[index+1].nil? ? "end" : false,  :"data-equalizer-watch" => ''}
        .news_image
          -#{style: news.image? ? "background: url(#{news.image.url(:box).gsub('development', 'production')}) no-repeat center center" : false }
          - if news.image?
            = image_tag news.image.url(:box)
          = link_to news do
            .overlay &nbsp;
        .text_box
          .title= link_to news.title, news
          .date= news.published_at.strftime('%d %B %Y')
          .body
            = raw truncate_html(sanitize(news.body, tags: %w{em b bold strong i italic u underline br a }), length: 250)
            = link_to ' >>>', news
            
            
  .row
    .small-12.columns.text-center.logos
      %img{:"data-interchange" => "#[#{theme_image_path('logos-816px-transparent.png')}, (default)], [#{theme_image_path('logos-transparent.png')}, (large)]"}
