- images = 0
.page
  - unless @event.image.blank? && @event.photos.empty?

    .row
      .small-12.columns.large-10.large-offset-1.image_carousel
        - if @event.image?
          - images += 1
          .img= link_to image_tag(@event.image.url(:standard)), @event.image.url, rel: :lazybox
        - unless @event.photos.empty?
          - @event.photos.each do |i|
            .img
              - images += 1
              = link_to image_tag(i.filename.url(:box)), i.filename.url(:standard), rel: :lazybox
            
  .row
    .small-12.columns.large-10.large-offset-1.event_title
      %h2= @event.name
      - if user_signed_in?
        - if can? :edit, @event
          = link_to t(:edit), edit_admin_event_path(@event), class: [:button, :tiny, :round]
          
  - unless @event.facilitator_name.blank?
    .row
      .small-12.columns.large-10.large-offset-1
        .metadata
          = date_range(@event.start_at, @event.end_at)
          - unless @event.place.nil?    
            %br/
            = @event.place.try(:name)
            .smaller= @event.place.try(:address)
    
            - unless @event.place.latitude.nil? && @event.place.longitude.nil?
              %p= link_to t(:map), "http://maps.google.com/?q=#{@event.place.latitude},#{@event.place.longitude}", :target => :_blank
    
    .row
      .small-12.columns.large-10.large-offset-1
        .second_metadata
          - unless @event.festival.blank?
            .entry
              = t(:festival) + ": "
              = link_to @event.festival.name, @event.festival
          - unless @event.facilitator_name.blank? && @event.facilitator_organisation.blank?
            .entry
              = t :facilitated_by
              = link_to_unless(@event.facilitator_url.blank?, @event.facilitator_name, @event.facilitator_url)
          - unless @event.step.blank? && @event.festival.blank?
            .entry
              = t(:step) + ": "
              - if @event.step
                = link_to @event.step.name, "/steps/#step_#{@event.step.id.to_s}"
              - elsif @event.festival
                - unless @event.festival.step.blank?
                  = link_to @event.festival.step.name, "/steps/#step_#{@event.festival.step.id.to_s}"
      

  .row
    .small-12.columns.large-10.large-offset-1
      .body= raw @event.description
  - unless @event.protocol.blank? && @event.resources_needed.blank? && @event.technologies.blank?
    .row
      .small-12.columns.large-10.large-offset-1
        .olsof_info
          - unless @event.protocol.blank?
            %p
              %strong Protocol:
              = raw @event.protocol
          - unless @event.resources_needed.blank?
            %p
              %strong Resources needed:
              = raw @event.resources_needed
          - unless @event.technologies.blank?
            %p
              %strong Technologies:
              = raw @event.technology_list
          
  - unless @event.posts.published.interviews.empty?
    .row
      .small-12.columns.large-10.large-offset-1
        %h3= t :interviews
        %ul
        - @event.posts.published.interviews.each do |post|
          %li= link_to post.name, post, :target => :_blank

- if images > 1

  = content_for :jquery do
    :plain

      $('.image_carousel').slick({infinite: true,
        slidesToShow: 4,
        adaptiveHeight: true,
        arrows: false,
        vertical: true,
        slide: '.img',
        variableWidth: false,
        autoplay: true,
        autoplaySpeed: 2400,
        slidesToScroll: 1,
      });
