.livingspaces.front_module
  .image
    - if Rails.env.development?
      = raw image_tag(front.bigimage.url(:full)).gsub('development', 'production')
    - else  
      = raw image_tag(front.bigimage.url(:full))
  .wrapper_wrapper
    .title_wrapper
      .title

        %h3.text-center
          - if front.custom_title.blank?
            = front.item.name
          - else
            = front.custom_title
        .blurb
          = truncate_html(sanitize(front.item.nil? ? front.custom_follow_text : front.item.body, tags: %w{b bold em i italic u underline br}), length: 175)
          = link_to  t(:read_more),  front.item.nil? ? front.external_url : front.item
        


    
