.livingspaces.front_module
  = raw image_tag(front.bigimage.url(:full))
  .title
    %h6
      = t(:programme_preview)
    %h2
      - if front.custom_title.blank?
        = front.item.name
      - else
        = front.custom_title
    .blurb
      = truncate_html(sanitize(front.item.body, tags: %w{b bold em i italic u underline br}), length: 200)
      = link_to front.custom_follow_text.blank? ? t(:read_more) : front.custom_follow_text, front.item