.post_single
  .carousel
    .slide{style: "background: url(#{theme_image_path('banner11.jpg')}) center bottom no-repeat; "} &nbsp;
  .overlapping_divider 
    .text= t :news
    

  .row.posts_index_container
    .large-10.columns.large-offset-1
      - if @user
        %h2= t(:all_posts_by, member: @user.name)

      - @posts.in_groups_of(3).each do |post_group|
        .row.post_row{:"data-equalizer" => ''}
          - post_group.compact.each_with_index do |post, index|
            = link_to post do
              .medium-4.small-12.columns.post_small{class: post_group[index+1].nil? ? :end : false}
                .categories
                  = post.category

                .post_image{style: post.image? ? "background-image: url(#{post.image.url(:box).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".gray").css("display", "block");', onmouseout: '$(this).find(".gray").css("display", "none");'}
                  .gray
                    .excerpt= raw(truncate_html(strip_tags(post.body.gsub(/&nbsp;/, ' ')), :length => 260))
     

                    - if post.event || post.festival || post.project
                      .hashtags
                        - if post.event
                          .hashtag= link_to(post.event.name, post.event)
                        - if post.festival
                          .hashtag= link_to post.festival.to_hashtag, post.festival
                        - if post.project
                          .hashtag= link_to post.project.to_hashtag, post.project

                   
                  
                .lower{:"data-equalizer-watch" => ''}
                  .text_box
                    .title= link_to post.title, post
                  .metadata
                    %span.date=(l post.published_at.localtime.to_date, :format => :long)                     



                  
                 
                                          
      .row
        .small-12.columns= paginate @posts