= content_for :description do
  = truncate(strip_tags(@post.body), length: 200)
.post_single
  .carousel
    .slide{style: "background: url(#{theme_image_path('banner11.jpg')}) center bottom no-repeat; "} &nbsp;
  .overlapping_divider 
    .text= t :news
    
  .post_inner.row.outer{class: @post.festival ? :festival : false}
    .columns.small-12.medium-7.small-centered
      - if @post.image?
        .carousel_post_container
          .carousel_post
            .slide= image_tag @post.image.url
            - unless @post.photos.blank?
              .slide= image_tag @post.photos.first.filename.url
            
    .columns.small-12.medium-7.small-centered
      .post_title= @post.title
    .columns.small-12.medium-7.small-centered  
      .post_body{class: @post.registration_required? ? :noborder : ''}
        = raw @post.body
        - if @post.registration_required?
          #registration_form

            %h2= t "livingspaces.register_to_participate"
            - if @post.max_attendees
              %p= pluralize_sentence(@post.max_attendees - @post.attendees.not_waiting.size, "workshop_place_count")                  
                    
            = semantic_form_for([@post, @attendee = Attendee.new], html: {:"data-abide" => ''}) do |f|
              .row
                .small-12.columns= f.input :name, label: 'Your name:', input_html: {required: :required}
              .row
                .small-12.columns= f.input :email, label: 'Your email:', input_html: {required: :required}              
              .row
                .small-12.columns= f.input :phone, label: 'Your phone number:', input_html: {required: :required}
              - unless @post.question_motivation.blank?
                .row
                  .small-12.columns= f.input :motivation_statement, label: @post.question_motivation, input_html: {required: :required}
              - unless @post.question_creators.blank?
                .row
                  .small-12.columns= f.input :project_creators, label: @post.question_creators, input_html: {required: :required}
              - unless @post.question_description.blank?
                .row
                  .small-12.columns= f.input :project_description, label: @post.question_description, input_html: {required: :required}
              .row
                .small-12.columns= recaptcha_tags hl: I18n.locale.to_s, :display => { :theme => 'clean' }
              .row
                .small-12.columns= f.submit 'Submit'
      
 
              
      .share_bar= render partial: 'shared/share_buttons', locals: {url:  CGI::escape("http://#{request.host}#{request.port != 80 ? ":" + request.port.to_s : ''}#{url_for(@post)}"), title: CGI::escape(@post.title)}
      - if @post.event
        .related_event
          .small-12.medium-6.related
            %h2.no_bar= t :related_content
            = link_to @post.event do
              .related_image_box{style: "background: url(#{@post.event.image.url(:standard)}) no-repeat center center;"}
              %h3= @post.event.name
              .blurb= raw truncate_html(@post.event.description, length: 200)
            = link_to t("livingspaces.learn_more") + " >>>", @post.event
      - unless @post.festivalthemes.empty?
        .related_event
          .small-12.medium-6
            %h2.no_bar= t :related_content
        .related_event   
          - @post.festivalthemes.each do |ft|
            .small-12.medium-6.related{class: cycle('odd', 'even')}
              = link_to "/festivals/#{ft.festival.slug}/theme/#{ft.slug}" do
                .related_image_box{style: "background: url(#{ft.image.url(:standard).gsub('development', 'production')}) no-repeat center center;"}
                %h3= ft.name
                .blurb= raw truncate_html(ft.description, length: 200)
              = link_to t("livingspaces.learn_more") + " >>>", "/festivals/#{ft.festival.slug}/theme/#{ft.slug}"
            - ft.events.published.shuffle.each do |event|
              .small-12.medium-6.related{class: cycle('odd', 'even')}
                = link_to event do
                  .related_image_box{style: "background: url(#{event.image.url(:standard).gsub('development', 'production')}) no-repeat center center;"}
                  %h3= event.name
                  .blurb= raw truncate_html(strip_tags(event.description), length: 200)
                = link_to t("livingspaces.learn_more") + " >>>", event
          
- unless @post.photos.blank?    
  = content_for :jquery do
    :plain
      $('.carousel_post').slick();
      