#wiki_container
  .wiki.row-expanded
    %h1.heading All pages on Pixelache wiki
    %p (sorted by most recently edited)
      
    %p.actions
      = link_to 'New Wikipage', new_admin_wikipage_path
      
    %table.table
      %thead.header
        %tr
          %th.title= 'Title'
          %th.revisions # of revisions
          %th.last_edited Last edited
          %th.actions= 'Actions'
      %tbody.items.wikipages
        - @wikipages.each do |wikipage|
          = render 'item', :wikipage => wikipage
          
    = paginate(@wikipages)
