%tr
  %td{style: 'max-width: 120px'}
    = image_tag(project.background.url, height: 60) unless !project.background?
  %td
    
    - ((project.depth)*2).times do
      = "-"
    %span{:class => project.evolvedto ? :evolved : false}= project.name
    - if project.evolvedto
      %small= "Evolved into #{project.evolvedto.name}"
  %td= project.active == true ? "active" : "inactive"
  %td.actions
    = link_to t(:view), [:admin, project], :class => [:button, :round, :tiny], :target => :_blank
    - if can? :edit, Project
      = link_to 'Edit', edit_admin_project_path(project), :class => [:button, :round, :tiny]
    - if can? :destroy, Project
      = link_to 'Destroy', [:admin, project], :method => :delete, :data => {:confirm => "Are you sure?"}, :class => [:button, :round, :tiny, :alert]
- unless project.children.empty?
  - project.children.sort_by(&:name).each do |child|
    %tr= render :partial => 'project', :locals => {:project => child}      