.row
  .small-12.columns
    %h1
      = @project.name
      = link_to fa_icon('gear'), edit_admin_project_path(@project)
    
- if @project.has_listserv == true
  .row
    .small-12.columns
      %h3 
        Mailing list for project:
        %em= @project.listservname + "@" + ENV['PIXELACHE_MAILMAN_SERVER']

  .row
    .small-12.columns
      - if current_user.subscribed_to?(@project)
        %p
          You are currently subscribed to receive emails to
          %em= current_user.email
        = link_to 'Unsubscribe', unsubscribe_admin_project_path(@project), class: [:button, :alert, :round, :tiny]
      - else
        = link_to 'Subscribe to mailing list', subscribe_admin_project_path(@project), class: [:button,  :round, :tiny]
.row
  .small-12.columns= link_to 'Back to all projects', admin_projects_path, class: [:button, :round, :tiny]