.row
  .home_page.small-10.columns
    - @feed.in_groups_of(3).each do |group|
      .row.feed_row
        - group.each do |feeditem|
          - next if feeditem.nil?
          .small-4.column
            .feed_image= link_to image_tag(feeditem.item.image.url(:box).gsub('development', 'production')), feeditem.item
            .title= link_to feeditem.item.name, feeditem.item
            .date= l feeditem.fed_at.to_date, :format => :long
            .blurb
              = truncate_html(sanitize(feeditem.item.description, tags: %w{bold strong b italic em }), :length => 150)
              = link_to ">>>", feeditem.item
    = paginate @feed
  