%tr
  %td
    = link_to festival.name, festival.website
    %small
      %strong= festival.node.name
    - unless festival.festivalthemes.empty?
      %p.metadata= pluralize(festival.festivalthemes.count, 'festival theme')
      - festival.festivalthemes.each do |ft|
        .theme
          = ft.name
          - unless ft.experiences.empty?
            = link_to t(:manage_proposals), admin_festival_festivaltheme_experiences_path(festival, ft)
            |
          - if can? :manage, ft
            = link_to t(:edit),  edit_admin_festival_festivaltheme_path(festival, ft)
            |
            = link_to t(:delete) , [:admin, ft], :method => :delete, data: {confirm: t(:are_you_sure)}
    %p.metadata= link_to t(:add_festival_theme), new_admin_festival_festivaltheme_path(festival)
  %td.stats
    %ul
      %li= link_to pluralize(festival.events.published.size, t(:event)), festival_events_path(festival), target: :_blank
      %li= link_to pluralize(festival.attachments.size, t(:file)), festival_publications_path(festival), target: :_blank
      %li= link_to pluralize([festival.videos,  festival.events.published.map(&:videos).flatten].flatten.compact.uniq.size, t(:video)), archive_festival_path(festival), target: :_blank

  %td
    = date_range(festival.start_at, festival.end_at)
  %td.actions
    = link_to 'Show', [:admin,festival], :target => :_blank, class: [:button, :tiny, :round]
    - if can? :edit, Festival
      = link_to 'Edit', edit_admin_festival_path(festival), class: [:button, :tiny, :round]
    - if can? :destroy, Festival
      = link_to 'Destroy', [:admin, festival], :method => :delete, :data => {:confirm => "Are you sure?"}, class: [:button, :alert, :tiny, :round]