%tr
  %td= link_to festival.name, festival.website
  %td= festival.node.name
  %td
    = l festival.start_at, :format => :short
  %td.actions
    - if can? :edit, Festival
      = link_to 'Edit', edit_admin_festival_path(festival)
    - if can? :destroy, Festival
      |
      = link_to 'Destroy', [:admin, festival], :method => :delete, :data => {:confirm => "Are you sure?"}