.row
  .small-10.columns
    %h2 Festivals
.row
  .small-10.columns= paginate @festivals
.row
  .small-10.columns    
    %table.table.table-condensed
      %thead
        %tr
          %th= sortable_column 'Name'
          %th= sortable_column 'Stats'
          %th= sortable_column 'Dates'
          %th{:colspan => 2}
      %tbody
        - @festivals.each do |festival|
          = render :partial => 'festival', :locals => {:festival => festival}
    %p= link_to 'Enter new festival', new_admin_festival_path
.row
  .small-10.columns= paginate @festivals