.row
  .small-10.columns
    %h2 Places
.row
  .small-12.columns= paginate @places
.row
  .small-9.columns
    %p= page_entries_info(@places)    
    %p= link_to 'Enter new place', new_admin_place_path , class: [:button, :round, :small]  
    %table.table.table-condensed
      %thead
        %tr
          %th= "ID"
          %th= sortable_column "Name"
          %th= sortable_column "Address"
          %th{:colspan => 2}
      %tbody
        - @places.each do |place|
          = render :partial => 'place', :locals => {:place => place}
.row
  .small-12.columns= paginate @places
.row
  .small-12.columns
    %p= link_to 'Enter new place', new_admin_place_path , class: [:button, :round, :small]  