!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = display_meta_tags :site => 'Pixelache Festival 2015' 
    
    %meta{:content => content_for?(:description) ? yield(:description) : "Pixelache Festival 2015", :name => "description"}
    %link{:href => "http://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/feed", :rel => "alternate", :title => "RSS", :type => "application/rss+xml"}/
    = favicon_link_tag theme_image_path('favicon.ico')
    -#= stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag 'livingspaces/stylesheets/application', :media => :screen

    = javascript_include_tag "livingspaces/javascripts/application"
    = javascript_include_tag "vendor/modernizr"


    - if controller.controller_name == 'events' || (controller.action_name == 'page' || params[:id] == 'locations') || (controller.controller_name == 'experiences')
      %script{:src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}", :type => "text/javascript"}
    // :javascript
    //   var switchTo5x=true;
    // %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
    // :javascript
    //   stLight.options({publisher: "f1108f07-cb4f-4f90-a2a5-f66a2b227eb4", doNotHash: true, doNotCopy: true, hashAddressBar: false});
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40681531-2', 'auto');
      ga('send', 'pageview');
    %header
      %section
            
        .fixed
          %nav.top-bar.ls-menu{:"data-topbar" => '', role: :navigation}
            %ul.title-area
              %li.name.hide-for-small-only
                = link_to '/' do 
                  Pixelache 2015:
                  %em Living Spaces
              %li.show-for-small-only
                = link_to '/' do
                  %span.name Pixelache 2015:
                  %em Living Spaces
                  %br/
                  %span.name 23-27 September, Helsinki
              %li.hide-for-small-only.right 23-27 September, Helsinki
              %li.toggle-topbar.menu-icon
                %a{:href => "#"}
                  %span
            %section.top-bar-section
              %ul.right
                %li= link_to t("livingspaces.about"), festival_page_festival_path('festival-2015', 'about')
                %li= link_to t(:locations), festival_page_festival_path('festival-2015','locations')
                %li= link_to t("livingspaces.programme"), festival_page_festival_path('festival-2015','preliminary-programme')
                %li= link_to t(:contact), festival_page_festival_path('festival-2015','contact')
                %li.lang
                  %span.eng= link_to_unless(session[:locale].to_s == 'en', 'ENG', {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'en'}) 
                  %span.bar= " | "
                  %span.fin= link_to_unless(session[:locale].to_s == 'fi', 'FIN', { :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'fi'} )
                
    - if flash
      - flash.each do |key, value|
        .alert.text-center{ :class => "alert-#{key}" }
          %strong= value
            
    %section
      %article= yield

    %footer
      .logo= link_to image_tag(theme_image_path('PA_logo.png'), :alt => "Pixelache"), 'http://pixelache.ac'
      .address
        festival at pixelache .ac
      .social.right
        = link_to image_tag(theme_image_path('follow_fb.png'), width: 25), 'https://www.facebook.com/pixelache'
        = link_to image_tag(theme_image_path('follow_twitter.png'), width: 25), 'https://twitter.com/pixelache'
        = link_to image_tag(theme_image_path('follow_vimeo.png'), width: 25), 'https://vimeo.com/pixelache'
        = link_to image_tag(theme_image_path('follow_bambuser.png'), width: 25), 'http://bambuser.com/channel/pixelversity'
        = link_to image_tag(theme_image_path('follow_flickr.png'), width: 25), 'https://www.flickr.com/photos/pixelache/'
        = link_to image_tag(theme_image_path('follow_git.png'), width: 25), 'https://github.com/pixelache'
        = link_to image_tag(theme_image_path('follow_rss.png'), width: 25), '/feed'
      
    :javascript
      $(document).ready(function() {
       
          
        #{yield :jquery}
        
      });    