= semantic_form_for [:admin, @node], :html => {:class => "custom", :multipart => true} do |f|
  .row
    %label Which site:
    .small-6.columns= f.input :subsites,  :as => :select, :collection => Subsite.accessible_by(current_ability),  :include_blank => false
  .row
    .small-6.columns= f.input :name
  .row
    .small-6.columns= f.input :website
  .row
    .small-6.columns= f.input :city
    .small-6.columns= f.input :country
  .row
    .section-container.tabs{"data-section" => "tabs"}
      - I18n.available_locales.each_with_index do |locale, i|
        %section{:class => (i == 0 ? :active : false)}
          %p.title{"data-section-title" => t(:locale_name, :locale => locale)}= link_to t(:locale_name, :locale => locale), '#'
          .content{"data-section-content" => ""}
            = f.globalize_fields_for locale do |en|
              .row
                .small-12.columns
                  %b= "Page content in #{t :locale_name, :locale => locale}"
                  = en.cktext_area :description
  .row
    .small-6.columns
      - if f.object.logo?
        = image_tag f.object.logo.url(:logo)
      = f.input :logo
  .row
    .small-2.columns= f.submit 'Save', :class => [:button, :round]