.row.post
  .columns.media{:class => (@post.photos.empty? ? 'small-2' : 'small-3')}
    - if @post.photos.empty?
      &nbsp;
    - else
      %ul.clearing-thumbs{:"data-clearing" => ""}
        - if @post.image?
          - if @post.image_width >= 400
            %li= link_to image_tag(@post.image.url(:standard)), @post.image.url
          - else
            %li= link_to image_tag(@post.image.url), @post.image.url
        - unless @post.photos.empty?
          - @post.photos.each do |i|
            %li= link_to image_tag(i.filename.url(:box)), i.filename.url
  .columns.content.left{:class => (@post.photos.empty? ? 'small-10' : 'small-9')}
    %h2= @post.title
    .metadata= "posted at #{l @post.published_at, :format => :long} by #{@post.creator.name}"
    - if @post.image?
      - if @post.image_width >= 400
        = link_to image_tag(@post.image.url(:standard)), @post.image.url
      - else
        = link_to image_tag(@post.image.url), @post.image.url
    - if user_signed_in?
      - if can? :edit, @post
        = link_to t(:edit), url_for(:host => (Rails.env.development? ? 'localhost' : 'new.pixelache.ac'), port: (Rails.env.development? ? 3000 : false), action: :edit, id: @post, subsite_id: @post.subsite, controller: 'admin/posts'), :class => [:button, :tiny, :round]


    .body= raw @post.body