.row
  .small-10.columns.large-offset-1
    %h2 
      Front page design
.row
  .small-6.columns= button_to 'Add new frontpage item', new_admin_frontitem_path, class: [:button, :round, :small], method: :get

.row
  .small-6.columns
    %h4 Current frontpage:
    %p Images are samples; text describes actual content.
    %p Drag and drop vertically to arrange the order. The order auto-saves when you let go of the drag-and-drop.
.row
  .small-8.columns.large-offset-1#sortable
    - @frontitems.order(:position).each do |fi|
      .row.front_item[fi]
        .small-4.columns
          - if fi.frontmodule
            - if fi.bigimage?
              = image_tag fi.bigimage.url(:halfwidth)
            - elsif fi.frontmodule.exampleimage?
              = image_tag fi.frontmodule.exampleimage.url(:logo)
        
        .small-8.columns
          = fi.name.html_safe
          .row
            .small-12.columns
              &nbsp;
          .row
            .small-12.columns

              = link_to 'Edit details', edit_admin_frontitem_path(fi), :class => [:button, :round, :tiny]
              = link_to 'Remove from frontppage', [:admin, fi], :method => :delete, :data => {:confirm => 'Are you sure you want to remove this frontpage module?'}, :class => [:button, :round, :alert, :tiny]
      
.row
  .small-6.columns= button_to 'Add new frontpage item', new_admin_frontitem_path, class: [:button, :round, :small], method: :get
    
    
= content_for :jquery do
  :plain
    $('#sortable').sortable({
      update: function(){
            $.ajax({
              url: '/admin/frontitems/sort',
              type: 'post',
              data: $('#sortable').sortable('serialize'),
              dataType: 'script',
              complete: function(request){
                $('#sortable').effect('highlight');
              }
            });
        }
    });