.row
  .small-10.columns
    %h2 
      Front page design
.row
  .small-6.columns= button_to 'Add new frontpage item', new_admin_frontitem_path, class: [:button, :round, :small], method: :get

.row
  .small-6.columns
    %h4
      Current frontpage:
    %select#by_site{disabled: :disabled}
      - Subsite.all.each do |site|
        %option{:value => site.id, :selected => (@by_site == site.id ? :selected : false)}= site.name
    :javascript
      $('select#by_site').change(function() {
        var parts = "#{request.url}".split(/\?/, 2);
        if (parts[1]) {
          if ($(this).val() == '') {
            window.location.href=parts[0] + "?" + parts[1].replace(new RegExp("\\&*" + $(this).attr('id') + "\=\\d+", "g"), '');
          } else {
            window.location.href=parts[0] + "?" + parts[1].replace(new RegExp("\\&*" + $(this).attr('id') + "\=\\d+", "g"), '') + "&" + $(this).attr('id') + "=" + $(this).val();
          }
        } else {
          window.location.href=parts[0] + "?" + $(this).attr('id') + "=" + $(this).val();
        }
      });
    %p Images are samples; text describes actual content.
    %p Drag and drop vertically to arrange the order. The order auto-saves when you let go of the drag-and-drop.
.row
  .small-8.columns.large-offset-1#sortable
    - @frontitems.order(:position).each do |fi|
      .row.front_item[fi]
        .small-4.columns
          - if fi.frontmodule
            - if fi.bigimage?
              = image_tag fi.bigimage.url(:halfwidth)
            - elsif fi.frontmodule.exampleimage?
              = image_tag fi.frontmodule.exampleimage.url(:logo)
        
        .small-8.columns
          = fi.name.html_safe
          .row
            .small-12.columns
              &nbsp;
          .row
            .small-12.columns

              = link_to 'Edit details', edit_admin_frontitem_path(fi), :class => [:button, :round, :tiny]
              = link_to 'Remove from frontppage', [:admin, fi], :method => :delete, :data => {:confirm => 'Are you sure you want to remove this frontpage module?'}, :class => [:button, :round, :alert, :tiny]
      
.row
  .small-6.columns= button_to 'Add new frontpage item', new_admin_frontitem_path, class: [:button, :round, :small], method: :get
    
    
= content_for :jquery do
  :plain
    $('#sortable').sortable({
      update: function(){
            $.ajax({
              url: '/admin/frontitems/sort',
              type: 'post',
              data: $('#sortable').sortable('serialize'),
              dataType: 'script',
              complete: function(request){
                $('#sortable').effect('highlight');
              }
            });
        }
    });