%tr
  %td
    = link_to etherpad.name, 'http://pad.pixelache.ac/p/' + etherpad.name, :target => :_blank
  
    - unless etherpad.subsites.empty?
      %div
        %small
          %b= etherpad.subsites.map(&:name).join(', ')
  
  %td
    %ul
      - etherpad.events.each do |e|
        %li= link_to e.event_with_date, e, :target => :_blank
      - etherpad.festivals.each do |f|
        %li= link_to f.name, f, :target => :_blank
      - etherpad.projects.each do |p|
        %li= link_to p.name, p, :target => :_blank
  %td
    = time_ago_in_words(etherpad.last_edited) + " ago"
    .date= l etherpad.last_edited, :format => :long  
  - if user_signed_in?  
    %td.actions

      - if can? :edit, etherpad
        = link_to 'Edit metadata', edit_admin_etherpad_path(etherpad), :class => [:button, :round, :tiny]
      - if can? :destroy, etherpad
        = link_to 'Delete', [:admin, etherpad], :method => :delete, :data => {:confirm => 'Are you sure? This will delete the pad forever.' }, :class => [:button, :round, :alert, :tiny]