.event_single
  - if @event.image?
    .carousel
      .slide{style: "background: url(#{@event.image.url.gsub('development', 'production')}) center bottom no-repeat; "} &nbsp;
      - unless @event.photos.blank?
        .slide{style: "background: url(#{@event.photos.first.filename.url.gsub('development', 'production')}) center bottom no-repeat; background-size: cover"} &nbsp;
  .overlapping_divider 
    .text= @event.name
    
  .event_inner.row.outer{class: @event.festival ? :festival : false}


    .columns.small-10.medium-7.small-centered
      - if can? :edit , @event
        = link_to t(:edit_event), edit_admin_event_path(@event), class: [:tiny, :button, :secondary]
      .metadata.row
        .small-12.columns.text-center.date.small-centered= date_range(@event.start_at, @event.end_at, :format => :long)
        .small-12.columns.text-center.location.small-centered
          - if @event.location_tbd
            %p= t :location_to_be_announced
          - else
            = @event.place.try(:name)
            - unless @event.place.blank?
              %p.place_address
                = @event.place.address_no_country

        .small-12.columns.text-center.cost.small-centered
          - if @event.cost
            = number_to_currency(@event.cost, format: "%n%u", unit: raw("&euro;"))
          - else
            = t :free_entrance
        - unless @event.place.latitude.blank?
          - unless @event.place.slug =~ /^various-locations/
            .small-12.columns.text-center.map_container.small-centered
              %p.map_link= link_to t(:map), '#', onclick: "$('.google_map').slideToggle(function()  { google.maps.event.trigger(map, 'resize'); map.setCenter(new google.maps.LatLng(#{@event.place.latitude}, #{@event.place.longitude}));            $('p.map_link a').text($('.google_map').is(':visible') ? '#{t(:hide_map)}' : '#{t(:map)}');});return false;"

          
        - if @event.has_documentation?
          .small-12.columns= link_to t(:scroll_down_for_documentation), '#', onclick: 'scrollTo("#documentation");'

      .row.google_map#mapcontainer= render partial: 'shared/small_map'
      .content.row
        = raw @event.description

      .row
        .columns.small-12.small-centered= render :partial => 'shared/share_this_buttons'

      - if @event.registration_required?
        #registration_form.row
          %h2= t "livingspaces.register_to_participate"
          - if @event.max_attendees
            - if @event.hide_registrants
              %p= t "livingspaces.limited_places"
            - else
              - if @event.require_approval == true
                %p There are limited places available. Please fill out the registration form and we will contact you if you are selected.
              - else
                - if @event.is_full?
                  %p
                    This event is
                    %strong FULL.
                    However, you may still register for our waiting list and you will receive notification if a place frees up.
                - else
                  %p= pluralize_sentence(@event.max_attendees - @event.attendees.not_waiting.size, "workshop_place_count")                  
                    
          = semantic_form_for([@event, @attendee = Attendee.new], html: {:"data-abide" => ''}) do |f|
            .row
              .small-10.columns= f.input :name, label: 'Your name:', input_html: {required: :required}
            .row
              .small-10.columns= f.input :email, label: 'Your email:', input_html: {required: :required}              
            .row
              .small-10.columns= f.input :phone, label: 'Your phone number:', input_html: {required: :required}
            - unless @event.question_motivation.blank?
              .row
                .small-10.columns= f.input :motivation_statement, label: @event.question_motivation, input_html: {required: :required}
            - unless @event.question_creators.blank?
              .row
                .small-10.columns= f.input :project_creators, label: @event.question_creators, input_html: {required: :required}
            - unless @event.question_description.blank?
              .row
                .small-10.columns= f.input :project_description, label: @event.question_description, input_html: {required: :required}
            .row
              .small-10.columns= recaptcha_tags hl: I18n.locale.to_s, :display => { :theme => 'clean' }
            .row
              .small-10.columns= f.submit 'Submit'
                              
      - if @event.has_documentation?

        .documentation#documentation
          .row.related_title
            .small-12.columns.small-centered
              %h1= t(:documentation)
          - unless @event.all_documentation["images"].empty?
            .image_carousel
              - @event.all_documentation["images"].each do |i|
                .img
                  = link_to image_tag(i.filename.url(:standard)), i.filename.url, rel: :lazybox
                  .thumb= image_tag i.filename.url(:thumb)
          - unless @event.flickrsets.empty?
            .flickr_galleries
              .subtitle= t(@event.all_documentation["images"].empty? ? :image_galleries : :additional_images)
              - @event.flickrsets.each do |set|
                %p= link_to set.title, set.flickr_url, target: :_blank
            
          - if @event.all_documentation["videos"].empty?
            - if @event.project
              - unless @event.project.videos.empty?
                .subtitle= t :videos_from_this_project, project: @event.project.name
                .video_container
                  - @event.project.videos.each do |v|
                    .video.row{:style => v.thumbnail? ? "background: url(#{v.thumbnail.url}) no-repeat center center" : false }
                      .large-6.columns.flex-video= raw figure_video_type(v, v.video_width.blank? ? 580 : v.video_width, v.video_height.blank? ? 390 : v.video_height)
                      .large-6.columns
                        .video_title= v.title
                        .video_description= raw v.description
          - else
            .video_container
              - @event.all_documentation["videos"].each do |v|
                .video.row
                  .large-7.columns= raw figure_video_type(v, 400, 300)
                  .large-5.columns
                    .video_title= v.title
                    .video_description= raw v.description

  
  / - unless @event.related_content.empty?
  /   .related_container.event
  /     .row
  /       .small-12.medium-8.columns.small-centered
  /         .row
  /           .small-12.columns.related_title
  /             %h1= t(:related_content)
  /     - unless @event.related_content.empty?
  /       - @event.related_content[0..5].each do |related|
  /         .row
  /           .small-12.medium-8.columns.small-centered.related_container
  /             = render :partial => 'shared/related', locals: {item: @event, related: related }

  = content_for :jquery do
    - unless @event.place.latitude.blank?
      :plain

        function initialize() {
          var myLatlng = new google.maps.LatLng(#{@event.place.latitude}, #{@event.place.longitude});
          var myOptions = { zoom: 14, 
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"administrative.neighborhood","elementType":"labels.text","stylers":[{"visibility":"on"},{"color":"#ec9f43"},{"weight":"0.01"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#f0d8bc"},{"lightness":"0"}]},{"featureType":"landscape","elementType":"labels.text","stylers":[{"weight":"0.64"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"geometry","stylers":[{"visibility":"on"},{"weight":"1"},{"lightness":"63"},{"color":"#dfc4a3"}]},{"featureType":"poi","elementType":"labels","stylers":[{"color":"#ec9f43"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#f4c58e"},{"lightness":"1"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#ec870f"},{"weight":"0.62"},{"lightness":"53"}]},{"featureType":"road.highway","elementType":"labels.text","stylers":[{"visibility":"on"},{"color":"#c7cece"},{"weight":"0.01"}]},{"featureType":"road.highway","elementType":"labels.text.fill","stylers":[{"weight":"0.01"}]},{"featureType":"road.highway","elementType":"labels.text.stroke","stylers":[{"color":"#ffffff"},{"visibility":"on"},{"weight":"0.01"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#bfdbf1"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry","stylers":[{"visibility":"on"},{"color":"#cde1f0"},{"lightness":"-3"}]},{"featureType":"water","elementType":"labels.text.fill","stylers":[{"weight":"0.25"},{"color":"#888d8d"}]},{"featureType":"water","elementType":"labels.text.stroke","stylers":[{"weight":"0.80"}]}]
             }


          map = new google.maps.Map(document.getElementById('mapcontainer'), myOptions);
          var marker = new google.maps.Marker({  position: myLatlng, map: map, 
            title: '#{escape_javascript(@event.name)}', 
            icon: '/assets/livingspaces/images/pin.png',
            map: map
          });
          return map;
        }
        //map = initialize();
        map = google.maps.event.addDomListener(window, 'load', initialize);
    
