.event_index
  .centered_title= image_tag theme_image_path('programme-title.png')
  .row
    .small-12.columns.filters
      %ul
        %li.all.active= link_to t("empathy.all_events").upcase, '#', onclick: "javascript:$('.event_link').fadeIn();$('li').not('.all').removeClass('active');$('li.all').addClass('active');return false;"
        - @events.map{|x| x.start_at.strftime("%d")}.sort.map{|x| x.to_i.ordinalize}.each do |date|
          %li{class: date}= link_to date, '#', onclick: "javascript:toggleEvent('.#{date}');return false;"
  .row
    - @events.each do |event|
      = link_to event, class: [:event_link, event.happens_on_festival_dates.map{|x| x.strftime("%d").to_i.ordinalize}.join(' ')] do
        .large-4.medium-6.small-12.columns.event{class: event == @events.last ? :end : false}
          .row
            .small-6.columns.event_image
              = image_tag event.image.url(:logo)
              .overlay &nbsp;
            .small-6.columns.event_info
              .title= event.title
              .date= date_range(event.start_at.to_date, event.end_at.to_date)
