.page
  .row
    .small-10.columns.medium-offset-1.title= t :steps
  .row
    .small-10.column.medium-offset-1.content
      = image_tag = image_tag theme_image_path('i-steps.png')
    
      - @steps.order(:number).each do |step|
        .step
          %h3
            = step.number.to_s + ":"
            = step.name
          - if step.festival
            %h5
              = t(:festival) + ": "
              %ul
                %li= link_to step.festival.name, step.festival.website.blank? ? step.festival : step.festival.website
                  
          - unless step.events.empty?
            %h5= t(:events) +  ": "
            %ul
              - step.events.each do |event|
                %li= link_to event.name, event
          
  
  