// Calculate highest possible number of rows and set it to that
- highest = 0
:css
  .festival_menu li a, .festival_menu .festival_top_header a:hover  {
    color: ##{@festival.tertiary_colour};
  }
  .festival_menu ul {
    border-right: 1px solid ##{@festival.tertiary_colour};
  }
  .festival_menu ul.inner {
    border-right: none;
  }
  .festival_menu li a:hover, .festival_menu .festival_top_header a , .festival_menu li a.active {
    color: ##{@festival.primary_colour};
  }
.row
  .small-12.columns.festival_top_header.text-left
    = link_to "Pixelache", '/'
    = " : "
    = link_to 'Festivals', festivals_path
    = " : "
    %span.name= link_to @festival.name, @festival
    
    // %span.dates= " (" + date_range(@festival.start_at, @festival.end_at) + ")"

    
.row.left-collapse.festival_main_menu
  
  .large-2.columns.small-12.medium-2#nav_column_0
    %ul.text-right.first
      -# %li= link_to t(:events), "#", onmouseover: "javascript:toggleNavMenu('#events')", id: :events, class: (@event ? :active : false)
      - unless festival.pages.empty?
        - counter = 0
        - festival.pages.published.first.children.published.each do |c|
          - counter += 1
          - if c.children.empty? && c.slug != 'programme'
            %li= link_to c.name, festival_page_festival_path(festival, c), class: determine_hierarchy(:active, c, [@page, @festivaltheme, @event])
          - else
            %li= link_to c.name, "#", onmouseover: "javascript:toggleNavMenu('#page_#{c.id}', 0)", id: "page_#{c.id}", class: determine_hierarchy(:active, c, [@page, @festivaltheme, @event])
      - unless @festival.attendees.empty?
        - counter += 1
        - if Time.now.to_date > festival.end_at
          %li= link_to t(:who_was_there), festival_attendees_path(festival), class: controller.action_name == 'attendees' ? :active : false
        - else
          %li= link_to t(:who_is_coming), festival_attendees_path(festival), class: controller.action_name == 'attendees' ? :active : false
      - if Time.now.to_date > festival.end_at
        - counter += 1
        %li= link_to t(:archive), archive_festival_path(festival), class: controller.action_name == 'archive' ? :active : false
      - highest = counter unless highest > counter
        
  -# 2nd columns, depth of 2
  .columns.small-12#nav_column_1{:class => (festival.festivalthemes.size <= 2) ? 'large-3 medium-3' : 'large-2 medium-2'}
    
    -# level 1 pages

    - festival.pages.published.first.find_all_by_generation(1).published.each do |p|
      - counter = 0
      %ul.navhide{id: "page_#{p.id}_menu", class: [determine_hierarchy(:open, p, [@page, @festivaltheme, @event]), p.children.map(&:children).flatten.empty? ? :inner: false] }
        - unless p.body.blank?
          - counter += 1
          %li= link_to p.name + " overview", "/festivals/#{@festival.slug}/#{p.slug}" 
        - p.children.published.each do |pp|
          - counter += 1
          - if pp.children.empty?
            %li= link_to pp.name, festival_page_festival_path(@festival, pp), class: determine_hierarchy(:active, pp, [@page, @festivaltheme, @event])
          - else
            %li= link_to pp.name, "#", onmouseover: "javascript:toggleNavMenu('#page_#{pp.id}', 1)", id: "page_#{pp.id}", class: determine_hierarchy(:active, pp, [@page, @festivaltheme, @event] )
        - if p.slug == 'programme'
          
          - if festival.festivalthemes.empty?
            -# no festival themes, so what?
            = content_for :jquery do
              $("ul.navhide#page_#{p.id}_menu").addClass('inner');
              
            - festival.events.published.sort_by(&:start_at).each do |e|
              - counter += 1

              %li= link_to e.name, e, class: determine_hierarchy(:active, e, [@page, @festivaltheme, @event])
          - elsif festival.festivalthemes.size <= 2
            -# display themes directly if 2 or less, otherwise make themes menu
            - festival.festivalthemes.each do |theme|
              - counter += 1
              %li= link_to theme.name, festival_theme_festival_path(@festival, theme), onmouseover: "javascript:toggleNavMenu('#theme_#{theme.id}')", id: "theme_#{theme.id}", class: determine_hierarchy(:active, theme, [@page, @festivaltheme, @event])
            - unless festival.events.published.to_a.delete_if{|x| x.festivaltheme.nil? }.empty?
              - counter += 1
              %li= link_to "Other activities", '#', onmouseover: "javascript:toggleNavMenu('#otherevents')", id: "otherevents", class: @event.nil? ? false : (@event.festivaltheme.nil? ? :active : false)

          - else  
            - # 3 or more themes, so make another menu level
            - counter += 1
            %li= link_to t(:themes), '#', onmouseover: "javscript:toggleNavMenu('#themes')", id: "themes", class: (@event.nil? && @festivaltheme.nil?) ? false : :active
      - highest = counter unless highest > counter
          
          
  -# 3rd column
  .small-12.large-3.medium-3.columns#nav_column_2
    
    - if festival.festivalthemes.size <= 2 && !festival.festivalthemes.empty?
      - #themes are directly listed in last column, so put events
      - festival.festivalthemes.each do |theme|
        - counter = 0
        %ul.navhide{id: "theme_#{theme.id}_menu", class:  determine_hierarchy(:open, theme, [@page, @festivaltheme, @event]) }
          - theme.events.published.sort_by(&:start_at).each do |e|
            - counter += 1
            %li= link_to e.name, e, class: determine_hierarchy(:active, e, [@page, @festivaltheme, @event])
        - highest = counter unless highest > counter
      - unless festival.events.published.to_a.delete_if{|x| x.festivaltheme.nil? }.empty?
        - counter = 0
        %ul.navhide#otherevents_menu{ class: @event.nil? ? false : (@event.festivaltheme.nil? ? :open : false) }
          - festival.events.published.to_a.delete_if{|x| !x.festivaltheme.nil? }.sort_by(&:start_at).each do |e|
            - counter += 1
            %li= link_to e.name, e, class: determine_hierarchy(:active, e, [@page, @festivaltheme, @event])
        - highest = counter unless highest > counter
      
    
    - else
      -# themes need to be listed here and actual events bumped to column #4
      - unless festival.festivalthemes.size < 2
        - counter = 0
        %ul.navhide#themes_menu{class: (@event.nil? && @festivaltheme.nil?) ? false : :open}  
          - festival.festivalthemes.each do |theme|
            - counter += 1
            %li= link_to theme.name, festival_theme_festival_path(@festival, theme), onmouseover: "javascript:toggleNavMenu('#theme_#{theme.id}')", id: "theme_#{theme.id}", class: determine_hierarchy(:active, theme, [@page, @festivaltheme, @event])
          - unless festival.events.published.to_a.delete_if{|x| x.festivaltheme.nil? }.empty?
            - counter += 1
            %li= link_to "Other activities", '#', onmouseover: "javascript:toggleNavMenu('#otherevents')", id: "otherevents", class: @event.nil? ? false : (@event.festivaltheme.nil? ? :active : false)
        - highest = counter unless highest > counter
      
    - festival.pages.published.first.find_all_by_generation(2).each do |p|
      - counter = 0
      %ul.navhide{id: "page_#{p.id}_menu", class: [determine_hierarchy("open", p, [@page, @festivaltheme, @event]), p.children.map(&:children).flatten.empty? ? :inner: false] }  
        - unless p.body.blank?
          %li= link_to p.name + " overview", p, class:  determine_hierarchy(:active, p, [@page, @festivaltheme, @event])
          - counter += 1
        - p.children.published.each do |pp|
          - counter += 1
          - if pp.children.empty?
            %li= link_to pp.name, festival_page_festival_path(@festival, pp), class: determine_hierarchy(:active, pp, [@page, @festivaltheme, @event])
          - else
            %li= link_to pp.name, "#", onmouseover: "javascript:toggleNavMenu('#page_#{pp.id}')", id: "page_#{pp.id}", class: determine_hierarchy(:active, pp, [@page, @festivaltheme, @event] )
      - highest = counter unless highest > counter

  -# make 4th column if needed
  .small-12.columns.final#nav_column_3{:class => (festival.festivalthemes.size <= 2) ? 'large-4 medium-4' : 'large-5 medium-5'}
    - festival.festivalthemes.each do |theme|
      - counter = 0
      %ul.navhide.inner{id: "theme_#{theme.id}_menu", class: determine_hierarchy(:open, theme, [@page, @festivaltheme, @event])}
        - theme.events.published.sort_by(&:start_at).each do |e|
          - counter += 1
          %li= link_to e.name, e, class: determine_hierarchy(:active, e, [@page, @festivaltheme, @event])
      - highest = counter unless highest > counter
    - unless festival.events.published.to_a.delete_if{|x| x.festivaltheme.nil? }.empty?
      - counter = 0
      %ul.navhide.inner#otherevents_menu{ class: @event.nil? ? false : (@event.festivaltheme.nil? ? :open : false) }
        - festival.events.published.to_a.delete_if{|x| !x.festivaltheme.nil? }.sort_by(&:start_at).each do |e|
          - counter += 1
          %li= link_to e.name, e, class: determine_hierarchy(:active, e, [@page, @festivaltheme, @event])
      - highest = counter unless highest > counter 
    - festival.pages.first.find_all_by_generation(3).each do |p|
      - next if p.children.empty?
      - counter = 0
      %ul.navhide.inner{id: "page_#{p.id}_menu", class:  determine_hierarchy(:open, p, [@page, @festivaltheme, @event])}
        
        - unless p.body.blank?
          %li= link_to p.name + " overview", festival_page_festival_path(@festival, p), class:  determine_hierarchy(:active, p, [@page, @festivaltheme, @event])
          - counter += 1
        - p.children.published.each do |pp|
          %li= link_to pp.name, pp, class: determine_hierarchy(:active, pp, [@page, @festivaltheme, @event])
          - counter += 1
        - highest = counter unless highest > counter
   
- highest_total = ((highest * 1.5) + 1.8 ).to_f.to_s + "rem"   
- list = ((highest * 1.25)).to_f.to_s  + "rem" 
= content_for :jquery do
  
  $('.festival_menu').css('height', '#{highest_total}');
  $('.festival_menu ul').css('height', '#{list}');
  $('#main').css('margin-top', '#{highest_total}');
                    