= content_for :festival_menu do
  = render :partial => 'festival_menu', :locals => {festival: @festival}

.festival.festival_page
  .row
    .small-8.small-offset-2.columns.text-center
      %h1= t :archive_and_documentation
    
  .row
    .small-8.small-offset-2.columns
      - unless @videos.empty?
        %h2= t :videos
        %ul.archive
          - @videos.each do |v|
            %li.video
              .video_title= link_to v.title, v.url, target: :_blank
              .video_description= raw v.description
      %h2= t :events
      %ul.archive
        - @events.each do |e|
          %li
            = link_to e.name, e, target: :_blank
            - if e.has_documentation?
              %span.documentation_link= link_to t(:documentation), url_for(e) + "#documentation", target: :_blank