= content_for :festival_menu do
  = render :partial => 'festival_menu', :locals => {festival: @festival}


.festival.festival_page

  .row
    .small-8.small-offset-2.columns.text-left.top_festival
      %h1= @festival.name
      %h2
        - if @festival.in_future?
          = t :who_is_coming
        - else
          = t :who_was_there
      .top_festival_dates
        %h5
          = "#{date_range(@festival.start_at, @festival.end_at, format: :long)}, #{@festival.festival_location}"

  .row
    .small-8.small-offset-2.columns.text-left        
      %ol
        - @festival.attendees.each do |att|
          %li.attendee[att]
            %span.name
              = link_to_unless (att.url.blank?), att.name, att.url, target: :_blank
              - unless att.country.blank?
                %span.country= " (#{Country[att.country.strip].nil? ? att.country : Country[att.country.strip].name})"
            - unless att.description.blank?
              = link_to t(:show_bio), '#', onclick: "$('#attendee_#{att.id} .description').slideToggle(); return false;", class: [:button, :tiny, :secondary]
              .description= raw att.description.gsub(/\\\"/, '"')


        
    