.page_tree
  .row.left-collapse
    .columns
      %span.leaf
        = link_to t(:festivals), festivals_path
        = ' : '
      - @page.self_and_ancestors.reverse.each do |p|
        - if p == @page
          %span.leaf
            %strong= p.name
        - else
          %span.leaf
            = link_to p.name, p
            = " : "
.row
  = link_to "javascript:reveal_pixelache_menu();" do
    .arrow-down
.row.pixelache_nav_menu.left-collapse
  
.festival{:style => "background-color: #" + (@festival.background_colour.blank? ? '#FFF' : @festival.background_colour) }

            
  = render :partial => 'header'

        
  .row
    .small-9.columns= raw simple_format(@page.body)
    = render :partial => 'sidebar'

  - if user_signed_in?
    - if can? :edit, @page
      .row
        .small-3.columns= link_to '[edit]', edit_admin_subsite_page_path(@page.subsite, @page.id)
    