.festival{:style => "background-color: " + (@festival.background_colour.blank? ? "#FFF" : @festival.background_colour)} 
  - if @festival.image?
    .row
      .small-6.columns
        %h1= @festival.name
        - unless @festival.subtitle.blank?
          %h2= @festival.subtitle
        %h3= @page.name
      .small-6.columns
        - if @festival.image?
          - if @festival.image_width.blank?
            = image_tag @festival.image.url(:standard)
          - else
            - if @festival.image_width < 1000
              = image_tag @festival.image.url
            - else
              = image_tag @festival.image.url(:standard)
  - else
    .row
      .small-12.columns
        %h1= @festival.name
        - unless @festival.subtitle.blank?
          %h2= @festival.subtitle
        %h3= @page.name

        
  .row
    .small-9.columns= raw simple_format(@page.body)
    = render :partial => 'sidebar'

  - if user_signed_in?
    - if can? :edit, @page
      .row
        .small-3.columns= link_to '[edit]', edit_admin_subsite_page_path(@page.subsite, @page.id)          
    