= content_for :festival_menu do
  = render :partial => 'festival_menu', :locals => {festival: @festival}

  
.festival.festival_page
  .row  
    .small-8.small-offset-2.columns.text-center
      %h1= raw @page.title
        
  .row
    .small-8.small-offset-2.columns= raw simple_format(@page.body)


  - if user_signed_in?
    - if can? :edit, @page
      .row
        .small-3.columns= link_to '[edit]', edit_admin_subsite_page_path(@page.subsite, @page.id), class: [:button, :tiny, :secondary]

                        