= content_for :festival_menu do
  = render :partial => 'festival_menu', :locals => {festival: @festival}


            
.festival.festival_page
  .row
    .small-8.small-offset-2.columns.text-center
      %h1= @festivaltheme.name
        
  .row
    .small-8.small-offset-2.columns
      = raw @festivaltheme.description
      
      %h2= t :activities
      %ul
        - @festivaltheme.events.published.sort_by(&:start_at).each do |d|
          %li= link_to d.name, d
    


                    
    