.membership_container 
  .row
    .small-12.columns
      %h2= t :members
  .row
    .small-12.medium-10.columns
      %p= t :membership_info
      %h4= t :current_members
  - @members.sort_by{|x| x.user.name.split(/\s/).last.downcase }.in_groups_of(3) do |mg|
    .row.member_row
      - mg.each_with_index do |member, index|
        - next if member.nil?
        .small-12.medium-4.columns.member_square{class: mg[index+1].nil? ? :end : false}
          .name= link_to member.user.name, "/member/#{member.user.slug}"
          .avatar= image_tag member.user.avatar.url
          - if member.hallitus == true
            .on_board= t :on_hallitus
          - if member.hallitus_alternate == true
            .on_board= t :on_hallitus_alternate
          .membership_years
            = t :active_member_years
            = member.user.memberships.sort_by(&:year).map { |y| y.year.to_s + (y.hallitus == true ? '*' : '') + (y.hallitus_alternate == true ? '**' : '') }.join(', ')
  
  .row
    .small-12.columns
      %p
        = "* = " + t(:on_hallitus)
        = ", ** = " + t(:on_hallitus_alternate)
  
  .row
    .small-12.columns
      %h4= t :past_members
  .row
    .small-12.columns
      - @past_members.sort_by{|x| x.user.name.split(/\s/).last.downcase }.each do |pm|
        %p
          = pm.user.name 
          = "(#{pm.user.memberships.sort_by(&:year).map { |y| y.year.to_s + (y.hallitus == true ? '*' : '') + (y.hallitus_alternate == true ? '**' : '') }.join(', ')})"
        