= content_for :page_tree do
  .row.left-collapse
    %span.leaf
      = link_to t(:members), '/members/'

      
.membership_container 
  .row
    .small-10.small-offset-1.columns
      %h2= t :members
  .row
    .small-10.small-offset-1.columns
      .board_explanation
        = "* = " + t(:on_hallitus)
        = ", ** = " + t(:on_hallitus_alternate)      
  .row
    .small-10.small-offset-1.columns
      %p= t :membership_info
      %h4= t :current_members
  .row
    .small-10.small-offset-1.columns
      - @members.sort_by{|x| x.user.name.split(/\s/).last.downcase }.in_groups_of(3) do |mg|
        .row.member_row
          - mg.each_with_index do |member, index|
            - next if member.nil?
            .small-12.medium-4.columns
              .member_square{class: mg[index+1].nil? ? :end : false, style:  "background: url(#{member.user.avatar.url(:box)}) no-repeat center center", onmouseover: "$(this).find('.membership_years').toggle();", onmouseout: "$(this).find('.membership_years').toggle();" }
                .inner
                  .name.text-center= link_to member.user.name, "/member/#{member.user.slug}"

                  .membership_years.text-center
                    - if member.hallitus == true
                      .on_board= t :on_hallitus
                    - if member.hallitus_alternate == true
                      .on_board= t :on_hallitus_alternate
                    = t :active_member_years
                    = member.user.memberships.sort_by(&:year).map { |y| y.year.to_s + (y.hallitus == true ? '*' : '') + (y.hallitus_alternate == true ? '**' : '') }.join(', ')
  

  
  .row
    .small-10.small-offset-1.columns
      %h2= t :past_members
  .row
    .small-10.small-offset-1.columns
      .board_explanation
        = "* = " + t(:on_hallitus)
        = ", ** = " + t(:on_hallitus_alternate)          
  .row
    .small-10.small-offset-1.columns
      - @past_members.sort_by{|x| x.user.name.split(/\s/).last.downcase }.each do |pm|
        %p
          = pm.user.name 
          = "(#{pm.user.memberships.sort_by(&:year).map { |y| y.year.to_s + (y.hallitus == true ? '*' : '') + (y.hallitus_alternate == true ? '**' : '') }.join(', ')})"
        