%h1 Post
= semantic_nested_form_for [:admin, @post], :html => {:class => "custom", :multipart => true} do |f|
  .row
    .small-12.columns= f.semantic_errors :base
  .row
    %label Which site:
    .small-6.columns= f.input :subsite,  :as => :select , :collection => Subsite.accessible_by(current_ability),  :include_blank => false
  .row
    .small-6.columns
      - if f.object.wordpress_scope
        %label Historical info: belongs to scope
        = f.object.wordpress_scope
      %label 
        Database ID #:
        = f.object.id.to_s

      = f.input :external, :label => " External event (not about a Pixelache activity)"
    .small-6.columns= f.input :post_categories, as: :check_boxes
  .row
    %dl.tabs{"data-tab" => ""}
      - I18n.available_locales.each_with_index do |locale, i|
        %dd{:class => (i == 0 ? :active : false)}
          = link_to t(:locale_name, :locale => locale), "##{locale}"
    .tabs-content
      - I18n.available_locales.each_with_index do |locale, i|
        .content{:class => (i == 0 ? :active : false), :id => "#{locale}"}
          = f.globalize_fields_for locale do |en|
            .row
              .small-12.columns
                %b= "Title of post in #{t :locale_name, :locale => locale}"
                = en.text_field :title  
            .row
              .small-12.columns
                %b= "Content in #{t :locale_name, :locale => locale}"
                = en.cktext_area :body
            .row
              .small-6.columns
                %b= "Optional excerpt in #{t :locale_name, :locale => locale}"
                = en.text_area :excerpt                
  .row
    .small-6.columns
      - if f.object.image?
        = image_tag f.object.image.url(:thumb)
      = f.input :image, :hint => 'An image/icon to represent this event.'
    .row
      .small-6.columns
        %label Post author
        .row
          .small-6.columns= f.input :creator, :as => :select, :collection => User.all.order(:name), :label => false
    = f.input :last_modified_id, :as => :hidden, :input_html => {:value => current_user.id }
  .row
    .small-12.columns.divider    
  .row
    .small-12.columns
      %label Additional images
      .row
        = f.semantic_fields_for :photos do |ff|

          .small-3.columns
            - if ff.object.filename?
              = image_tag ff.object.filename.url(:thumb)
            = ff.input :filename
            = ff.input :title
            = ff.input :credit
            = ff.link_to_remove 'Remove this photo'
      = f.link_to_add 'Add a photo', :photos
  .row
    .small-12.columns.divider
  .row
    .small-12.columns
      %label Attachments
      .row
        = f.semantic_fields_for :attachments do |ff|

          .large-3.columns
            - if ff.object.attachedfile?
              %p
                = File.basename(URI.parse(ff.object.attachedfile.url).path)
                - unless ff.object.attachedfile_size.blank?
                  %br/
                  %em= pluralize(ff.object.attachedfile_size, 'byte')
            = ff.input :attachedfile
            = ff.input :title
            = ff.input :description
            = ff.input :documenttype
            = ff.input :year_of_publication, :hint => 'For project publications. Leave blank to show up on all years the project is active, or enter a specific year'
            = ff.link_to_remove 'Remove this attachment', class: [:button, :tiny, :alert, :round]
      
    .row
      .small-12.columns.add_attachment_button= f.link_to_add 'Add an attachment', :attachments, class: [:button, :small, :round]
  .row
    .divider
  .row
    .small-6.columns
      %h5 Connected to an event?
      = f.input :event_name, :as => :autocomplete, :url =>  autocomplete_event_name_admin_posts_path, :input_html => { :id_element => '#post_event_id', :data => {:no_matches_label => 'Not in database yet'}}, :label => "Type the first few letters of the event name", :hint => raw("(If the event is not already the database, <a href=\"/admin/events/new\" target=\"_blank\">create it first.</a>)")
    .small-6.columns= f.input :event_id, :as => :hidden
  .row
    .small-6.columns
      %h5 Connected to a project?
      = f.input :project_name, :as => :autocomplete, :url =>  autocomplete_project_name_admin_posts_path, :input_html => { :id_element => '#post_project_id', :data => {:no_matches_label => 'Not in database yet'}}, :label => "Type the first few letters of the project name", :hint => raw("(If the project is not already the database, <a href=\"/admin/projects/new\" target=\"_blank\">create it first.</a>)")
    .small-6.columns= f.input :project_id, :as => :hidden
  .row
    .small-6.columns
      %h5 Connected to a festival?
      = f.input :festival_name, :as => :autocomplete, :url =>  autocomplete_festival_name_admin_posts_path, :input_html => { :id_element => '#post_festival_id', :data => {:no_matches_label => 'Not in database yet'}}, :label => "Type the first few letters of the festival name", :hint => raw("(If this is related to a specific event that is part of a festival, you should just populate the event relation above, no need for the festival as a whole.)")
    .small-6.columns= f.input :festival_id, :as => :hidden    
  .row
    .small-6.columns
      %h5 Connected to a residency?
      = f.input :residency
  .row
    .small-6.columns= f.input :tag_list
  .row#registration
    .small-12.columns.panel
      .row
        .small-8.columns
          = f.input :registration_required, as: :boolean, label: 'Attach a registration form to this post?', hint: 'Used on rare occasions'
      .row
        .small-8.columns= f.input :max_attendees

      .row
        .small-8.columns= f.input :email_registrations_to, as: :string, input_html: {type: :text}
      .row
        .small-8.columns= f.input :question_motivation, label: 'Additional question #1:'
      .row
        .small-8.columns= f.input :question_description, label: 'Additional question #2:'
      .row
        .small-8.columns= f.input :question_creators, label: 'Additional question 3:'
      .row
        .small-8.columns= f.input :email_template, label: 'Send email using Rails email template view'
  .row
    .small-3.columns= f.input :hide_from_feed, :as => :boolean, :label => "Hide from news feeds?"
    .small-3.columns= f.input :published
    .small-3.columns= f.input :published_at, :as => :string, :input_html => {:class => "datetime_picker"}
  .row
    .small-2.columns= f.submit 'Save', :class => [:button, :round]