%tr
  %td= image_tag post.image.url(:thumb), :width => 40
  %td
    = post.title
    .small
      = post.creator.nil? ? post.wordpress_author : post.creator.try(:name)
      - unless post.photos.empty?
        &sdot;
        = pluralize(post.photos.size, 'photo') + " attached"
      - unless post.attachments.empty?
        &sdot;
        = pluralize(post.attachments.size, 'attachment')

      &sdot;
      = link_to 'View', post, :target => :_blank
    - unless post.event.blank?
      %p.metadata
        Event:
        = link_to post.event.name, post.event, :target => :_blank
    - unless post.project.blank?
      %p.metadata
        Project:
        = link_to post.project.name,post.project, :target => :_blank
    - unless post.festival.blank?
      %p.metadata
        Festival:
        = link_to post.festival.name, post.festival, :target => :_blank
    - unless post.residency.blank?
      %p.metadata
        Residency:
        = link_to post.residency.name, post.residency, :target => :_blank
  %td= post.subsite.name
  %td
    - if post.published == true
      = l post.published_at, :format => :long
    - else
      no
      
  %td.actions
    = link_to t(:view), url_for(:controller => '/posts', :id => post.slug, :action => :show, :host => post.subsite.subdomain, :port => Rails.env.development? ? 3000 : false), :target => :_blank, :class => [:button, :tiny, :round]
    - if can? :edit, post
      = link_to t(:edit), edit_admin_subsite_post_path(post.subsite, post), :class => [:button, :tiny, :round]
    - if can? :destroy, post
      = link_to 'Destroy', "/admin/subsites/#{post.subsite.id}/posts/#{post.slug.to_s}", :method => :delete, :data => {:confirm => "Are you sure?"}, :class => [:button, :tiny, :round, :alert]