= content_for :page_tree do
  .left-collapse
    - @page.self_and_ancestors.reverse.each do |p|
      - if p == @page
        %strong= p.name
      - else
        %span.leaf
          = link_to p.name, p
          = " : "

.page
  .row
    - unless @page.headings.empty?
      .medium-4.small-12.columns.right.page_nav
        .magellan-scrollnav
          %div{:"data-magellan-expedition" => :fixed, :"data-options" => "threshold:220;destination_threshold:220;fixed_top:220" }
            %dl.sub-nav
              - @page.headings.each do |heading|
                - next if heading.first == 'top'
                %dd{:"data-magellan-arrival" => heading.first}= link_to heading.last, "##{heading.first}"

    .small-12.medium-7.medium-offset-1.columns
      .row
        .small-12.columns.title
          = raw @page.name
      
          - if can? :edit, @page
            %small= link_to t(:edit), edit_admin_subsite_page_path(@page.subsite, @page.id), class: [:button, :tiny, :secondary]
      .row
        .small-12.columns.body= raw (magellanise(@page.body, @page.headings))


          
/ = content_for :jquery do
/   :plain
/
/
/     $('.arrow-down').mouseover(function() {
/       if ($('.children .top').css('display') == "block") {
/         $('.children').css('top',$('.page_tree').offset().top + $('.page_tree').css('height'));
/       }
/     });
/     $('.arrow-up').mouseover(function() {
/       if ($('.children .top').css('display') == "block") {
/         $('.children').css('top',$('.page').offset().top );
/       }
/     });
/