= content_for :page_tree do
  .row.left-collapse
    - @page.self_and_ancestors.reverse.each do |p|
      - if p == @page
        %strong= p.name
      - else
        %span.leaf
          = link_to p.name, p
          = " : "

.page
  .row
    .small-7.columns.large-offset-1.title
      = raw @page.name

      - if can? :edit, @page
        %small= link_to t(:edit), edit_admin_subsite_page_path(@page.subsite, @page.id), class: [:button, :tiny, :secondary]
  .row
    .small-7.columns.large-offset-1.body= raw simple_format(@page.body)
    - unless @page.children.empty?
      .small-3.columns.children
        - @page.children.each do |child|
          .child= link_to child.name, child