= semantic_form_for [:admin, @meetingtype], html: {:'data-abide' => '', multipart: true} do |f|
  .row
    %ul.tabs#languages{"data-tabs" => ""}
      - I18n.available_locales.each_with_index do |locale, i|
        %li.tabs-title{:class => (i == 0 ? :active : false)}
          = link_to t(:locale_name, :locale => locale), "##{locale}"
    .tabs-content
      - I18n.available_locales.each_with_index do |locale, i|
        .tabs-panel{:class => (i == 0 ? 'is-active' : false), :id => "#{locale}"}
          = f.globalize_fields_for locale do |en|
            .row
              .small-12.columns
                %b= "Description of meetingtype  in #{t :locale_name, :locale => locale}"
                = en.text_field :name, :required => (locale == :en ? '' : false)
                - if locale == :en
                  %small.error You must enter an English name for this meeting type.
  .row
    .small-6.columns= f.submit t(:save), class: [:button, :round, :small]