.row
  .small-12.columns
    %h2= t :meetingtypes

.row
  .small-6.columns= link_to t(:new_meetingtype), new_admin_meetingtype_path, class: [:button, :tiny, :round]
.row
  .small-12.columns
    %table
      %thead
        %th Name?
        %th
      %tbody
        - @meetingtypes.each do |r|
          %tr
            %td
              = r.name
            %td
              - if can? :edit, r
                = link_to t(:edit), edit_admin_meetingtype_path(r), class: [:button, :round, :tiny]
              - if can? :destroy, r
                = link_to t(:delete), [:admin, r], method: :delete,  class: [:button, :alert, :round, :tiny], data: {confirm: 'Are you sure?'}
.row
  .small-6.columns= link_to t(:new_meetingtype), new_admin_meetingtype_path, class: [:button, :tiny, :round]          