.theme
  .carousel
    - unless @festivaltheme.image.blank?
      .slide{style: "background: url(#{@festivaltheme.image.url}) center bottom no-repeat; background-size: cover"} &nbsp;
      
  .overlapping_divider 
    .text= @festivaltheme.name

  .row.theme-text
    .columns.small-12.medium-7.small-centered
      = raw @festivaltheme.description
      - if @festivaltheme.slug == 'helsinki-inside-out'
        #register
        %h3= link_to 'See all activities', festival_theme_activities_festival_path(@festival, @festivaltheme)
        %h2 What would you like to do?
    
  - if @festivaltheme.slug == 'helsinki-inside-out'
    
    .row
      .small-12.medium-7.columns.small-centered
        %p This festival took place in 2015; registration is now closed.
        
      / = semantic_form_for([@festival, @festivaltheme, Experience.new], html: {:"data-abide" => ''}) do |f|
      /   .columns.small-12.medium-7.small-centered
      /     .row
      /       .small-10.columns= f.input :festivaltheme_id, data: {value: @festivaltheme.id}, as: :hidden
      /     .row
      /       .small-10.columns= f.input :name, label: "Your name", hint: 'This will not be shared with the public (unless you want it to be!)', input_html: {required: :required}
      /     .row
      /       .small-10.columns= f.input :email, label: 'Your email', hint: 'This will not be shared with the public!', input_html: {required: :required}
      /     .row
      /       .small-10.columns= f.input :phone, label: 'Your phone #', hint: 'This will not be shared with the public!', input_html: {required: :required}
      /     .row
      /       .small-10.columns= f.input :experience_type, as: :select,   collection: [['I would like to offer an experience', 0], ['I would like to offer a place', 1], ['I would like to offer an experience AND a place', 2] ],  input_html: { required: :required}
      /     .row
      /       .small-10.columns= f.input :description, label: 'Please describe your experience (and/or place) in just a few short sentences.', input_html: {required: :required}
      /     .row
      /       .small-10.columns= f.input :when_text, label: 'When will this take place?', hint: 'Inside⋅Out hours are between 10:00 - 17:00, Sunday 27 September', input_html: {required: :required}
      /     .row
      /       .small-10.columns= f.input :location, label: 'Where will this take place?', hint: 'Leave blank if you would like Pixelache to help find a venue. No promises!'
      /     .row
      /       .small-10.columns= f.input :other_activities, label: 'Is there room for other activities in this location during the InsideOut times?'
      /     .row
      /       .small-10.columns= f.input :special_instructions, label: 'Are there any special instructions for people who wish to attend?'
      /     .row
      /       .small-12.columns= recaptcha_tags  hl: I18n.locale.to_s
      /     .row
      /       .small-10.columns= f.submit 'Submit'
            
  - unless @festivaltheme.posts.published.empty? && @festivaltheme.events.published.empty?
    .row.theme_single
      .columns.small-11.medium-7.small-centered
        .related_content.row
          .small-12.related_heading
            %h2.no_bar= t :news_and_events
          - @festivaltheme.posts.published.each do |post|
            .small-12.medium-6.columns.related{class: cycle('odd', 'even')}
              = link_to post do
                .related_image_box{style: "background: url(#{post.image.url(:standard)}) no-repeat center center;"}
                %h3= post.title
                .blurb= raw truncate_html(sanitize(post.body, tags: %w{em i italic b bold strong u}), length: 200)
              = link_to t("read_more") + " >>>", post
            
          - @festivaltheme.events.published.shuffle.each do |event|
            .small-12.medium-6.columns.related{class: cycle('odd', 'even')}
              = link_to event do
                .related_image_box{style: "background: url(#{event.image.url(:standard)}) no-repeat center center;"}
                %h3= event.name
                .blurb= raw truncate_html(strip_tags(event.description), length: 200)
              = link_to t("livingspaces.learn_more") + " >>>", event
  .row.theme_single
    .columns.small-11.medium-7.small-centered.float-center.share_bar= render partial: 'shared/share_buttons', locals: {url:  CGI::escape("http://#{request.host}#{request.port != 80 ? ":" + request.port.to_s : ''}/festivals/#{@festivaltheme.festival.slug}/theme/#{@festivaltheme.slug}"), title: CGI::escape(@festivaltheme.name)}              