- if related.class == Event
  .row
    .related.event
      .related_metadata
        %span.date= date_range(related.start_at, related.end_at)
      .title= link_to t(:event) + ": " + related.name, related
      .row
        .small-12.medium-4.columns  
          - if related.image?
            .image= image_tag related.image.url(:box)
        .small-12.medium-8.columns
          .body= raw truncate_html(related.description, :length => 250)
      .read_more= link_to raw("&rsaquo; &rsaquo; ") + t(:read_more), related
      
- elsif related.class == Post
  .row
    .related.post
      .related_metadata
        %span.date
          = "#{l related.published_at.to_date, :format => :long}" + ", " 
          - unless related.creator.blank?
            = related.creator.name
      .title= link_to  t(:post) + ": " + related.title, related
      .row
        .small-12.medium-4.columns
          - if related.image?
            .image= image_tag related.image.url(:box)
          
        .small-12.medium-8.columns.body= raw truncate_html(related.body, :length => 350)
      .row
        .small-12.columns.read_more= link_to raw("&rsaquo; &rsaquo; ") + t(:read_more), related
        
- elsif related.class == Project
  .row
    .related.project
      .title= link_to t(:project) + ": " + @post.project.name, @post.project
      - unless @post.project.description.blank?
        .row{:style => 'padding-bottom: 20px'}
          - if @post.project.photos.empty?
            .small-12.columns.body= raw truncate_html(@post.project.description, :length => 350)
          - else
            .medium-4.small-12.columns= image_tag @post.project.photos.first.filename.url(:box)
            .medium-8.small-12.columns= raw truncate_html(@post.project.description, :length => 350)
            
- elsif related.class == Page
  .row
    .related.related_page
      .related_metadata
      .title= link_to  related.title, related
      .row
        .small-12.columns.body= raw truncate_html(strip_tags(related.body), :length => 350)
      .row
        .small-12.columns.read_more= link_to raw("&rsaquo; &rsaquo; ") + t(:read_more), related
        
- elsif related.class == Residency
  .row
    .related.related_page
      .related_metadata
      .title= link_to  t(:residency) + ": " + related.name, related
      .row
        .medium-4.small-12.columns
          - if related.photo?
            = image_tag related.photo.url(:box)
        .small-12.medium-8.columns.body= raw truncate_html(strip_tags(related.description), :length => 350)
      .row
        .small-12.columns.read_more= link_to raw("&rsaquo; &rsaquo; ") + t(:read_more), related        