.row
  .small-12.medium-8.columns.medium-offset-2
    .top_post
      .category= @post.category
      .title= link_to @post.title, @post
      .metadata
        = "#{date_range(@post.stream_date, @post.endstream_date)}, #{@post.creator.name}"
      .body= truncate_html(@post.body, :length => 200)
      .read_more= link_to t(:read_more), @post