.row
  .small-12.columns
    %h2= t :posts


- @posts.in_groups_of(3).each do |post_group|
  .row.post_row
    - post_group.each do |post|
      .small-4.columns.post_small
        .title= link_to post.title, post
        .metadata
          %span.date= l post.published_at.localtime.to_date, :format => :long
          - unless post.creator.nil? 
            = ", #{post.creator.name}"
      
        - if post.image?
          .post_image= link_to image_tag(post.image.url(:box)), post
          .related
            - if post.event
              = link_to post.event.name, post.event
            - if post.festival
              = link_to post.festival.name, post.festival
            - if post.project
              = link_to post.project.name, post.project
            = link_to t(:read_more), post, :class => :last
.row
  .small-12.columns= paginate @posts