- if @festival
  = content_for :festival_menu do
    = render :partial => 'festivals/festival_menu', :locals => {festival: @festival}
= content_for :page_tree do
  .left-collapse
    - if @residency
      %span.leaf
        = link_to t(:residencies), residencies_path
        = " : "
      %span.leaf
        = link_to @residency.name, @residency
        = " : "
    - if @user
      %span.leaf
        = link_to t(:members), members_path
        = " : "
      %span.leaf
        = link_to @user.name, member_path(@user)
        = " : "
    - if @project
      %span.leaf
        = link_to t(:projects), projects_path
        = ' : '
      - @project.self_and_ancestors.reverse.each do |p|
        - if p == @project
          %strong= link_to p.name, p
          = " : "
        - else
          %span.leaf
            = link_to p.name, p
            = " : "
    %strong= t :news
- if @project
  = content_for :project_tree do
    = render :partial => 'shared/projects_tree'  
.row.posts_index_container
  .large-10.columns.large-offset-1
    - if @user
      %h2= t(:all_posts_by, member: @user.name)

    - @posts.in_groups_of(3).each do |post_group|
      .row.post_row{:"data-equalizer" => ''}
        - post_group.compact.each_with_index do |post, index|
          .medium-4.small-12.columns.post_small{class: post_group[index+1].nil? ? :end : false}
            .title{:"data-equalizer-watch" => ''}= link_to post.title, post
            .metadata
              %span.date=(l post.published_at.localtime.to_date, :format => :long) + ", "
              - if post.creator.nil? 
                Pixelache
              - else 
                = "#{post.creator.name}"
      
            - if post.image?
              .post_image= link_to image_tag(post.image.url(:box)), post
              .related
                - if post.event
                  = link_to post.event.name, post.event
                - if post.festival
                  = link_to post.festival.name, post.festival
                - if post.project
                  = link_to post.project.name, post.project
                = link_to t(:read_more), post, :class => :last
    .row
      .small-12.columns= paginate @posts