- if @festival
  = content_for :festival_menu do
    = render :partial => 'festivals/festival_menu', :locals => {festival: @festival}
= content_for :page_tree do
  .left-collapse
    - if @residency
      %span.leaf
        = link_to t(:residencies), residencies_path
        = " : "
      %span.leaf
        = link_to @residency.name, @residency
        = " : "

    - if @user
      %span.leaf
        = link_to t(:members), members_path
        = " : "
      %span.leaf
        = link_to @user.name, member_path(@user)
        = " : "
    - if @project
      %span.leaf
        = link_to t(:projects), projects_path
        = ' : '
      - @project.self_and_ancestors.reverse.each do |p|
        - if p == @project
          %strong= link_to p.name, p
          = " : "
        - else
          %span.leaf
            = link_to p.name, p
            = " : "
    %strong= t :news
    - if @year
      = " : "
      %span.leaf= @year 
      
- if @project
  = content_for :project_tree do
    = render :partial => 'shared/projects_tree'  
.row.posts_index_container
  .large-10.columns.large-offset-1
    - if @user
      %h2= t(:all_posts_by, member: @user.name)

    - @posts.in_groups_of(3).each do |post_group|
      .row.post_row{:"data-equalizer" => ''}
        - post_group.compact.each_with_index do |post, index|
          .medium-4.small-12.columns.post_small{class: post_group[index+1].nil? ? :end : false}
            .categories
              = post.category

            .post_image{style: post.image? ? "background-image: url(#{post.image.url(:box).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".gray").css("display", "block");', onmouseout: '$(this).find(".gray").css("display", "none");'}
              .gray
                .excerpt= link_to raw(truncate_html(strip_tags(post.body.gsub(/&nbsp;/, ' ')), :length => 260)), post
     

                - if post.event || post.festival || post.project
                  .hashtags
                    - if post.event
                      .hashtag= link_to(post.event.name, post.event)
                    - if post.festival
                      .hashtag= link_to post.festival.to_hashtag, post.festival
                    - if post.project
                      .hashtag= link_to post.project.to_hashtag, post.project

                   
                  
            .lower{:"data-equalizer-watch" => ''}
              .title= link_to post.title, post


              .metadata
                %span.date=(l post.published_at.localtime.to_date, :format => :long) + ", "
                - unless post.creator.nil?
                  = "#{post.creator.name}"
                                          
    .row
      .small-12.columns= paginate @posts