- if @festival
  = content_for :festival_menu do
    = render :partial => 'festivals/festival_menu', :locals => {festival: @festival}
- else
  = content_for :page_tree do
    .left-collapse
      - if @post.event
        - if @post.event.project
          %strong= link_to @post.event.project.name, @post.event.project
          %span.leaf= " : "
        %span.leaf= link_to @post.event.name, @post.event
        %span.leaf= " : "
      - elsif @post.project
        %span.leaf= link_to t(:project), projects_path
        %span.leaf= " : "
        %strong= link_to @post.project.name, @post.project
        %span.leaf= " : "
      - else
        %strong= link_to t(:news), posts_path
        %span.leaf= " : "
      %span.leaf= link_to @post.name, @post



.post_single
  .row
    .columns.small-centered.small-10{:class => figure_width(@post, "medium-8")}
      .internal.row
        .small-12.columns{:style => 'padding: 0px'}
          .categories= @post.category
        
          - unless @post.photos.empty? && !@post.image?
            .post_image{class: @post.photos.empty? ? false : 'image_carousel' }
              .slide= best_image(@post)
              - @post.photos.each do |h|
                .slide= image_tag h.filename.url(:standard)
            
          .title
            = @post.title
            - if can? :edit, @post
              = link_to t(:edit_post), edit_admin_subsite_post_path(@post.subsite, @post), class: [:tiny, :button, :secondary]
          
          .metadata
            %span.date
              - if @post.published
                = l(@post.published_at.localtime.to_date, :format => :long) + ", "
              - else
                = t(:not_yet_published) + ", "
            - unless @post.creator.nil? 
              - if @post.creator.memberships.empty?
                = raw "#{@post.creator.name}"
              - else
                = raw "#{link_to @post.creator.name, member_path(@post.creator)}"      
          .body=raw @post.body
          // #Nokogiri::HTML.parse(@post.body.gsub(/(<(?!\/)[^>]+>)+(<\/[^>]+>)+/, '')).inner_html
      .row
        .small-12.columns.share_this= render :partial => 'shared/share_this_buttons'

  - unless @post.related_content.empty?
    .related_container.post
      .row
        .columns.small-centered.small-10{:class => figure_width(@post, "medium-8")}
          .row
            .small-12.columns.related_title
              %h1= t(:related_content)
      .row
        .columns.small-centered.small-10{:class => figure_width(@post, "medium-8")}
          - @post.related_content[0..5].each do |related|
            .row
              = render :partial => 'shared/related', locals: {item: @post, related: related }

    / - unless @post.related_content.empty?
    /   .related_container
    /     .row.related_title
    /       %h1= t(:related_content)
    /     - @post.related_content.each do |related|
    /       = render :partial => 'shared/related', locals: {related: related}

- if [@post.photos, @post.image].flatten.compact.size > 1
  = content_for :jquery do
    :plain
      $('.image_carousel').slick({fade: true, arrows: false, autoplay: true, autoplaySpeed: 2900});