.post.row
  .small-12.columns
    %h2= @post.title
    .metadata
      = "posted at #{l @post.published_at, :format => :long} "
      - unless @post.creator.nil? 
        = "by #{@post.creator.name}"
.row
  .small-12.column
    - if @post.image?
      - if !@post.image_width.nil?
        - if @post.image_width >= 800
          = image_tag @post.image.url(:standard)
        - else
          = image_tag @post.image.url
      - else
        = image_tag @post.image.url
.row
  .small-8.column              
    = raw @post.body
  .small-4.columns
    - if @post.event
      %p
        Event:
        = link_to @post.event.name, @post.event
    - if @post.project
      %p
        Project:
        = link_to @post.project.name, @post.project
    - if @post.festival
      %p
        Festival:
        = link_to @post.festival.name, @post.festival