= content_for :page_tree do
  .row.left-collapse
    - if @post.festival 
      %strong= link_to @post.festival.name, @post.festival
      %span.leaf= " : "
    - elsif @post.event
      - if @post.event.project
        %strong= link_to @post.event.project.name, @post.event.project
        %span.leaf= " : "
      %span.leaf= link_to @post.event, @post.event
      %span.leaf= " : "
    - elsif @post.project
      %strong= link_to @post.project.name, @post.project
      %span.leaf= " : "
    - else
      %strong= link_to t(:news), posts_path
      %span.leaf= " : "
    %span.leaf= link_to @post.name, @post


.row.outer
  .post_single.columns.small-centered{:class => figure_width(@post, "small-8")}
    .internal.row
      .small-12.columns{:style => 'padding: 0px'}
    

        .post_image
          %center= best_image(@post)

        .metadata
          %span.date= l @post.published_at.localtime.to_date, :format => :long if @post.published
          - unless @post.creator.nil? 
            = ", #{@post.creator.name}"
        .title
          = @post.title
      
        .body= raw @post.body
    .row
      .small-12.columns.share_this= render :partial => 'shared/share_this_buttons'

    - unless @post.related_content.empty?
      .row.related_title
        %h1= t(:related_content)
      - @post.related_content.each do |related|
        = render :partial => 'related', locals: {related: related}
