.row
  .small-10.columns.large-offset-1
    %h2 
      Front page design
      
.row
  .small-8.columns.large-offset-1#sortable
    - @frontitems.order(:position).each do |fi|
      .row.front_item[fi]
        .small-4.columns
          - if fi.frontmodule
            - if fi.frontmodule.exampleimage?
              = image_tag fi.frontmodule.exampleimage.url(:logo)
        
        .small-8.columns
          %h4= fi.name
          %div
            %p= link_to 'Edit details', edit_admin_frontitem_path(fi), :class => [:button, :round, :tiny]
      
.row
  .small-6.columns= button_to 'Add new frontpage item', new_admin_frontitem_path, class: [:button, :round, :small], method: :get
    
    
= content_for :jquery do
  :plain
    $('#sortable').sortable({
      update: function(){
            $.ajax({
              url: '/admin/frontitems/sort',
              type: 'post',
              data: $('#sortable').sortable('serialize'),
              dataType: 'script',
              complete: function(request){
                $('#sortable').effect('highlight');
              }
            });
        }
    });