= content_for :page_tree do
  %span.leaf= t :archive
  = " : "
  %span.leaf
    %strong= @year
    

- cache ['archive', @year] do 
      
  .yearly_archive
    
  
    .row.expanded
  
      .medium-4.small-12.columns.float-right.archive_nav

        .magellan-scrollnav{:"data-sticky-container" => ''}
          %nav.sticky{:'data-sticky' => '', :'data-sticky-on' => 'medium', :'data-margin-top' => '7'}
            %ul.vertical.menu.sub-nav{:"data-magellan" => '', :'data-bar-offset' => '100'}
              - unless @documents.empty?
                %li{:"data-magellan-arrival" => "publications"}= link_to t(:publications), '#publications' 
              - unless @festival.name.blank?
                %li{:"data-magellan-arrival" => "festival"}= link_to t(:festival), '#festival'
              - unless @projects.empty?
                %li{:"data-magellan-arrival" => "projects_archive"}= link_to t(:projects), '#projects_archive'

              - unless @events.empty?
                %li{:"data-magellan-arrival" => "events_archive"}= link_to t(:events), '#events_archive'              
              
              - unless @residencies.empty?
                %li{:"data-magellan-arrival" => "residencies"}= link_to t(:residencies), '#residencies'

              - unless @posts.empty?
                %li{:"data-magellan-arrival" => "posts"}= link_to t(:news), '#posts'               
              - unless @photos.empty?
                %li{:"data-magellan-arrival" => "photos"}= link_to t(:photos), '#photos'    
              - unless @videos.empty?
                %li{:"data-magellan-arrival" => "videos"}= link_to t(:videos), '#videos'               
  
  
      .small-12.medium-8.columns.main_section
        .row.expanded
          .medium-9.columns.medium-offset-3
            .year
              - unless @year.to_i == 2002
                = link_to '<< ', archive_path(@year.to_i - 1)
              = @year
              - unless @year.to_i == Time.now.year
                = link_to '>> ', archive_path(@year.to_i + 1)
          
        - unless @documents.empty? && @project_publications.empty?
          %section.documents#publications{:"data-magellan-target" => :publications }
            .row.expanded
              .medium-9.columns.medium-offset-3
                .row.expanded
                  .small-12.columns
                    .section_title= t(:publications)
            .row.expanded
              .medium-9.columns.medium-offset-3.document_list
                - @documents.each do |d|
                  .row.expanded
                    .small-4.medium-3.columns
                      .doc_icon= link_to image_tag(theme_image_path('arch_doc_grey.png')), d.attachment.attachedfile.url, onmouseover: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')"
                    
                    .small-8.medium-9.columns.title_container{onmouseover: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')" }
                      .name= link_to d.title, d.attachment.attachedfile.url  
                - @project_publications.each do |d|
                  .row.expanded
                    .small-3.columns
                      .doc_icon= link_to image_tag(theme_image_path('arch_doc_grey.png')), d.attachedfile.url, onmouseover: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')"
                    
                    .small-9.columns.title_container{onmouseover: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')" }
                      .name= link_to d.title, d.attachedfile.url       
                                
        - unless @festival.name.blank? 
          %section.festival#festival{:"data-magellan-target" => :festival }
            .row.expanded
              .medium-9.columns.medium-offset-3
                .row.expanded
                  .small-12.columns
                    .section_title
                      = link_to @festival.name, @festival, target: :blank
                      = " : "
                      = link_to @festival.subtitle, @festival, target: :blank
            .row.expanded
              .medium-9.columns.medium-offset-3.events
                - @festival.attachments.public_files.each do |d|
                  .row.expanded
                    .small-3.columns
                      .doc_icon= link_to image_tag(theme_image_path('arch_doc_grey.png')), d.attachedfile.url, onmouseover: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')"
                  
                    .small-9.columns.title_container{onmouseover: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')" }
                      .name= link_to d.title, d.attachedfile.url
              
                - @festival.events.published.order(:start_at).each do |e|
                  .row.expanded
                    .small-4.medium-3.columns
                      = link_to e, target: :_blank  do
                        .archive_image_box{style: e.image? ? "background-image: url(#{e.image.url(:thumb).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                          .blue
                            .date= e.start_at.strftime('%d %b')

                    .small-8.medium-9.columns.title_container{ onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                      .name= link_to e.name, e, target: :_blank 

        - unless @projects.empty?
          %section.projects#projects_archive{:"data-magellan-target" => "projects_archive" }
            .row.expanded
              .medium-9.columns.medium-offset-3
                .row.expanded
                  .small-12.columns
                    .section_title= t(:projects)
              
            .row.expanded
              .medium-9.columns.medium-offset-3.project_list
                - @projects.each do |p|
                  .row.expanded
                    - if p.photos.empty?
                      .small-4.medium-3.columns
                        = link_to p, target: :_blank do
                          .archive_image_box{style: "background-image: url('/assets/pixelache/images/arch_sq_grey_100x100.png')", onmouseover: '$(this).css("background-image", "url(\'/assets/pixelache/images/arch_sq_blue100x100.png\')");', onmouseout: '$(this).css("background-image", "url(\'/assets/pixelache/images/arch_sq_grey_100x100.png\')");'}
                      .small-8.medium-9.columns.title_container{onmouseover: '$(this).closest(".row").find(".archive_image_box").css("background-image", "url(\'/assets/pixelache/images/arch_sq_blue100x100.png\')");', onmouseout: '$(this).closest(".row").find(".archive_image_box").css("background-image", "url(\'/assets/pixelache/images/arch_sq_grey_100x100.png\')");'}
                        .name= link_to p.name, p, target: :_blank
                                            
                    - else
                      .small-4.medium-3.columns
                        = link_to p, target: :_blank  do
                          .archive_image_box{style: !p.photos.empty? ? "background-image: url(#{p.photos.first.filename.url(:thumb).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                            .blue
                            
                      .small-8.medium-9.columns.title_container{onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                        .name= link_to p.name, p, target: :_blank 

        - unless @events.empty?
          %section.events#events_archive{:"data-magellan-target" => "events_archive" }
            .row.expanded
              .medium-9.columns.medium-offset-3
                .row.expanded
                  .small-12.columns
                    .section_title
                      = link_to t(:events), archive_events_path(@year)
            .row.expanded
              .medium-9.columns.medium-offset-3.events
                - @events.each do |e|
                  .row.expanded
                    - if e.image?
                      .small-4.medium-3.columns
                        = link_to e, target: :_blank  do
                          .archive_image_box{style: e.image? ? "background-image: url(#{e.image.url(:thumb).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                            .blue
                              .date= e.start_at.strftime('%d %b')

                      .small-8.medium-9.columns.title_container{ onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                        .name= link_to e.name, e, target: :_blank 
                    - else
                      .small-4.medium-3.columns
                        = link_to e, target: :_blank do
                          .archive_image_box{style: "background-image: url('/assets/pixelache/images/arch_sq_grey_100x100.png')", onmouseover: '$(this).css("background-image", "url(\'/assets/pixelache/images/arch_sq_blue100x100.png\')");', onmouseout: '$(this).css("background-image", "url(\'/assets/pixelache/images/arch_sq_grey_100x100.png\')");'}
                            .blue
                              .date= e.start_at.strftime('%d %b')
                            
                      .small-8.medium-9.columns.title_container{onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");$(this).closest(".row").find(".archive_image_box").css("background-image", "url(\'/assets/pixelache/images/arch_sq_blue100x100.png\')");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");$(this).closest(".row").find(".archive_image_box").css("background-image", "url(\'/assets/pixelache/images/arch_sq_grey_100x100.png\')");'}
                        .name= link_to e.name, e, target: :_blank                     
                    

        - unless @residencies.empty?
          %section.residencies#residencies{:"data-magellan-target" => :residencies }
            .row.expanded
              .medium-9.columns.medium-offset-3
                .row.expanded
                  .small-12.columns
                    .section_title= t(:residencies)
              
            .row.expanded
              .medium-9.columns.medium-offset-3.project_list
                - @residencies.each do |r|
                  .row
                    .small-3.columns
                      - if !r.photo?
                        &nbsp;
                      - else
                        = link_to  r, target: :_blank do
                          .archive_image_box{style: r.photo? ? "background-image: url(#{r.photo.url(:thumb).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                            .blue
                              .date= date_range(r.start_at, r.end_at).gsub(/\s\d\d\d\d/, '')
                    .small-9.columns.title_container{onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                      .name= link_to r.name, r, target: :_blank

        - unless @posts.empty?
          %section.posts#posts{:"data-magellan-target" => :posts }
            .row.expanded
              .medium-9.columns.medium-offset-3
                .row.expanded
                  .small-12.columns
                    .section_title= link_to t(:news), archive_posts_path(@year)
              
            .row.expanded
              .medium-9.columns.medium-offset-3.post_list
                .row.expanded.small-up-1.large-up-2
                  - @posts.each do |p|
                    = link_to p, target: :_blank, class: [:column, :hit],  onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");' do
                      .post
                        .image_thumbnail
                          .archive_image_box{style: p.image? ? "background-image: url(#{p.image.url(:thumb).gsub(/development/, 'production')});" : "background-image: url('/assets/pixelache/images/arch_sq_grey.png')"} 
                            .blue
                              .date= p.published_at.strftime('%d %b %Y')
                        .search_results_post_info
                          .title= p.title
                          .date= p.published_at.strftime('%d %b %Y')


        - unless @photos.empty?
          %section.photos#photos{:"data-magellan-target" => :photos }
            .row.expanded
              .medium-9.columns.medium-offset-3
                .row.expanded
                  .small-12.columns
                    .section_title= t(:photos)
              
            .row.expanded
              .medium-9.columns.medium-offset-3.photo_list
                .row.expanded
                  - @photos.each do |p|
                    .columns.image_thumbnail
                      = link_to p.item, target: :_blank  do
                        .archive_image_box{style: "background-image: url(#{p.filename.url(:thumb).gsub(/development/, 'production')});", onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                          .blue
                            .date= p.image_date.strftime('%d %b')



        - unless @videos.empty?
          %section.videos#videos{:"data-magellan-target" => :videos }
            .row.expanded
              .medium-9.columns.medium-offset-3
                .row.expanded
                  .small-12.columns
                    .section_title= t(:videos)
              
            .row.expanded
              .medium-9.columns.medium-offset-3.video_list

                - @videos.each do |v|
                  .row.expanded
                    .small-3.columns
                      = link_to v, target: :_blank do
                        .archive_image_box{style: "background-image: url(#{v.thumbnail.url(:thumb).gsub(/development/, 'production')});", onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                          .blue
                            - unless v.video_date.nil?
                              .date= v.video_date.strftime('%d %b')
                    .small-9.columns.title_container{onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                      .name= link_to v.title, v, target: :blank
                    

                                                                      
                      
