= content_for :page_tree do
  %span.leaf= t :archive
  = " : "
  %span.leaf
    %strong= @year
    
.yearly_archive
    
  
  .row
    .small-8.columns
      .row
        .medium-9.columns.medium-offset-3
          .year= @year
          
      - unless @documents.empty? && @project_publications.empty?
        .documents#publications{:"data-magellan-destination" => :publications }
          .row
            .medium-9.columns.medium-offset-3
              .section_title= t(:publications)
          .row
            .medium-9.columns.medium-offset-3.document_list
              - @documents.each do |d|
                .row
                  .small-3.columns
                    .doc_icon= link_to image_tag(theme_image_path('arch_doc_grey.png')), d.attachment.attachedfile.url, onmouseover: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')"
                    
                  .small-9.columns.title_container{onmouseover: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')" }
                    .name= link_to d.title, d.attachment.attachedfile.url  
              - @project_publications.each do |d|
                .row
                  .small-3.columns
                    .doc_icon= link_to image_tag(theme_image_path('arch_doc_grey.png')), d.attachedfile.url, onmouseover: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')"
                    
                  .small-9.columns.title_container{onmouseover: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')" }
                    .name= link_to d.title, d.attachedfile.url       
                                
      - unless @festival.blank? 
        .festival#festival{:"data-magellan-destination" => :festival }
          .row
            .medium-9.columns.medium-offset-3
              .section_title
                = @festival.name + " : "
                = @festival.subtitle
          .row
            .medium-9.columns.medium-offset-3.events
              - @festival.events.published.each do |e|
                .row
                  .small-3.columns
                    = link_to e, target: :_blank  do
                      .archive_image_box{style: e.image? ? "background-image: url(#{e.image.url(:thumb).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                        .blue
                          .date= e.start_at.strftime('%d %b')

                  .small-9.columns.title_container{ onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                    .name= link_to e.name, e, target: :_blank 

        - unless @projects.empty?
          .projects#projects_archive{:"data-magellan-destination" => "projects_archive" }
            .row
              .medium-9.columns.medium-offset-3
                .section_title= t(:projects)
                
            .row
              .medium-9.columns.medium-offset-3.project_list
                - @projects.each do |p|
                  .row
                    .small-3.columns
                      - if p.photos.empty?
                        &nbsp;
                      - else
                        = link_to p, target: :_blank  do
                          .archive_image_box{style: !p.photos.empty? ? "background-image: url(#{p.photos.first.filename.url(:thumb).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                            .blue
                              
                    .small-9.columns.title_container{onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                      .name= link_to p.name, p, target: :_blank 

      - unless @events.empty?
        .events#events_archive{:"data-magellan-destination" => "events_archive" }
          .row
            .medium-9.columns.medium-offset-3
              .section_title
                = t :events
          .row
            .medium-9.columns.medium-offset-3.events
              - @events.each do |e|
                .row
                  .small-3.columns
                    = link_to e, target: :_blank  do
                      .archive_image_box{style: e.image? ? "background-image: url(#{e.image.url(:thumb).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                        .blue
                          .date= e.start_at.strftime('%d %b')

                  .small-9.columns.title_container{ onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                    .name= link_to e.name, e, target: :_blank 
                    

        - unless @residencies.empty?
          .residencies#residencies{:"data-magellan-destination" => :residencies }
            .row
              .medium-9.columns.medium-offset-3
                .section_title= t(:residencies)
                
            .row
              .medium-9.columns.medium-offset-3.project_list
                - @residencies.each do |r|
                  .row
                    .small-3.columns
                      - if !r.photo?
                        &nbsp;
                      - else
                        = link_to  r, target: :_blank do
                          .archive_image_box{style: r.photo? ? "background-image: url(#{r.photo.url(:thumb).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                            .blue
                              .date= date_range(r.start_at, r.end_at).gsub(/\s\d\d\d\d/, '')
                    .small-9.columns.title_container{onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                      .name= link_to r.name, r

        - unless @posts.empty?
          .posts#posts{:"data-magellan-destination" => :posts }
            .row
              .medium-9.columns.medium-offset-3
                .section_title= t(:news)
                
            .row
              .medium-9.columns.medium-offset-3.post_list
                .row
                  - @posts.each do |p|
                    .columns.image_thumbnail
                      = link_to p, target: :blank do
                        .archive_image_box{style: p.image? ? "background-image: url(#{p.image.url(:thumb).gsub(/development/, 'production')});" : "background-image: url('/assets/pixelache/images/arch_sq_grey.png')" , onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                          .blue
                            .date= p.published_at.strftime('%d %b')
                            

        - unless @photos.empty?
          .photos#photos{:"data-magellan-destination" => :photos }
            .row
              .medium-9.columns.medium-offset-3
                .section_title= t(:photos)
                
            .row
              .medium-9.columns.medium-offset-3.photo_list
                .row
                  - @photos.each do |p|
                    .columns.image_thumbnail
                      = link_to p.item, target: :_blank  do
                        .archive_image_box{style: "background-image: url(#{p.filename.url(:thumb).gsub(/development/, 'production')});", onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                          .blue
                            .date= p.image_date.strftime('%d %b')
                                            
                      
             
                
    .small-4.columns
      .magellan-scrollnav
        %div{:"data-magellan-expedition" => :fixed, :"data-options" => "threshold:0;destination_threshold:20;fixed_top:100" }
          %dl.sub-nav
            - unless @documents.empty?
              %dd{:"data-magellan-arrival" => "publications"}= link_to t(:publications), '#publications' 
            - unless @festival.nil?
              %dd{:"data-magellan-arrival" => "festival"}= link_to t(:festival), '#festival'
            - unless @projects.empty?
              %dd{:"data-magellan-arrival" => "projects_archive"}= link_to t(:projects), '#projects_archive'

            - unless @events.empty?
              %dd{:"data-magellan-arrival" => "events_archive"}= link_to t(:events), '#events_archive'              
              
            - unless @residencies.empty?
              %dd{:"data-magellan-arrival" => "residencies"}= link_to t(:residencies), '#residencies'
            - unless @posts.empty?
              %dd{:"data-magellan-arrival" => "posts"}= link_to t(:news), '#posts'               
            - unless @photos.empty?
              %dd{:"data-magellan-arrival" => "photos"}= link_to t(:photos), '#photos'                          
        
    /   - unless @festival.blank?
    /     %h2= link_to @festival.name, @festival
    /     .tagline= @festival.subtitle
    /     = image_tag @festival.image.url(:standard) if @festival.image?
    /
    /     - @festival.events.each do |event|
    /       .row
    /         .small-12.columns
    /           = image_tag event.image.url(:box) if event.image?
    /
    /
    / .small-4.columns
    /   - unless @events.empty?
    /     %h2= t(:events)
    /     - @events.sort_by{|x| x.start_at }.reverse.each do |event|
    /       = link_to event do
    /         .row.event
    /           .small-12.columns
    /             = image_tag event.image.url(:box) if event.image?
    / .small-4.columns
    /   - unless @posts.empty?
    /     %h2= t :posts
    /     - @posts.sort_by(&:published_at).reverse.in_groups_of(4).each do |post_group|
    /       .row
    /         - post_group.each do |post|
    /           - next if post.nil?
    /           .small-3.columns
    /             = link_to post do
    /               = image_tag post.image.url(:logo) if post.image?