= content_for :page_tree do
  %span.leaf= t :archive
  = " : "
  %span.leaf
    %strong= @year
    

      
.yearly_archive
    
  
  .row
  
    .medium-4.small-12.columns.right.archive_nav
      .magellan-scrollnav
        %div{:"data-magellan-expedition" => :fixed, :"data-options" => "threshold:0;destination_threshold:20;fixed_top:100" }
          %dl.sub-nav
            - unless @documents.empty?
              %dd.active{:"data-magellan-arrival" => "publications"}= link_to t(:publications), '#publications' 
            - unless @festival.nil?
              %dd{:"data-magellan-arrival" => "festival"}= link_to t(:festival), '#festival'
            - unless @projects.empty?
              %dd{:"data-magellan-arrival" => "projects_archive"}= link_to t(:projects), '#projects_archive'

            - unless @events.empty?
              %dd{:"data-magellan-arrival" => "events_archive"}= link_to t(:events), '#events_archive'              
              
            - unless @residencies.empty?
              %dd{:"data-magellan-arrival" => "residencies"}= link_to t(:residencies), '#residencies'

            - unless @posts.empty?
              %dd{:"data-magellan-arrival" => "posts"}= link_to t(:news), '#posts'               
            - unless @photos.empty?
              %dd{:"data-magellan-arrival" => "photos"}= link_to t(:photos), '#photos'    
            - unless @videos.empty?
              %dd{:"data-magellan-arrival" => "videos"}= link_to t(:videos), '#videos'               
  
  
    .small-12.medium-8.columns
      .row
        .medium-9.columns.medium-offset-3
          .year
            - unless @year.to_i == 2002
              = link_to '<< ', archive_path(@year.to_i - 1)
            = @year
            - unless @year.to_i == Time.now.year
              = link_to '>> ', archive_path(@year.to_i + 1)
          
      - unless @documents.empty? && @project_publications.empty?
        .documents#publications{:"data-magellan-destination" => :publications }
          .row
            .medium-9.columns.medium-offset-3
              .section_title= t(:publications)
          .row
            .medium-9.columns.medium-offset-3.document_list
              - @documents.each do |d|
                .row
                  .small-4.medium-3.columns
                    .doc_icon= link_to image_tag(theme_image_path('arch_doc_grey.png')), d.attachment.attachedfile.url, onmouseover: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')"
                    
                  .small-8.medium-9.columns.title_container{onmouseover: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')" }
                    .name= link_to d.title, d.attachment.attachedfile.url  
              - @project_publications.each do |d|
                .row
                  .small-3.columns
                    .doc_icon= link_to image_tag(theme_image_path('arch_doc_grey.png')), d.attachedfile.url, onmouseover: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')"
                    
                  .small-9.columns.title_container{onmouseover: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_blue.png')", onmouseout: "$(this).closest('.row').find('img').attr('src', '/assets/pixelache/images/arch_doc_grey.png')" }
                    .name= link_to d.title, d.attachedfile.url       
                                
      - unless @festival.blank? 
        .festival#festival{:"data-magellan-destination" => :festival }
          .row
            .medium-9.columns.medium-offset-3
              .section_title
                = link_to @festival.name, @festival, target: :blank
                = " : "
                = link_to @festival.subtitle, @festival, target: :blank
          .row
            .medium-9.columns.medium-offset-3.events
              - @festival.events.published.each do |e|
                .row
                  .small-4.medium-3.columns
                    = link_to e, target: :_blank  do
                      .archive_image_box{style: e.image? ? "background-image: url(#{e.image.url(:thumb).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                        .blue
                          .date= e.start_at.strftime('%d %b')

                  .small-8.medium-9.columns.title_container{ onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                    .name= link_to e.name, e, target: :_blank 

      - unless @projects.empty?
        .projects#projects_archive{:"data-magellan-destination" => "projects_archive" }
          .row
            .medium-9.columns.medium-offset-3
              .section_title= t(:projects)
              
          .row
            .medium-9.columns.medium-offset-3.project_list
              - @projects.each do |p|
                .row
                  - if p.photos.empty?
                    .small-4.medium-3.columns
                      = link_to p, target: :_blank do
                        .archive_image_box{style: "background-image: url('/assets/pixelache/images/arch_sq_grey_100x100.png')", onmouseover: '$(this).css("background-image", "url(\'/assets/pixelache/images/arch_sq_blue100x100.png\')");', onmouseout: '$(this).css("background-image", "url(\'/assets/pixelache/images/arch_sq_grey_100x100.png\')");'}
                    .small-8.medium-9.columns.title_container{onmouseover: '$(this).closest(".row").find(".archive_image_box").css("background-image", "url(\'/assets/pixelache/images/arch_sq_blue100x100.png\')");', onmouseout: '$(this).closest(".row").find(".archive_image_box").css("background-image", "url(\'/assets/pixelache/images/arch_sq_grey_100x100.png\')");'}
                      .name= link_to p.name, p, target: :_blank
                                            
                  - else
                    .small-4.medium-3.columns
                      = link_to p, target: :_blank  do
                        .archive_image_box{style: !p.photos.empty? ? "background-image: url(#{p.photos.first.filename.url(:thumb).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                          .blue
                            
                    .small-8.medium-9.columns.title_container{onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                      .name= link_to p.name, p, target: :_blank 

      - unless @events.empty?
        .events#events_archive{:"data-magellan-destination" => "events_archive" }
          .row
            .medium-9.columns.medium-offset-3
              .section_title
                = link_to t(:events), archive_events_path(@year)
          .row
            .medium-9.columns.medium-offset-3.events
              - @events.each do |e|
                .row
                  - if e.image?
                    .small-4.medium-3.columns
                      = link_to e, target: :_blank  do
                        .archive_image_box{style: e.image? ? "background-image: url(#{e.image.url(:thumb).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                          .blue
                            .date= e.start_at.strftime('%d %b')

                    .small-8.medium-9.columns.title_container{ onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                      .name= link_to e.name, e, target: :_blank 
                  - else
                    .small-4.medium-3.columns
                      = link_to e, target: :_blank do
                        .archive_image_box{style: "background-image: url('/assets/pixelache/images/arch_sq_grey_100x100.png')", onmouseover: '$(this).css("background-image", "url(\'/assets/pixelache/images/arch_sq_blue100x100.png\')");', onmouseout: '$(this).css("background-image", "url(\'/assets/pixelache/images/arch_sq_grey_100x100.png\')");'}
                          .blue
                            .date= e.start_at.strftime('%d %b')
                            
                    .small-8.medium-9.columns.title_container{onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");$(this).closest(".row").find(".archive_image_box").css("background-image", "url(\'/assets/pixelache/images/arch_sq_blue100x100.png\')");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");$(this).closest(".row").find(".archive_image_box").css("background-image", "url(\'/assets/pixelache/images/arch_sq_grey_100x100.png\')");'}
                      .name= link_to e.name, e, target: :_blank                     
                    

      - unless @residencies.empty?
        .residencies#residencies{:"data-magellan-destination" => :residencies }
          .row
            .medium-9.columns.medium-offset-3
              .section_title= t(:residencies)
              
          .row
            .medium-9.columns.medium-offset-3.project_list
              - @residencies.each do |r|
                .row
                  .small-3.columns
                    - if !r.photo?
                      &nbsp;
                    - else
                      = link_to  r, target: :_blank do
                        .archive_image_box{style: r.photo? ? "background-image: url(#{r.photo.url(:thumb).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                          .blue
                            .date= date_range(r.start_at, r.end_at).gsub(/\s\d\d\d\d/, '')
                  .small-9.columns.title_container{onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                    .name= link_to r.name, r, target: :_blank

      - unless @posts.empty?
        .posts#posts{:"data-magellan-destination" => :posts }
          .row
            .medium-9.columns.medium-offset-3
              .section_title= link_to t(:news), archive_posts_path(@year)
              
          .row
            .medium-9.columns.medium-offset-3.post_list
              .row
                - @posts.each do |p|
                  .columns.image_thumbnail
                    = link_to p, target: :blank do
                      .archive_image_box{style: p.image? ? "background-image: url(#{p.image.url(:thumb).gsub(/development/, 'production')});" : "background-image: url('/assets/pixelache/images/arch_sq_grey.png')" , onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                        .blue
                          .date= p.published_at.strftime('%d %b')
                            

      - unless @photos.empty?
        .photos#photos{:"data-magellan-destination" => :photos }
          .row
            .medium-9.columns.medium-offset-3
              .section_title= t(:photos)
              
          .row
            .medium-9.columns.medium-offset-3.photo_list
              .row
                - @photos.each do |p|
                  .columns.image_thumbnail
                    = link_to p.item, target: :_blank  do
                      .archive_image_box{style: "background-image: url(#{p.filename.url(:thumb).gsub(/development/, 'production')});", onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                        .blue
                          .date= p.image_date.strftime('%d %b')



      - unless @videos.empty?
        .videos#videos{:"data-magellan-destination" => :videos }
          .row
            .medium-9.columns.medium-offset-3
              .section_title= t(:videos)
              
          .row
            .medium-9.columns.medium-offset-3.video_list

              - @videos.each do |v|
                .row
                  .small-3.columns
                    = link_to v, target: :_blank do
                      .archive_image_box{style: "background-image: url(#{v.thumbnail.url(:thumb).gsub(/development/, 'production')});", onmouseover: '$(this).find(".blue").css("display", "block");', onmouseout: '$(this).find(".blue").css("display", "none");'}
                        .blue
                          - unless v.video_date.nil?
                            .date= v.video_date.strftime('%d %b')
                  .small-9.columns.title_container{onmouseover: '$(this).closest(".row").find(".blue").css("display", "block");', onmouseout: '$(this).closest(".row").find(".blue").css("display", "none");'}
                    .name= link_to v.title, v, target: :blank
                    

                                                                      
                      
