.left_collapse
  %ul.project_tree
    - unless @project.children.visible.empty?
      %li{:"data-dropdown" => 'subprojects', :"aria-controls" => 'subprojects', :"aria-expanded" => false, :"data-options" => "is_hover:false;"}= link_to  t(:subprojects), '#'
      %ul#subprojects.f-dropdown{:"data-dropdown-content" => '', :"aria-hidden" => true, :tabindex => -1}
        - @project.children.visible.each do |child|
          %li= link_to child.name, child
    -  unless @project.pages.empty?
      - if @project.pages.roots.empty?
        - collection = @project.pages.first.children.published
      - else
        - collection = @project.pages.roots.first.children.published
      - collection.each do |child|
        - if child.children.published.empty?
          - if child.project
            %li= link_to child.name, child.project
          - else
            %li= link_to child.name, project_page_path(@project, child)
        - else
          %li{:"data-dropdown" => "child_#{child.id.to_s}", :"aria-controls" => "child_#{child.id.to_s}", :"aria-expanded" => false, :"data-options" => "is_hover:false;"}= link_to child.name, project_page_path(@project, child)
          %ul.f-dropdown{id: "child_#{child.id.to_s}", :"data-dropdown-content" => '', :"aria-hidden" => true, :tabindex => -1}
            %li= link_to t(:overview), project_page_path(@project, child)
            - child.children.published.each do |subchild|
              - if subchild.project
                %li= link_to subchild.name, subchild.project
              - else
                %li= link_to subchild.name, project_page_path(@project, subchild)
    - unless @project.self_and_descendants.visible.map{|x| x.events.published }.flatten.empty?
      %li{:"data-dropdown" => 'events', :"aria-controls" => 'events', :"aria-expanded" => false, :"data-options" => "is_hover:false;"}= link_to  t(:events), '#'
      %ul#events.f-dropdown{:"data-dropdown-content" => '', :"aria-hidden" => true, :tabindex => -1}
        - @project.self_and_descendants.visible.map{|x| x.events.published }.flatten.sort_by(&:start_at).reverse.take(5).each do |event|
          %li= link_to event.event_with_date, event
        - if @project.self_and_descendants.visible.map{|x| x.events.published }.flatten.size > 5
          %li= link_to t(:all_events), project_events_path(project_id: @project.slug)
          
    - unless @project.self_and_descendants.visible.map{|x| x.posts.published }.flatten.empty?
      %li{:"data-dropdown" => 'posts', :"aria-controls" => 'posts', :"aria-expanded" => false, :"data-options" => "is_hover:false;"}= link_to  t(:news), '#'
      %ul#posts.f-dropdown{:"data-dropdown-content" => '', :"aria-hidden" => true, :tabindex => -1}
        - @project.self_and_descendants.visible.map{|x| x.posts.by_site(@site).published }.flatten.sort_by(&:published_at).reverse.take(5).each do |p|
          %li= link_to p.title, p
        - if @project.self_and_descendants.visible.map{|x| x.posts.by_site(@site).published }.flatten.size > 5
          %li= link_to t(:all_posts), project_posts_path(@project)

    - unless @project.attachments.public_files.empty?
      %li= link_to t(:documents), project_publications_path(@project)