- if related.class == Event
  .related.related_event.column
    .related_title= link_to t(:event) + ": " + related.name, related
    .related_date= date_range(related.start_at, related.end_at)
    .row
      .small-12.medium-4.columns  
        - if related.image?
          = image_tag related.image.url(:box)
      .small-12.medium-8.columns.related_excerpt= raw truncate_html(sanitize(related.description, tags: %w{bold p br strong b i italic em underline u a}), :length => 600)
    .read_more= link_to t(:read_more), related
      
- elsif related.class == Post
  - unless related.nil?
    .related.post.column
      .related_title= link_to t(:post) + ": " + related.try(:name), related rescue 'blah'
      .related_date
        = l(related.published_at, format: :long) + ","
        = related.creator.name
      .row
        - if related.image?
          .small-12.medium-4.columns= image_tag related.image.url(:box)
        .small-12.columns.related_excerpt{class: related.image? ? "medium-8" : "medium-12"}= raw truncate_html(sanitize(related.body, tags: %w{b bold strong i italic em underline u}), :length => 600)
      .read_more= link_to t(:read_more), related


- elsif related.class == Project
  .related.project.column
    .related_title= link_to t(:project) + ": " + related.name, related
    - unless related.description.blank?
      .row
        - if related.photos.empty?
          .small-12.columns.related_excerpt= raw truncate_html(related.description, :length => 600)
        - else
          .medium-4.small-12.columns= image_tag related.photos.first.filename.url(:box)
          .medium-8.small-12.columns.related_excerpt= raw truncate_html(sanitize(related.description, tags: %w{b bold strong i italic em underline u}), :length => 600)
      .read_more= link_to t(:read_more), related
        
            
- elsif related.class == Page
  .related.related_page.column
    .related_title= link_to  related.title, related
    .row
      .small-12.columns.related_excerpt= raw truncate_html(strip_tags(related.body), :length => 600)
    .read_more= link_to t(:read_more), related
        
- elsif related.class == Residency
  .related.related_page.columns
    .related_title= link_to  t(:residency) + ": " + related.name, related
    .row
      .medium-4.small-12.columns
        - if related.photo?
          = image_tag related.photo.url(:box)
      .small-12.medium-8.columns.related_excerpt= raw truncate_html(strip_tags(related.description), :length => 600)
    .read_more= link_to t(:read_more), related
