.row
  .small-12.columns
    %h2 Pixelache project proposals

.row
  .small-6.columns= link_to t(:create_new_proposal), new_admin_projectproposal_path, class: [:button, :round]
%a{name: :current}
.row
  .small-12.columns
    %h3
      Active proposals
      %small= link_to 'See archived....', '#archived'
= render partial: 'proposal_index_table', locals: {dataset: @current}


%a{name: :archived}
.row
  .small-12.columns
    %h3 
      Archived proposals
      %small= link_to 'See active....', '#current'
= render partial: 'proposal_index_table', locals: {dataset: @archived}