%div{"data-magellan-expedition" => "fixed", :"data-options" => "throttle_delay:50;"}
  %dl.sub-nav
    %dd.first{:style => 'width: 32%'}= @projectproposal.name + ": "
    %dd.active{"data-magellan-arrival" => "what"}
      %a{:href => "#what"} What?
    %dd{"data-magellan-arrival" => "who"}
      %a{:href => "#who"} Who?
    %dd{"data-magellan-arrival" => "how"}
      %a{:href => "#how"} How?
    %dd{"data-magellan-arrival" => "when"}
      %a{:href => "#when"} When?
    %dd{"data-magellan-arrival" => "where"}
      %a{:href => "#where"} Where?                  
    %dd{"data-magellan-arrival" => "why"}
      %a{:href => "#why"} Why?      
    %dd{"data-magellan-arrival" => "comments"}
      %a{:href => "#comments"} Comments?
      
.project_proposal
  .row
    .small-12.columns
      %h1= t :pixelache_project_proposal_form
      %p= t(:proposed_by, :proposer => @projectproposal.primary_initiator.name, :when => l(@projectproposal.updated_at, :format => :long))
    .row
      .small-12.columns
        %a{:name => :what}
        %h2{:"data-magellan-destination" => "what"} What?
    .row
      .large-12.small-12.columns
        .row
          .small-2.columns.text-right=t(:name_of_project)
          .small-10.columns
            %strong
              %h3= @projectproposal.name
    .row
      .large-12.small-12.columns
        .row
          .small-2.columns
            .text-right= t(:part_of_existing_project)
          .small-10.columns= link_to_if (@projectproposal.project), @projectproposal.project.try(:name), @projectproposal.project, :target => :_blank
    .row
      .large-12.small-12.columns
        .row
          .small-2.columns
            .text-right= t :description
          .small-10.columns.end= simple_format(@projectproposal.description.html_safe)
    .row
      .small-12.columns
        .row
          .small-2.columns
            .text-right= t :long_description
          .small-10.columns.end.long_description= @projectproposal.long_description.html_safe
    .row
      .small-12.columns
        %a{:name => :who}
        %h2{:"data-magellan-destination" => "who"} Who?
    .row
      .large-6.small-12.columns
        %p= t(:proposed_by, :proposer => @projectproposal.primary_initiator.name, :when => l(@projectproposal.updated_at, :format => :long))
        %label= t(:cosupporters)
        = @projectproposal.cosupporters
    .row
      .large-6.small-12.columns= t :who_will_be_filling_following_roles
    %ol
      .row
        .large-6.small-12.columns
          %li
            %label= t :producer
            = @projectproposal.producer
      .row
        .large-6.small-12.columns
          %li
            %label= t :treasurer
            = @projectproposal.treasurer
      .row
        .large-6.small-12.columns
          %li
            %label= t :documentation
            = @projectproposal.documentation
      .row
        .large-6.small-12.columns
          %li
            %label= t :communication_person
            = @projectproposal.communication
      .row
        .large-6.small-12.columns
          %li
            %label= t :reporting_person
            = @projectproposal.reporting
    .row
      .large-6.small-12.columns
        %label= t :additional_experts
        = @projectproposal.additional_experts
    .row
      .large-6.small-12.columns
        %label= t :imagined_participants
        = @projectproposal.imagined_participants
    .row
      .small-12.columns
        %a{:name => :how}
        %h2{:"data-magellan-destination" => "how"} How?
    .row
      .large-6.small-12.columns= t :what_resources_you_need
    %ol
      .row
        .large-6.small-12.columns
          %li
            %label= t :equipment
            = @projectproposal.equipment
      .row
        .large-6.small-12.columns
          %li
            %label= t :budget
            - if @projectproposal.budget.blank?
              = t :no_budget_uploaded
            - else
              = link_to t(:download), @projectproposal.budget.url, class: [:button, :round, :tiny]
            %ol
              %li
                %label= t :external_funding
                = @projectproposal.external_funding
              %li
                %label= t :inkind
                = @projectproposal.inkind
      .row
        .large-6.small-12.columns
          %li
            %label= t :people_expertise
            = @projectproposal.people_expertise
    .row
      .small-12.columns
        %a{:name => :when}
        %h2{:"data-magellan-destination" => "when"} When?
    .row
      .large-6.small-12.columns
        %label= t :when_will_it_happen
        = @projectproposal.when
    .row
      .large-6.small-12.columns
        %label= t :when_will_it_end
        = @projectproposal.when_will_it_end
    .row
      .small-12.columns
        %a{:name => :where}
        %h2{:"data-magellan-destination" => "where"} Where?
    .row
      .small-12.large-6.columns
        %label= t :where_will_this_take_place
        = @projectproposal.where
    .row
      .small-12.columns
        %a{:name => :why}
        %h2{:"data-magellan-destination" => "why"}  Why?
    .row
      .small-12.large-6.columns
        .row
          .small-3.columns.text-right
            = t :why_do_you_want_to_do_this
          .small-9.columns= simple_format(@projectproposal.why)

- unless @projectproposal.comments.empty?
  .row#comments_list
    .small-12.columns
      %a{:name => :comments}
      %h1{:"data-magellan-destination" => "comments"}= t :member_discussion_of_proposal
  - @projectproposal.comments.sort_by(&:created_at).each do |comment|
    .row.comment
      .small-3.columns
        = image_tag comment.user.avatar.url(:thumb)
        %p
          %strong= t(:user_says, :user => comment.user.name)
      .small-9.columns
        .comment= simple_format(comment.content)
        - if comment.image?
          = image_tag comment.image.url
        - if comment.attachment?
          .row
            .small-12.columns
              %p= link_to t(:download) + ' ' + File.basename(URI.parse(comment.attachment.url).path), comment.attachment.url, class: [:button, :round, :tiny]
- if can? :create, Comment        
  .row#comments
    .small-12.columns
      %h1= t :what_do_you_think_about_this

  .row#comment_form
    .small-8.columns
      .row
        .small-3.columns
          = image_tag current_user.avatar.url(:thumb)
        
          %p= link_to t(:edit_profile), edit_admin_user_path(current_user), class: [:button, :tiny, :secondary, :round]
          %p
            %strong= t(:user_says, :user => current_user.name)
        .small-9.columns
          = semantic_form_for [:admin, @projectproposal,  @comment = @projectproposal.comments.build], html: {multipart: true, :"data-abide" => '' } do |f|
            = f.input :user_id, as: :hidden, value: current_user.id
            = f.input :content, :label => t(:your_comment),input_html: { :required => ''}
            = f.input :image, :label => t(:attach_image_to_comment)
            = f.input :attachment, :label => t(:attach_attachment_to_comment)
            = f.submit t(:save), :class => [:button, :tiny, :round]
            
= content_for :jquery do
  :plain
    $('#magellan a[href*=#]').on('click', function(event){     
      
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top - 40}, 500);
    });        