.news_index
  .centered_title
    = image_tag theme_image_path('news-title-red.png')
  .row{:"data-equalizer" => ''}
    - @posts.in_groups_of(4).each do |post_group|
      .row.post_row{:"data-equalizer" => ''}
        - post_group.compact.each_with_index do |news, index|
          = link_to news do
            .post.large-3.medium-6.small-offset-1.medium-offset-0.small-10.columns{class: @posts[index+1].nil? ? "end" : false}
              .news_image{style: news.image? ? "background-image: url(#{news.image.url(:box).gsub(/development/, 'production')});" : false, onmouseover: '$(this).find(".overlay").css("display", "block");$(this).css("background-image", "none");', onmouseout: '$(this).find(".overlay").css("display", "none");$(this).css("background-image", "url(' + news.image.url(:box) + ')");'}

                .overlay
                  = truncate_html(strip_tags(news.body), length: 400)
              .text_box{:"data-equalizer-watch" => ''}
                .title= link_to news.title, news
                .date= news.published_at.strftime('%d %B %Y')