= link_to event, class: :column do

  .event_small{style: event.image? ? "background-image: url(#{event.image.url(:box).gsub(/development/, 'production')});" : false}
    .yellow
      .title= event.name
      .metadata
        = date_range(event.start_at, event.end_at, :format => :short)
        = " | "
        = event.place.try(:name)


      - if event.festival
        .hashtag= event.festival.to_hashtag
      - if event.project
        .hashtag{style: 'bottom: 2rem'}= event.project.to_hashtag
