.event_single.row.outer
  .internal.columns.small-8.columns.small-centered
    .title= @event.name
    .metadata= date_range(@event.start_at, @event.end_at)
    .metadata= @event.place.try(:name)
    - unless @event.photos.empty? && @event.videos.empty?
      .metadata= link_to t(:scroll_down_for_documentation), '#'
    - if @event.image?
      .event_image= best_image(@event)
        
    .body= raw @event.description

    .row
      .small-12.centered.columns.share_this= render :partial => 'shared/share_this_buttons'
  
    - unless @event.posts.empty? && !@event.festival && !@event.project
      .row.related_title
        .small-12.columns.small-centered
          %h1= t(:related_content)
      .row
        .small-12.columns.small-centered
          - unless @event.posts.empty?
            - @event.posts[0..4].each do |related|
              .row
                .related.post.small-12.columns
                  .related_metadata
                    %span.date= l related.published_at.to_date, :format => :long
                    - unless related.creator.nil? 
                      = ", #{related.creator.name}" 
                  .title= link_to  t(:post) + ": " + related.title, related
                  .row
                    .small-12.columns.body= raw truncate_html(related.body, :length => 350)
                  .row
                    .small-12.columns.read_more= link_to raw("&rsaquo; &rsaquo; ") + t(:read_more), related
          - if @event.project
            .row
              .related.project.small-12.columns
                .title= link_to t(:project) + ": " + @event.project.name, @event.project
                - unless @event.project.description.blank?
                  .row{:style => 'padding-bottom: 20px'}
                    - if @event.project.photos.empty?
                      .small-12.columns.body= raw truncate_html(@event.project.description, :length => 350)
                    - else
                      .small-4.columns= image_tag @event.project.photos.first.filename.url(:box)
                      .small-8.columns= raw truncate_html(@event.project.description, :length => 350)
          