.event_single.row
  .internal.columns.small-8.columns.small-offset-2
    .title= @event.name
    .metadata= date_range(@event.start_at, @event.end_at)
    .metadata= @event.place.try(:name)
    - unless @event.photos.empty? && @event.videos.empty?
      .metadata= link_to t(:scroll_down_for_documentation), '#'
    - if @event.image?
      .event_image= best_image(@event)
        
    .row
      .small-12.columns
        = raw @event.description
