.row.left-collapse.top_of_nav
  .small-6.medium-2.columns
    %ul.text-right.first
      %li= link_to t(:info), "#", onmouseover: "javascript:toggleNavMenu('#info')", id: :info
      %li= link_to t(:activities), "#", onmouseover: "javascript:toggleNavMenu('#activities')", id: :activities
      %li= link_to t(:people), "#", onmouseover: "javascript:toggleNavMenu('#people')", id: :people
      %li= link_to t(:archive), "#", onmouseover: "javascript:toggleNavMenu('#archive')", id: :archive
  .small-6.medium-2.columns
    %ul.navhide#info_menu
      %li= link_to t(:about), page_path('about')
      %li= link_to t(:latest_news), posts_path, onmouseover: "javascript:toggleNavMenu('#news')", id: :news
      %li= link_to t(:press), page_path('press')
    %ul.navhide#activities_menu
      %li= link_to t(:events), events_path, onmouseover: "javascript:toggleNavMenu('#events')", id: :events
      %li= link_to t(:projects), projects_path, onmouseover: "javascript:toggleNavMenu('#projects')" , id: :projects
      %li= link_to t(:festival), festivals_path, onmouseover: "javascript:toggleNavMenu('#festivals')" , id: :festivals
      %li= link_to t(:residencies), residencies_path
    %ul.navhide#people_menu
      %li= link_to t(:members), '/members'
      %li= link_to t(:network), 'http://network.pixelache.ac/'
      %li= link_to t(:collaborators), '#'
    %ul.navhide#archive_menu
      %li= link_to t(:all_posts), posts_path
      %li= link_to t(:festivals), festivals_path, onmouseover: "javascript:toggleNavMenu('#festivals')" , id: :festivals
      %li= link_to t(:yearly_archive), "#", onmouseover: "javascript:toggleNavMenu('#yearly')", id: :yearly
              
  .small-12.medium-8.columns
    %ul.navhide.inner#news_menu
      - @recent_news.each do |news|
        %li
          = link_to news.title, news
          %span.date= l news.published_at.to_date, format: :short
      %li= link_to t(:all_news), posts_path
    %ul.navhide.inner#yearly_menu
      .row
        - (Time.now.year).downto(2002).to_a.in_groups_of((Time.now.year).downto(2002).size /  3 - 1 ).each_with_index do |group, colno|
          / - unless group.compact.count < ((Time.now.year).downto(2002).size /  3)
          .small-2.columns.small-offset-0{class: group[colno+1].nil? ? :end : false}
            %ul.inner_year
              - group.compact.each do |year|
                %li= link_to year, "/archive/#{year}"
              / - unless (Time.now.year).downto(2002).to_a.in_groups_of((Time.now.year).downto(2002).size /  3 - 1)[colno + 1].nil?
              /   - if (Time.now.year).downto(2002).to_a.in_groups_of((Time.now.year).downto(2002).size / 3)[colno+1].compact.count < ((Time.now.year).downto(2002).size / 3)
              /     - (Time.now.year).downto(2002).to_a.in_groups_of((Time.now.year).downto(2002).size / 3)[colno+1].each do |y|
              /       - next if y.nil?
              /       %li= link_to y, "/archive/#{y}"
    %ul.inner.navhide#events_menu
      - @recent_events.each do |e|
        %li
          = link_to e.name, e
          %span.date= l e.start_at.to_date, format: :short
        - if e == @recent_events.last
          %li= link_to t(:all_events), events_path
    %ul.inner.navhide#festivals_menu
      - @recent_festivals.each do |f|
        %li
          = link_to f.name, f
          %span.date= f.subtitle
      %li= link_to t(:festivals_archive), festivals_path
    %ul.inner.navhide#projects_menu
      .row
        - @active_projects.take(8).in_groups_of(4) do |group|
          .small-12.medium-6.columns  
            %ul.inner
              - group.each do |p|
                - next if p.nil?
                %li= link_to p.name, p
                - if p == @active_projects.last
                  %li= link_to t(:all_projects), projects_path
  