%nav.top-bar{"data-topbar" => "", :role => "navigation", :"data-options" => "is_hover: false"}
  %ul.title-area
    %li.name
      = link_to image_tag(theme_image_path('PA_logo.png'), :alt => "Pixelache"), '/'
      &nbsp;


  %section.top-bar-section
    %ul.left
      %li.tagline#dynamic_tagline
        = link_to @site.dynamictagline.tagline, dynamictaglines_path, :remote => true
          
    %ul.right.lang

      = link_to_unless(session[:locale] == :en, 'ENG', {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'en'}) 
      %span.divider= " | "
      = link_to_unless(session[:locale] == :fi, 'FIN', { :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'fi'} )
    - if current_user
      %ul.right
        %li.has-dropdown
          %a{:href=> '#'}= current_user.username.gsub(/\@.*$/, '')
          %ul.dropdown
            - unless current_user.roles.empty?
              %li= link_to 'Admin', '/admin'
            %li= link_to 'Edit your profile', edit_user_path(current_user)
            %li= link_to 'Sign out', '/signout'




        