!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      = display_meta_tags site: "Pixelache CMS"
      %meta{:content => content_for?(:description) ? yield(:description) : "Pixelinfra", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = stylesheet_link_tag "cms", :media => "all"
        = javascript_include_tag "vendor/modernizr"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    = javascript_include_tag "application"
    = javascript_include_tag "pixelache/javascripts/application"
    %header
      = render 'admin/layouts/navigation'
      = render 'layouts/messages'
      
    #main.container{:role => "main"}

      = yield
    %footer
    :javascript
      $(document).ready(function() {
        #{yield :jquery}
      });
      