!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Pixelinfra"
      %meta{:content => content_for?(:description) ? yield(:description) : "Pixelinfra", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = stylesheet_link_tag "cms", :media => "all"
        
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}

    /= javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application"
    #container.container
      %header
        = render 'layouts/navigation'
        = render 'layouts/messages'
      #main{:role => "main"}
        = yield
      %footer
    / ! end of #container
