!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = display_meta_tags site: "Pixelache CMS"
    %meta{:content => content_for?(:description) ? yield(:description) : "Pixelinfra", :name => "description"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "pixelache/javascripts/application"
    = javascript_include_tag "pixelache/javascripts/cms"
    = stylesheet_link_tag "cms", :media => "all"
    = stylesheet_link_tag "print", media: :print
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}


    %header
      %div{:'data-sticky-container' => ''}= render 'admin/layouts/navigation'
      = render 'layouts/messages'
      
    #main.container{:role => "main"}

      = yield
    %footer
    :javascript
      $(document).ready(function() {
        #{yield :jquery}
      });
      