!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = display_meta_tags :site => 'Pixelache' 
    
    %meta{:content => content_for?(:description) ? yield(:description) : "Pixelache", :name => "description"}
    %link{:href => "https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400,300,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/feed", :rel => "alternate", :title => "RSS", :type => "application/rss+xml"}/
    -#= stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag Ckeditor.cdn_url

    = stylesheet_link_tag 'pixelache/stylesheets/application', :media => :screen
    -#= stylesheet_link_tag 'pixelache/stylesheets/mobile', :media => :screen
    = javascript_include_tag "application"    
 
    = javascript_include_tag "pixelache/javascripts/application"

    - if controller.controller_name == 'events' || controller.controller_name == 'home'
      %script{:src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}", :type => "text/javascript"}

    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40681531-1', 'auto');
      ga('send', 'pageview');
    #container.container
      %header
        %nav#top_nav= render 'layouts/top_bar'
        - unless @festival && controller.controller_name != 'archive'
          = content_for :jquery do
            :plain
              $('ul.title-area li.name, a.menu_link_anchor, .top-bar-wrapper .arrow-down').mouseover(function() {  
                  if ($('.pixelache_nav_menu').is(':hidden')) {
                    down_pixelache_menu();
                  }
                  $('a.menu_link_anchor').text("#{t :close}").mouseover(function () {
                  $('a.menu_link_anchor').text("#{t :close}");
                  }).mouseout(function() { 
                    $('a.menu_link_anchor').text("#{t :close}");
                  });
              });
              $('a.menu_link_anchor').click(function() {
                if ($('.pixelache_nav_menu').is(':visible')) {
                  up_pixelache_menu();
                  $('a.menu_link_anchor').text("#{t :menu}").mouseover(function() {
                    $('a.menu_link_anchor').text("#{t :open}") }).mouseout(function() {
                      $('a.menu_link_anchor').text("#{t :menu}");
                                  });
                      }
                  return false;  
                    });

        - else
          = content_for :jquery do
            :plain
              $('a.menu_link_anchor').click(function() {
                if ($('.festival_main_menu').is(':visible')) {
                  var mainto =  $('.festival_top_header').height() + 40;
                  $('.festival_main_menu').slideUp(1000);
                  $('#main').animate({top: mainto - 40});
                  $('a.menu_link_anchor').text("#{t :menu}").mouseover(function () {
                    $(this).text("#{t :open}");
                  }).mouseout(function() { 
                    $(this).text("#{t :menu}");
                  });
                } else {
                  var mainto = $('.festival_top_header').height()  + $('.festival_main_menu').height()
                  ;
                  $('#main').animate({top: mainto});
                  $('.festival_main_menu').slideDown(1000);
                  $('a.menu_link_anchor').text("#{t :menu}").mouseover(function () {
                    $(this).text("#{t :hide}");
                  }).mouseout(function() { 
                    $(this).text("#{t :menu}");
                  });
                }
                return false;
              });
        - if @festival
          .pixelache_nav_menu.sticky{:class => content_for?(:festival_menu) ? :festival_menu : :black, :style => content_for?(:festival_menu) ?  "background-color: #" + (@festival.background_colour.blank? ? "#FFF" : @festival.background_colour) + "; color: #" + (@festival.primary_colour.blank? ? "#FFF" : @festival.primary_colour) : false }
            - if content_for? :festival_menu
              .festival_menu_wrapper= yield :festival_menu

            
        - if content_for? :page_tree
          %div#sticky_page{:'data-sticky-container' => ''}
            .page_tree.sub{class: @festival && controller.controller_name != 'archive' ? :festival_page_tree : false, :"data-sticky" => '', style: "width:100%; ", :'data-sticky-on' => 'medium', :'data-margin-top' => '3.1'}
              = yield :page_tree
        - if content_for? :project_tree
          %div{:'data-sticky-container' => ''}
            .project_tree.sub{:"data-sticky" => '', :'data-sticky-on' => 'medium', style: "width:100%;  padding-top:0.8rem",   :'data-margin-top' => '5'}
              = yield :project_tree

        
        = render 'layouts/messages'

      #main{:role => "main"}
        .archive_bar.row.expanded
          .small-12.columns.text-center
            = t(:archive_text)
            %br/
            = t(:archive_link, link: 'https://pixealche.com').html_safe         
        = yield
    %footer
      .hashtag.row
        .small-12.columns
          %span{:style => 'font-weight: 400'}>#
          pixelache
      .follow
        .row
          .small-12.columns
            .follow_us_title Follow us on
            .icons
              = link_to image_tag(theme_image_path('follow_fb.png')), 'https://www.facebook.com/pixelache'
              = link_to image_tag(theme_image_path('follow_twitter.png')), 'https://twitter.com/pixelache'
              = link_to image_tag(theme_image_path('follow_vimeo.png')), 'https://vimeo.com/pixelache'
              = link_to image_tag(theme_image_path('follow_bambuser.png')), 'http://bambuser.com/channel/pixelversity'
              = link_to image_tag(theme_image_path('follow_flickr.png')), 'https://www.flickr.com/photos/pixelache/'
              = link_to image_tag(theme_image_path('follow_git.png')), 'https://github.com/pixelache'
              = link_to image_tag(theme_image_path('follow_rss.png')), '/feed'                      
              
      .newsletter
        .row
          .small-1.columns.text-right.hide-for-small-only= image_tag theme_image_path('megaphone.png')
          .small-12.medium-5.columns.text-left.subscribe
            Subscribe to our monthly newsletter:
          .small-12.columns.medium-6
            = form_tag url_for('/add_to_list'), :id => :email_form, :method => :post, :remote => true do 
              .row
                .small-7.medium-7.medium-offset-0.small-offset-1.columns.text-left
                  #mailing_list_loading{:style => 'display: none'}= image_tag('/assets/ajax-loader.gif')
                  #email_error
                  .email_signup_form   
                    = text_field_tag :email, t(:email_address), { :class => "clearfield"}
                .small-2.end.medium-1.column{style: "float: left !important;"}
                  %button{:class => :email_signup , :type => :submit , :id => :mailing_list_submit}= t(:join)

      .bottom_footer.container
        .row
          .medium-3.small-12.columns.fine_print.small-text-center.medium-text-left
            = link_to image_tag(theme_image_path('PA_logo.png'), :alt => "Pixelache"), '/'
            %p office@pixelache.ac
            %br/
            %p Kaasutehtaankatu 1/21
            %p Suvilahti (Bldg. 7)
            %p 00540 Helsinki
            %p Finland
          .small-12.medium-9.columns.footer_menu
            .row
              .small-6.medium-3.columns.text-left.large-offset-1
                .heading.medium-text-right.small-text-center= link_to t(:about), page_path('about')
              .small-6.medium-3.columns.text-left
                .heading.medium-text-left.small-text-center= t(:activities)
                %ul
                  %li= link_to t(:events), events_path
                  %li= link_to t(:the_festival), festivals_path
                  %li= link_to t(:projects), projects_path
                  %li= link_to t(:residencies), page_path('residencies')
              .small-6.medium-2.columns.text-left
                .heading.medium-text-left.small-text-center= t(:people)
                %ul
                  %li= link_to t(:collaborators), '/pages/collaborators'
                  %li= link_to t(:members), '/members'
                  %li= link_to t(:network), '/pages/network'
              .small-6.medium-3.columns.text-left
                .heading.medium-text-left.small-text-center= t(:archive)
                .row
                  - (Time.now.year - 1).downto(2002).each do |year|
                    .small-6.columns= link_to year.to_s, "/archive/#{year.to_s}"
                    
      :javascript
        $(document).ready(function() {
          $('.clearfield').clearField();
          $('form#email_form').submit(function() {
            $("#mailing_list_loading").toggle();
            $('button#mailing_list_submit').prop('disabled', true);
            $('.email_signup_form').fadeOut();
          });
          if(!!('ontouchstart' in window)) {
            $('a.menu_link_anchor').unbind('click');
          }
            
          #{yield :jquery}
          
        });

    / ! end of #container
