!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = display_meta_tags :site => 'Pixelache' 
    
    %meta{:content => content_for?(:description) ? yield(:description) : "Pixelinfra", :name => "description"}
      %link{:href => "http://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700", :rel => "stylesheet", :type => "text/css"}/
      %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700", :rel => "stylesheet", :type => "text/css"}/
      = stylesheet_link_tag "application", :media => "all"
      = stylesheet_link_tag 'pixelache/stylesheets/application', :media => :screen
      = stylesheet_link_tag 'pixelache/stylesheets/mobile', :media => :screen
      = javascript_include_tag "application"
      = javascript_include_tag "vendor/modernizr"
      = javascript_include_tag "pixelache/javascripts/application"

      - if controller.controller_name == 'events' || controller.controller_name == 'home'
        %script{:src => "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API_KEY']}", :type => "text/javascript"}
      :javascript
        var switchTo5x=true;
      %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
      :javascript
        stLight.options({publisher: "f1108f07-cb4f-4f90-a2a5-f66a2b227eb4", doNotHash: true, doNotCopy: true, hashAddressBar: false});
      = csrf_meta_tags
      = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #container.container
      %header
        .top-bar-wrapper.sticky= render 'layouts/top_bar'
        - unless @festival
          .arrow-down.sticky
          .arrow-up
        .pixelache_nav_menu.sticky{:class => content_for?(:festival_menu) ? :festival_menu : :black, :style => content_for?(:festival_menu) ?  "background-color: #" + (@festival.background_colour.blank? ? "#FFF" : @festival.background_colour) + "; color: #" + (@festival.primary_colour.blank? ? "#FFF" : @festival.primary_colour) : false } 
          - if content_for? :festival_menu
            = yield :festival_menu
          - else
            = render :partial => 'layouts/nav_menu'
        - if content_for? :page_tree
          .page_tree.sticky.sub
            = yield :page_tree


        
        = render 'layouts/messages'

      #main{:role => "main"}

          
        = yield
    %footer
      .hashtag.row
        .small-12.columns
          %span{:style => 'font-weight: 400'}>#
          pixelache
      .follow
        .row
          .small-12.columns
            .title Follow us on
            .icons
              = link_to image_tag(theme_image_path('follow_fb.png')), 'https://www.facebook.com/pixelache'
              = link_to image_tag(theme_image_path('follow_twitter.png')), 'https://twitter.com/pixelache'
              = link_to image_tag(theme_image_path('follow_vimeo.png')), 'https://vimeo.com/pixelache'
              = link_to image_tag(theme_image_path('follow_bambuser.png')), 'http://bambuser.com/channel/pixelversity'
      .newsletter
        .row
          .small-1.columns.text-right.hide-for-small-only= image_tag theme_image_path('megaphone.png')
          .small-12.medium-5.columns.text-left.subscribe
            Subscribe to our monthly newsletter:
          .small-12.columns.medium-6
            = form_tag url_for('/add_to_list'), :id => :email_form, :method => :post, :remote => true do 
              .row
                .small-7.medium-7.medium-offset-0.small-offset-1.columns.text-left
                  #mailing_list_loading{:style => 'display: none'}= image_tag('/assets/ajax-loader.gif')
                  #email_error
                  .email_signup_form   
                    = text_field_tag :email, t(:email_address), { :class => "clearfield"}
                .small-2.end.medium-1.column{style: "float: left !important;"}
                  %button{:class => :email_signup , :type => :submit , :id => :mailing_list_submit}= t(:join)

      .bottom_footer.container
        .row
          .medium-2.small-12.columns.fine_print.small-text-center.medium-text-left
            = link_to image_tag(theme_image_path('PA_logo.png'), :alt => "Pixelache"), '/'
            %p office@pixelache.ac
            %p +358-50-5643463
            %br/
            %p Kassutehtaankatu 1/21
            %p Suvilahti (Bldg. 7)
            %p 00540 Helsinki
            %p Finland
          .small-12.medium-10.columns.right.footer_menu
            .row
              .small-6.medium-2.columns.text-left.medium-offset-3
                .heading.medium-text-left.small-text-center= link_to t(:about), page_path('about')
              .small-6.medium-2.columns.text-left
                .heading.medium-text-left.small-text-center= t(:activities)
                %ul
                  %li= link_to t(:events), events_path
                  %li= link_to t(:the_festival), festivals_path
                  %li= link_to t(:projects), projects_path
                  %li= link_to t(:residencies), page_path('residencies')
              .small-6.medium-2.columns.text-left
                .heading.medium-text-left.small-text-center= t(:people)
                %ul
                  %li= link_to t(:collaborators), '#'
                  %li= link_to t(:members), '#'
                  %li= link_to t(:network), '#'
              .small-6.medium-3.columns.text-left
                .heading.medium-text-left.small-text-center= t(:archive)
                .row
                  - (Time.now.year - 1).downto(2002).each do |year|
                    .small-6.columns= link_to year.to_s, "/archive/#{year.to_s}"
                    
      :javascript
        $(document).ready(function() {
          $('.clearfield').clearField();
          $('form#email_form').submit(function() {
            $("#mailing_list_loading").toggle();
            $('button#mailing_list_submit').prop('disabled', true);
            $('.email_signup_form').fadeOut();
          });
          $('.arrow-down').mouseover(function() {
            var t = parseInt($('.pixelache_nav_menu').css('height'));
            down_pixelache_menu();
            $('.page_tree').animate({top: (t + 40) + 'px'}, 400);
            // $(":animated").promise().done(function() {
            //
            //   $('.page_tree').css('top', (t + 40) + 'px');
            // });
          });
          $('.arrow-up').mouseover(function() {
            up_pixelache_menu();
            $('.page_tree').animate({top: '40px'}, 400);
          });
          #{yield :jquery}
        });
    / ! end of #container
