!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = display_meta_tags :site => 'Pixelache' 
    
    %meta{:content => content_for?(:description) ? yield(:description) : "Pixelinfra", :name => "description"}
      %link{:href => "http://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700", :rel => "stylesheet", :type => "text/css"}/
      %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700", :rel => "stylesheet", :type => "text/css"}/
      = stylesheet_link_tag "application", :media => "all"
      = stylesheet_link_tag 'pixelache/stylesheets/application', :media => :screen
      = javascript_include_tag "application"
      = javascript_include_tag "vendor/modernizr"
      = javascript_include_tag "pixelache/javascripts/application"
      :javascript
        var switchTo5x=true;
      %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
      :javascript
        stLight.options({publisher: "f1108f07-cb4f-4f90-a2a5-f66a2b227eb4", doNotHash: true, doNotCopy: true, hashAddressBar: false});
      = csrf_meta_tags
      = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #container.container
      %header
        .contain-to-grid.sticky= render 'layouts/top_bar'
        = render 'layouts/messages'

      #main{:role => "main"}
        = yield
    %footer
      .hashtag
        %span{:style => 'font-weight: 400'}>#
        pixelache
      .follow
        .title Follow us on
        .icons
          = link_to image_tag(theme_image_path('follow_fb.png')), 'https://www.facebook.com/pixelache'
          = link_to image_tag(theme_image_path('follow_twitter.png')), 'https://twitter.com/pixelache'
          = link_to image_tag(theme_image_path('follow_vimeo.png')),            'https://vimeo.com/pixelache'
          = link_to image_tag(theme_image_path('follow_bambuser.png')),            'http://bambuser.com/channel/pixelversity'
      .newsletter.container
        .row
          .small-1.columns= image_tag theme_image_path('megaphone.png')
          .small-11.columns
            Subscribe to our monthly newsletter:
      .bottom_footer.container
        .row
          .small-2.columns.fine_print
            %p office @ pixelache.ac
            %p +358-50-5643463
            %p
            %p Kassutehtaankatu 1/21
            %p Suvilahti (Bldg. 7)
            %p 00540 Helsinki
            %p Finland
              
      :javascript
        $(document).ready(function() {
          #{yield :jquery}
        });
    / ! end of #container
