!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = display_meta_tags :site => 'Pixelache' 
    
    %meta{:content => content_for?(:description) ? yield(:description) : "Pixelinfra", :name => "description"}
      %link{:href => "http://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700", :rel => "stylesheet", :type => "text/css"}/
      %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700", :rel => "stylesheet", :type => "text/css"}/
      = stylesheet_link_tag "application", :media => "all"
      = stylesheet_link_tag 'pixelache/stylesheets/application', :media => :screen
      = javascript_include_tag "application"
      = javascript_include_tag "vendor/modernizr"
      = javascript_include_tag "pixelache/javascripts/application"
      :javascript
        var switchTo5x=true;
      %script{:src => "http://w.sharethis.com/button/buttons.js", :type => "text/javascript"}
      :javascript
        stLight.options({publisher: "f1108f07-cb4f-4f90-a2a5-f66a2b227eb4", doNotHash: true, doNotCopy: true, hashAddressBar: false});
      = csrf_meta_tags
      = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #container.container
      %header
        .contain-to-grid.sticky= render 'layouts/top_bar'
        = render 'layouts/messages'

      #main{:role => "main"}
        = yield
    %footer
      .hashtag
        %span{:style => 'font-weight: 400'}>#
        pixelache
      .follow
        .title Follow us on
        .icons
          = link_to image_tag(theme_image_path('follow_fb.png')), 'https://www.facebook.com/pixelache'
          = link_to image_tag(theme_image_path('follow_twitter.png')), 'https://twitter.com/pixelache'
          = link_to image_tag(theme_image_path('follow_vimeo.png')),            'https://vimeo.com/pixelache'
          = link_to image_tag(theme_image_path('follow_bambuser.png')),            'http://bambuser.com/channel/pixelversity'
      .newsletter.container
        .row
          .small-1.columns.text-right= image_tag theme_image_path('megaphone.png')
          .small-5.columns.text-left.subscribe
            Subscribe to our monthly newsletter:
          = form_tag url_for('/add_to_list'), :id => :email_form, :method => :post, :remote => true do 
            .small-5.columns.text-left
              #mailing_list_loading{:style => 'display: none'}= image_tag('/assets/ajax-loader.gif')
              #email_error
              .email_signup_form   
                = text_field_tag :email, t(:email_address), { :class => "clearfield"}
            .small-1.column
              %button{:class => :email_signup , :type => :submit , :id => :mailing_list_submit}= t(:join)

      .bottom_footer.container
        .row
          .small-2.columns.fine_print
            = link_to image_tag(theme_image_path('PA_logo.png'), :alt => "Pixelache"), '/'
            %p office@pixelache.ac
            %p +358-50-5643463
            %br/
            %p Kassutehtaankatu 1/21
            %p Suvilahti (Bldg. 7)
            %p 00540 Helsinki
            %p Finland
          .small-6.columns.right.footer_menu
            .row
              .small-2.columns.text-left
                .heading.text-center= link_to t(:about), page_path('about')
              .small-3.columns.text-left
                .heading.text-center= t(:activities)
                %ul
                  %li= link_to t(:events), events_path
                  %li= link_to t(:the_festival), festivals_path
                  %li= link_to t(:projects), projects_path
                  %li= link_to t(:residencies), page_path('residencies')
              .small-3.columns.text-left
                .heading.text-center= t(:people)
                %ul
                  %li= link_to t(:collaborators), '#'
                  %li= link_to t(:members), '#'
                  %li= link_to t(:network), '#'
              .small-3.columns.text-left
                .heading.text-center= t(:archive)
                .row
                  - (Time.now.year - 1).downto(2002).each do |year|
                    .small-6.columns= link_to year.to_s, '#'
      :javascript
        $(document).ready(function() {
          $('.clearfield').clearField();
          $('form#email_form').submit(function() {
            $("#mailing_list_loading").toggle();
            $('button#mailing_list_submit').prop('disabled', true);
            $('.email_signup_form').fadeOut();
          });
          #{yield :jquery}
        });
    / ! end of #container
