.row
  .small-12.columns
    %h1
      = @festival.name
      = link_to fa_icon('gear'), edit_admin_festival_path(@festival)
      = link_to fa_icon('heart'), @festival, alt: 'View on public site'
- if @festival.has_listserv == true
  .row
    .small-12.columns
      %fieldset
        %label Mailing list
        %h4
          Mailing list for festival:
          %em= @festival.listservname + "@" + ENV['PIXELACHE_MAILMAN_SERVER']

        .row
          .small-12.columns
            - if current_user.subscribed_to?(@festival)
              %p
                You are currently subscribed to receive emails to
                %em= current_user.email
              = link_to 'Unsubscribe', unsubscribe_admin_festival_path(@festival), class: [:button, :alert, :round, :tiny]
            - else
              = link_to 'Subscribe to mailing list', subscribe_admin_festival_path(@festival), class: [:button,  :round, :tiny]
        .row
          .small-12.columns
            %h6 All subscriptions
            - @festival.all_members.each do |member|
              - if u = User.find_by(email: member["email"])
                - if u.subscribed_to?(@festival)
                  = u.email
                - else
                  = u.email + " (not in local DB)"
            - if can? :edit, @festival
              .row
                .small-12.columns
                  %h6 Add to list:
                  = form_tag subscribe_other_admin_festival_path(@festival) do
                    = text_field_tag :email       
                    
.row                    
  .medium-4.medium-offset-1.small-12.columns.panel.end.limited
    %h4 Documents
    %p
      %small= fa_icon('eye') + " = public, will show on generated 'Publications' page"
    - unless @festival.attachments.empty?
      - @festival.attachments.order('updated_at DESC').each do |doc|
        .entry
          - if doc.public
            = fa_icon('eye')
          = link_to doc.title.blank? ? doc.attachedfile : doc.title, doc.attachedfile.url
          %small= time_ago_in_words(doc.updated_at) + " ago"
          - unless doc.description.blank?
            .description= doc.description
          - unless doc.documenttype.blank?
            .date= doc.documenttype.name
            
  .row
    .small-12.columns
      %h4 Upload attachments to project
      = semantic_nested_form_for [:admin, @festival], html: {multipart: true } do |f|
        = f.fields_for :attachments do |ff|
          .medium-4.columns.small-12.panel
            = ff.input :attachedfile
            = ff.input :documenttype
            = ff.input :title
            = ff.input :description
            = ff.input :public, as: :boolean, label: 'Downloadable by public?', hint: 'Tick to appear on project documents page'
            = ff.link_to_remove 'Remove this attachment', class: [:button, :round, :alert, :tiny]
        = f.link_to_add 'Add an attachment', :attachments, class: [:button, :round, :tiny]
        %p= f.submit 'Upload', class: [:button, :round,  :small]
        
                                       
.row
  .small-12.columns= link_to 'Back to all festivals', admin_festivals_path, class: [:button, :round, :tiny]