!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "mediataiteen dokumentointi"
      %meta{:content => content_for?(:description) ? yield(:description) : "OLSOF project", :name => "description"}
      = stylesheet_link_tag "application", :media => "all"
      %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,500,700,300", :rel => "stylesheet", :type => "text/css"}/
      = stylesheet_link_tag 'documenting/stylesheets/application', :media => :screen
      = csrf_meta_tags
      
      = yield(:head)
      
  %body{:class => "#{controller_name} #{action_name}"}
    = javascript_include_tag "application"
    = javascript_include_tag "vendor/modernizr"
    - if user_signed_in?
      %header
        .contain-to-grid.sticky= render 'admin/layouts/navigation'
    .row.expanded
      .large-4.small-12.columns.push.small-offset-0#sidebar
        .row.expanded
          .logo_container.medium-8.large-12.large-offset-0.columns.small-centered
            .subtitle tilallisen ja tapahtumallisen
            .logo
              .first= link_to 'mediataiteen', '/'
            .logo
              .second= link_to 'dokumentointi', '/'


        .row.expanded
          .logo_image.text-center.medium-9.large-12.large-offset-0.columns.small-centered
            = image_tag current_theme_image_path('hybrid.png'), :class => :navbg

          = yield :sidebar

      .large-8.small-12.pull.columns#middle.medium-offset-0.large-offset-0

        
        = yield :middle

        .right_wrap.row.expanded.show-for-large-up
          .small-12.columns
            .language
              .default
                .active= image_tag(current_theme_image_path('black_circle.png'))
                .current= I18n.locale.to_s
              .choices
                - [:en, :fi, :fr]. each do |lang|
                  - next if lang == I18n.locale
                  .choice
                    = link_to(:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => lang.to_s) do
                      .choice_circle= image_tag(current_theme_image_path('black_circle.png'))
                      .choice_text= lang.to_s
          
        .row.expanded
          .small-12.small-offset-0.medium-10.medium-offset-1.columns#main= yield
    %footer.olsof-footer
      .row.expanded  
        .small-12.columns.text-center.info_line
          = link_to 'Contact', 'mailto:office@pixelache.ac'
          |
          2016
          |
          = link_to 'GitHub', 'https://github.com/pixelache/pixelinfra'
      .row.expanded 
        .small-12.medium-7.medium-centered.columns.logos
          = link_to image_tag(theme_image_path('pixelache_logo.png')), 'http://pixelache.ac/'
          = link_to image_tag(theme_image_path('avarkki_logo.png')), 'http://www.av-arkki.fi/'
          = link_to image_tag(theme_image_path('mcult_logo.png')), 'http://www.m-cult.org/'
    :javascript
      $(document).ready(function() {
        #{yield :jquery}
      });
