.row
  .small-10.columns
    %h2 Event registrations
.filter_box.row
  .large-8.columns
    .filter_title Filter by activity:
    %select#by_activity
      %option{:value => ""} &nbsp;
      - @filters.each do |filter|
        %option{:value => "by_#{filter.class.to_s.downcase}=#{filter.id}", :selected => (params["by_#{filter.class.to_s.downcase}"] == filter.id.to_s ? :selected : false)}= "#{filter.name} (#{l filter.feed_time, format: :long})"

  - if params[:by_event]
    .event_info.small-12.columns
      - event = Event.find(params[:by_event])
      - if event.max_attendees
        %p= pluralize(event.attendees.size, 'registration')
        %p= pluralize(event.max_attendees, 'total place')
      %p= link_to 'See all', attendees_admin_event_path(event), class: [:button, :tiny, :round ]
      %p= link_to 'Download as .csv', attendees_admin_event_path(event, format: :csv), class: [:button, :tiny, :secondary]
      
  - if params[:by_post]
    .event_info.small-12.columns
      - post = Post.find(params[:by_post])
      - if post.max_attendees
        %p= pluralize(post.attendees.size, 'registration')
        %p= pluralize(post.max_attendees, 'total place')
      %p= link_to 'See all', attendees_admin_post_path(post), class: [:button, :tiny, :round ]
      %p= link_to 'Download as .csv', attendees_admin_post_path(post, format: :csv), class: [:button, :tiny, :secondary]
            
  :javascript
    $('.filter_box select').change(function() {
      var parts = "#{request.url}".split(/\?/, 2);
        window.location.href=parts[0] + "?" + $(this).val();
    });
.row
  .small-6.columns= paginate @attendees
.row
  .small-10.columns 
    %table
      %thead
        %th Activity
        %th Name
        %th When
        %th Actions
      %tbody
        - @attendees.sort_by(&:created_at).reverse.each do |att|
          %tr
            %td= att.item.name
            %td
              = att.name
              - if att.waiting_list
                %strong WAITING LIST
            %td= att.created_at.strftime("%d %B %Y %H:%M") unless att.created_at.nil?
            %td
              - if can? :edit, att
                = link_to 'Edit', edit_admin_attendee_path(att),  :class => [:button, :round, :tiny]
              - if can? :destroy, att
                = link_to 'Delete', [:admin, att], :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => [:button, :round, :alert, :tiny]
.row
  .small-6.columns= paginate @attendees            
          