.row
  .small-10.columns
    %h2 Event registrations
.filter_box.row
  .large-8.columns
    .filter_title Filter by activity:
    %select#by_activity
      %option{:value => ""} &nbsp;
      - @filters.each do |filter|
        %option{:value => "by_#{filter.class.to_s.downcase}=#{filter.id}", :selected => (params["by_#{filter.class.to_s.downcase}"] == filter.id.to_s ? :selected : false)}= "#{filter.name} (#{l filter.feed_time, format: :long})"

  :javascript
    $('.filter_box select').change(function() {
      var parts = "#{request.url}".split(/\?/, 2);
        window.location.href=parts[0] + "?" + $(this).val();
    });
.row
  .small-6.columns= paginate @attendees
.row
  .small-10.columns 
    %table
      %thead
        %th Activity
        %th Name
        %th When
        %th Actions
      %tbody
        - @attendees.sort_by(&:created_at).reverse.each do |att|
          %tr
            %td= att.item.name
            %td
              = att.name
              - if att.waiting_list
                %strong WAITING LIST
            %td= l att.created_at unless att.created_at.nil?
            %td
              - if can? :destroy, att
                = link_to 'Delete', [:admin, att], :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => [:button, :round, :alert, :tiny]
.row
  .small-6.columns= paginate @attendees            
          