.page
  .row
    .small-12.columns.large-10.large-offset-1.title= t :publications
  .row
    .small-12.columns.large-10.large-offset-1.content
      = image_tag theme_image_path('i-publications.png')
      - @interviews.group_by(&:documenttype).each do |d|
        - if d.first.nil?
          %h3= t :other_documents
        - else
          %h3= d.first.name
        - d.last.each do |i|
          %p.publication
            = i.title
            = link_to raw("&#9654;"), i.attachedfile.url
      - unless @videos.empty?
        %h3= t :videos
        - @videos.each do |v|
          %p.publication
            = v.event.name
            = link_to raw("&#9654;"), v.url, target: :_blank
