.top-bar.admin{:"data-sticky" => '', style: "width:100%", :'data-margin-top' => '0', :'data-margin-bottom' => '0'}
  .top-bar-left
    %ul.menu
      %li.menu-text
        %h3 Admin
    
  .top-bar-left
    - if current_user
      %ul.dropdown.menu{:'data-dropdown-menu' => ''}
        %li
          %a{:href=> '#'}= current_user.username
          %ul.menu
            %li= link_to 'Public side', '/'
            %li= link_to 'Edit your profile', edit_user_path(current_user)
            %li= link_to 'Sign out', '/signout'
     
        %li.has-form
          = form_tag('/admin/search') do |f|
            .row.collapse
              .small-10.columns= text_field_tag :searchterm, 'Search'
        = content_for :jquery do
          :plain 
            $('input#searchterm').clearField();
    - else
      %ul.right
        %li.active= link_to 'Sign in', 'http://auth.pixelache.ac/users/sign_in'
    
  - if current_user
    .top-bar-left
      - unless current_user.roles.empty?
        = render :partial => 'admin/layouts/admin_bar'

  