%nav.top-bar.admin{:"data-topbar" => ""}
  %ul.title-area
    %li.name
      %h1= Admin
    %li.toggle-topbar.menu-icon= link_to 'Menu', '#'
  %section.top-bar-section
    - if current_user
      %ul.right
        %li.has-dropdown
          %a{:href=> '#'}= current_user.username
          %ul.dropdown
            %li= link_to 'Edit your profile', edit_user_registration_path(current_user)
            %li= link_to 'Sign out', '/signout'
      %ul.right
        %li.has-form
          = form_tag('/admin/search') do |f|
            .row.collapse
              .small-10.columns= text_field_tag :searchterm, 'Search'
        = content_for :jquery do
          :plain 
            $('input#searchterm').clearField();
    - else
      %ul.right
        %li.active= link_to 'Sign in', 'http://auth.pixelache.ac/users/sign_in'
    
    - if current_user

      - unless current_user.roles.empty?
        = render :partial => 'admin/layouts/admin_bar'

  