%tr
  %td= link_to flickrset.title, "http://www.flickr.com/photos/pixelache/sets/#{flickrset.flickr_id}/", :target => :_blank
  %td= l flickrset.last_modified_date, :format => :long unless flickrset.last_modified_date.blank?
  %td= flickrset.subsite.name
  %td
    .small
      - unless flickrset.event.blank?
        %p.metadata= link_to flickrset.event.event_with_date,  flickrset.event, :target => :_blank
      - unless flickrset.project.blank?
        %p.metadata= link_to flickrset.project.name, flickrset.project, :target => :_blank
      - unless flickrset.festival.blank?
        %p.metadata= link_to flickrset.festival.name, flickrset.festival, :target => :_blank
  %td.actions
    = link_to 'Categorise', edit_admin_flickrset_path(flickrset), class: [:button, :tiny, :round]
