= semantic_form_for [:admin, @flickrset], :html => {:class => "custom" } do |f|
  .row
    .small-9.columns
      %h2= link_to @flickrset.title, "http://www.flickr.com/photos/pixelache/sets/#{@flickrset.flickr_id}/", :target => :_blank
  .row
    .small-3.columns= f.input :subsite, :label => "Site"
  .row
    .small-3.columns= f.input :project, :collection => Project.active_menu
  .row
    .small-3.columns= f.input :festival
  .row
    .small-6.columns
      %h5 Connected to an event?
      = f.input :event_name, :as => :autocomplete, :url =>  autocomplete_event_name_admin_flickrsets_path, :input_html => { :id_element => '#flickrset_event_id', :data => {:no_matches_label => 'Not in database yet'}}, :label => "Type the first few letters of the event name", :hint => raw("(If the event is not already the database, <a href=\"/admin/events/new\" target=\"_blank\">create it first.</a>)")
    .small-6.columns= f.input :event_id, :as => :hidden
  = f.submit 'Save', :class => [:button, :small, :round]