.row
  .small-12.columns
    %h3 Users
    %table.table.table-condensed
      %thead
        %tr
          %th Username
          %th Email
          %th Registered
          %th Role
          %th
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to user.name, [:admin,  user]
            %td= user.email
            %td= user.created_at.to_date
            %td= user.roles.map{|x| x.name.titleize}.join(', ') unless user.roles.empty?
            %td
              %a.button.round.tiny{"data-toggle" => "modal", "data-reveal-id" => "role-options-#{user.id}", :type => "button"} Change role
              = render user
            %td
              - if can? :edit, user
                = link_to t(:edit), edit_admin_user_path(user), class: [:button, :round, :small]
              - if can? :delete, user
                = link_to("Delete user", admin_user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button alert tiny round') unless user == current_user
