= content_for :page_tree do  
  .left_collapse
    - @page.self_and_ancestors.reverse.each do |p|
      - if p == @page
        %strong= p.name
      - else
        %span.leaf
          = link_to p.name, p
          = " : "

.residency_container
  .row
    .medium-4.small-12.columns.right.residencies_nav
      .magellan-scrollnav
        %div{:"data-magellan-expedition" => :fixed, :"data-options" => "threshold:100;destination_threshold:120;fixed_top:80" }
          %dl.sub-nav.accordion{:"data-accordion" => "", :"data-options" => "multi_expand:false"}
            %dd.accordion-navigation{:"data-magellan-arrival" => :top }
              = link_to t(:production_residencies), "#production"
              .content#production
                - @production.each_with_index do |res, index|
                  .subchild{:class => index == (@production.size - 1) ? :last : false}
                    = link_to res.name, res
                    %p.metadata
                      = l res.start_at, format: "%B %Y"
                      - if [res.end_at.month, res.end_at.year] != [res.start_at.month, res.start_at.year]
                        = " - " + l(res.end_at, format: "%B %Y")
            %dd.accordion-navigation{:"data-magellan-arrival" => :top2 }
              = link_to t(:microresidencies), "#microresidencies"
              .content#microresidencies
                - @microresidencies.each_with_index do |res, index|
                  .subchild{:class => index == (@microresidencies.size - 1) ? :last : false}
                    = link_to res.name, res
                    %p.metadata
                      = l res.start_at, format: "%B %Y"
                      - if [res.end_at.month, res.end_at.year] != [res.start_at.month, res.start_at.year]
                        = " - " + l(res.end_at, format: "%B %Y")
                
                
                
    .small-12.medium-7.medium-offset-1.columns
      
      .row{:"data-magellan-destination" => :top }
        .small-11.small-centered.medium-12.medium-left.columns.title= raw @page.name

      .row{:"data-magellan-destination" => :top2 }
        .small-11.small-centered.medium-12.medium-left.columns.body
          = raw simple_format(@page.body)

      - if can? :edit, @page
        .row
          .small-12.columns
            %small.hide-for-small-only= link_to t(:edit), edit_admin_subsite_page_path(@page.subsite, @page.id), class: [:button, :secondary, :tiny]
        

