= content_for :page_tree do  
  .left_collapse
    - @page.self_and_ancestors.reverse.each do |p|
      - if p == @page
        %strong= p.name
      - else
        %span.leaf
          = link_to p.name, p
          = " : "

.residency_container
  .row.expanded
    .medium-3.small-12.columns.float-right.residencies_nav
    

            
      .magellan-scrollnav{:"data-sticky-container" => ''}
        %nav.sticky{:'data-sticky' => '', :'data-sticky-on' => 'medium', :'data-margin-top' => '7'}
          %ul.vertical.menu.sub-nav{:"data-magellan" => '', :'data-bar-offset' => '100', :"data-accordion-menu" => ''}
            %li.accordion-navigation{:"data-magellan-arrival" => :top }
              = link_to t(:production_residencies), "#production"
              %ul.menu.vertical.nested.content#productio
                - @production.each_with_index do |res, index|
                  %li.subchild{:class => index == (@production.size - 1) ? :last : false}
                    = link_to res.name, res
                    %p.metadata
                      = l res.start_at, format: "%B %Y"
                      - if [res.end_at.month, res.end_at.year] != [res.start_at.month, res.start_at.year]
                        = " - " + l(res.end_at, format: "%B %Y")
                        
            %li.accordion-navigation{:"data-magellan-arrival" => :top2 }
              = link_to t(:microresidencies), "#microresidencies"
              %ul.menu.vertical.nested.content#microresidencies
                - @microresidencies.each_with_index do |res, index|
                  %li.subchild{:class => index == (@microresidencies.size - 1) ? :last : false}
                    = link_to res.name, res
                    %p.metadata
                      = l res.start_at, format: "%B %Y"
                      - if [res.end_at.month, res.end_at.year] != [res.start_at.month, res.start_at.year]
                        = " - " + l(res.end_at, format: "%B %Y")
                
                
                
    .small-12.medium-8.left.large-offset-1.columns
      
      .row.expanded{:"data-magellan-destination" => :top }
        .small-11.small-centered.medium-12.medium-left.columns.title= raw @page.name

      .row.expanded{:"data-magellan-destination" => :top2 }
        .small-11.small-centered.medium-12.medium-left.columns.body
          = raw pixelache_format(@page.body)

      - if can? :edit, @page
        .row.expanded
          .small-12.columns
            %small.hide-for-small-only= link_to t(:edit), edit_admin_subsite_page_path(@page.subsite, @page.id), class: [:button, :secondary, :tiny]
        

