= content_for :page_tree do
  .left-collapse
    = link_to t(:residencies), residencies_path
    %span.leaf
      = " : "
    %strong= link_to @residency.name, @residency
        

.residency_container
  .row.expanded
    .small-12.medium-3.columns.float-right.residencies_nav
      .magellan-scrollnav{:"data-sticky-container" => ''}
        %nav.sticky{:'data-sticky' => '', :'data-sticky-on' => 'medium', :'data-margin-top' => '7'}
          %ul.vertical.menu.sub-nav{:"data-magellan" => '', :'data-bar-offset' => '100', :"data-accordion-menu" => ''}
            %li.accordion-navigation{:"data-magellan-arrival" => :top }
              = link_to t(:production_residencies), "#production"
              %ul.vertical.nested.menu.content#production{class: @production.include?(@residency) ? :active : false}
                - @production.each_with_index do |res, index|
                  %li.subchild{:class => [index == (@production.size - 1) ? :last : false, @residency == res ? :active : false]}
                    = link_to res.name, res
                    %p.metadata
                      = l res.start_at, format: "%B %Y"
                      - if [res.end_at.month, res.end_at.year] != [res.start_at.month, res.start_at.year]
                        = " - " + l(res.end_at, format: "%B %Y")
            %dd.accordion-navigation{:"data-magellan-arrival" => :top2 }
              = link_to t(:microresidencies), "#microresidencies"
              .content#microresidencies{class: @microresidencies.include?(@residency) ? :active : false}
                - @microresidencies.each_with_index do |res, index|
                  .subchild{:class => [index == (@microresidencies.size - 1) ? :last : false, @residency == res ? :active : false] }
                    = link_to res.name, res
                    %p.metadata
                      = l res.start_at, format: "%B %Y"
                      - if [res.end_at.month, res.end_at.year] != [res.start_at.month, res.start_at.year]
                        = " - " + l(res.end_at, format: "%B %Y")  
  
  
  
    .small-10.left.medium-7.columns.small-offset-1.medium-offset-0
      .row.expanded
        .small-12.columns.title
          = raw @residency.name
          .country= @residency.country_override.blank? ? (@residency.country.size == 2 ?  ISO3166::Country[@residency.country].iso_short_name : @residency.country ) : @residency.country_override
          .date
            = l @residency.start_at, format: "%B %Y"
            - if [@residency.end_at.month, @residency.end_at.year] != [@residency.start_at.month, @residency.start_at.year]
              = " - " + l(@residency.end_at, format: "%B %Y")
      .row.expanded
        .small-12.columns.body
          - if @residency.photo?
            = image_tag @residency.photo.url
          %p= raw pixelache_format(@residency.description)
          - if can? :edit, @residency
            %small.hide-for-small-only= link_to t(:edit), edit_admin_residency_path(@residency), class: [:button, :secondary, :tiny]
      - unless @residency.related_content.empty?
        .related_container.row.post
          .small-12.columns
            .row.expanded
              .small-12.columns.related_title
                %h1= t(:related_content)
            .row.expanded
              .small-12.columns
                - @residency.related_content[0..5].each do |related|
                  .row.expanded
                    = render :partial => 'shared/related', locals: {item: @residency, related: related }
                
                

                                              
        
