
= content_for :page_tree do
  .row.left-collapse
    %span.leaf
      = link_to t(:projects), projects_path
      = ' : '
    - @project.self_and_ancestors.reverse.each do |p|
      - if p == @project
        %strong= p.name
      - else
        %span.leaf
          = link_to p.name, p
          = " : "
              
.outer.project_detail.row
  .small-9.columns
    .title_wrapper  
      .project_title= @project.name
    .description
      = raw @project.description
    .share_this= render :partial => 'shared/share_this_buttons'

        
        
    - if @project.self_and_descendants.map{|x| x.events.published }.flatten.size > 2
      .events_wrapper
        .row
          .small-12.columns.text-left
            .wrapper_title= t :all_events
          
            .events_carousel.row
              - @project.self_and_descendants.map{|x| x.events.published }.flatten.sort_by{|x| x.start_at }.reverse[0..8].each do |e| 
                - if e.image?
                  = render :partial => 'events/event_cube', locals: {event: e }

    - unless @activities.empty?
      .activities_wrapper
        .wrapper_title= t :all_activity
        #activities= render :partial => 'activities'



        
      - unless @project.pages.empty? && @project.children.empty?
        .small-4.columns
      
          -# pages
          - unless @project.pages.empty?
            .children
              %h3= t(:more_information)
              - @project.pages.roots.first.children.each do |child|
                .child= link_to child.name, project_page_path(@project, child)
          
          - unless @project.children.empty?
            %h3= t(:subprojects_and_events)
            - if @project.children.size > 1
              #projects_tree
                %ul
                  - @project.children.each do |subproject|
                    - next if subproject.evolvedfrom
                    = render :partial => 'projectnode', :locals => {:project => subproject}
              = content_for :jquery do
                :plain
                   $('#projects_tree').jstree();
                   jQuery("#projects_tree ul").on("click","li.jstree-node a",function(){
                       document.location.href = this; 
                   });
            - else
              %h4= link_to @project.children.first.name, @project.children.first
                      

    
                  
  .row
    .small-12.columns#paginator=  paginate @activities, :remote => true

= content_for :jquery do
  :plain
    $('.events_carousel').slick({infinite: true,
      slidesToShow: 3,
      adaptiveHeight: true,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 2400,
      slidesToScroll: 1
    });