
= content_for :page_tree do
  .left-collapse
    %span.leaf
      = link_to t(:projects), projects_path
      = ' : '
    - @project.self_and_ancestors.reverse.each do |p|
      - if p == @project
        %strong= p.name
      - else
        %span.leaf
          = link_to p.name, p
          = " : "

= content_for :project_tree do
  = render :partial => 'shared/projects_tree'
  
.outer.project_detail.row
  .small-12.medium-8.medium-offset-2.small-centered
    .row
      .small-12.columns
        .title_wrapper  
          .project_title= @project.name
    - unless @project.photos.empty?
      .row
        .small-12.columns.image_carousel
          - @project.photos.each do |photo|
            .slide= image_tag photo.filename.url(:standard)
    .row
      .small-12.columns.description= raw @project.description
    .row
      .small-12.columns
        .share_this= render :partial => 'shared/share_this_buttons'

        
    .row
      .small-12.columns
        - if @project.self_and_descendants.map{|x| x.events.published }.flatten.size > 2
          .events_wrapper
            .row
              .small-12.columns.text-left
                .wrapper_title= t :all_events
          
                .events_carousel.row
                  - @project.self_and_descendants.map{|x| x.events.published }.flatten.sort_by{|x| x.start_at }.reverse[0..8].each do |e| 
                    - if e.image?
                      = render :partial => 'events/event_cube', locals: {event: e }

        - unless @activities.empty?
          .activities_wrapper.row
            .small-12.columns
              .row
                .small-12.columns.wrapper_title= t :all_activity
              #activities= render :partial => 'activities'




                      

    
                  
      .row
        .small-12.columns#paginator=  paginate @activities, :remote => true

= content_for :jquery do
  :plain
    $('.events_carousel').slick({infinite: true,
      slidesToShow: 3,
      adaptiveHeight: true,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 2400,
      slidesToScroll: 1
    });
  - if @project.photos.size > 1
    :plain
      $('.image_carousel').slick({fade: true, arrows: false, autoplay: true, autoplaySpeed: 2900});