.row
  .small-12.columns
    %h3
      Submission for
      = @opencall.name
      
.row
  .small-12.columns
    %h4= @submission.name
    %p
      = @submission.email
      %br/
      = @submission.phone
      %br/
      = @submission.address
      %br
      = @submission.postcode + " " + @submission.city
      %br
      = Country[@submission.country].name rescue @submission.country.to_s
      %br/
      = @submission.website
      
- @submission.opencallanswers.each do |answer|      
  .row
    .small-12.columns.opencall_answers
      %label.label= answer.opencallquestion.question_text
      %br/
      - if answer.attachment?
        - if answer.attachment.url =~ /(jpg|jpeg|gif|png)/i
          = link_to image_tag(answer.attachment.url), answer.attachment.url, target: :_blank
        - else
          = link_to answer.attachment, answer.attachment.url, target: :_blank
      - elsif answer.answer =~ /http/i && answer.opencallquestion.question_type == 4
        = link_to answer.answer, answer.answer, target: :_blank
      - else
        = raw simple_format(answer.answer)
    