%section.hero
  .hero-body
    .container
      %h1.title= t(:news)
  
%section.section
  .container
    .columns.is-multiline  
      - @posts.each do |post|
        = link_to post, class: [:column, 'is-one-quarter-widescreen', 'is-one-third-desktop', 'is-half-tablet', 'is-full-mobile', :event_link] do

          .event_image
            = image_tag post.image.url(:box)
            -# .overlay &nbsp;
          .event_info
            .title= post.title
            .date= l post.published_at, format: :short
            .excerpt= raw(truncate_html(strip_tags(post.body.gsub(/&nbsp;/, ' ')), :length => 260))


= content_for :jquery do
  :plain
    $('#all_posts').infinitePages({
     debug: true,
     buffer: 200,
     loading() {
        // jQuery callback on the nav element
        return $(this).text("Loading...");
      },
      success() {},
        // called after successful ajax call
      error() {
        // called after failed ajax call
        return $(this).text("Trouble! Please drink some coconut water and click again");
      }
     });